<?xml version="1.0" encoding="utf-8"?>
<ROOT>
    <CONFIG>
        <name>sendmail</name>
        <comment>_SENDMAIL</comment>
        <file_prefix>sm</file_prefix>
        <loaded>true</loaded>
    </CONFIG>
    <HISTORY>
        <mailadd>true</mailadd>
        <mailup>true</mailup>
        <maildel>true</maildel>
    </HISTORY>
</ROOT>
