<h1 mat-dialog-title>Confirmer "Valider le document"</h1>
<div mat-dialog-content>
    <div *ngIf="loadingExport" class="loader">
        <mat-spinner></mat-spinner>
    </div>
    <div class="row">
        <div class="col-md-12">
            Voulez-vous faire cette action sur 
            <b *ngIf="data.contextMode && data.selectedRes.length == 0" color="primary" class="highlight">{{data.contextChrono}}</b>
            <b  *ngIf="!data.contextMode || (data.contextMode && data.selectedRes.length > 0)" color="primary" class="highlight">{{data.selectedRes.length}} élement(s)</b> ?
        </div>
    </div>
</div>
<div mat-dialog-actions class="actions">
    <button mat-raised-button mat-button color="primary">{{lang.validate}}</button>
    <button mat-raised-button mat-button [mat-dialog-close]="">{{lang.cancel}}</button>
</div>
