@import '../../../../css/vars.scss';

.mat-dialog-title {
    padding: 10px;
    display: flex;
    align-items: center;
}
.modal-container{
    min-height: 250px;
    height: auto;
}

.modal-body{
    min-height: auto;
}
