<mat-dialog-content style="overflow:inherit;">
    <h2 mat-dialog-title>{{lang.templateAssociateEntities}}</h2>
    <div class="modal-body">
        <div class="alert alert-warning" role="alert">
            <p><b>{{lang.templateCheckEntities}}{{lang['AR'+data.template_attachment_type]}}</b></p>
        </div>
        <mat-list>
            <mat-list-item *ngFor="let entity of data.entitiesList">
                <mat-icon mat-list-icon><i class="fa fa-share-alt" color="primary"></i></mat-icon>
                <span mat-line> {{entity.entity_label}} </span>
            </mat-list-item>
        </mat-list>
    </div>
    <mat-dialog-actions>
        <button mat-raised-button color="primary" type="submit"
            (click)="dialogRef.close()">{{lang.close}}</button>
    </mat-dialog-actions>

</mat-dialog-content>