.mat-dialog-content{
    height: auto !important;
    min-width: 30vw;
    max-height: 90vh;
    overflow: hidden !important;
}

.modal-body{
    min-height: auto;
}

mat-dialog-actions{
    justify-content: center;
}

mat-list{
    overflow: auto;
    max-height: 50vh;
}

.mat-dialog-content h2{
    margin-top: 20px;
}