<div mat-dialog-content>
    <div class="row">
        <div class="col-md-12 text-center">
            Voulez-vous <b color="primary" class="highlight">{{data.actionName}}</b>&nbsp;
            <b *ngIf="data.contextMode && data.selectedRes.length == 1" color="primary" class="highlight">{{data.contextChrono}}</b>
            <b *ngIf="!data.contextMode || (data.contextMode && data.selectedRes.length > 1)" color="primary" class="highlight">{{data.selectedRes.length}}
                élement(s)</b> ?
            <div class="alert-message alert-message-danger" role="alert" style="margin-top: 30px;">
                Cela actualisera la <b class="highlight">date de clôture</b> des courriers.
            </div>
        </div>
        <div class="col-md-12">
            <app-note-editor></app-note-editor>
        </div>
    </div>
</div>
<div mat-dialog-actions class="actions">
    <button mat-raised-button mat-button color="primary">{{lang.validate}}</button>
    <button mat-raised-button mat-button [mat-dialog-close]="">{{lang.cancel}}</button>
</div>