<mat-sidenav-container class="maarch-container">
    <mat-sidenav #snavLeft mode="side" opened class="panel-left" #snav [mode]="mobileMode ? 'over' : 'side'"
        [fixedInViewport]="mobileMode" [opened]="mobileMode ? false : true" autoFocus="false" style="overflow-x:hidden;"
        [ngStyle]="{'width': mobileMode ? '80%' : '350px'}">
        <header-panel [snavLeft]="snav"></header-panel>
        <menu-shortcut></menu-shortcut>
        <menu-nav></menu-nav>
        <mat-divider></mat-divider>
    </mat-sidenav>
    <mat-sidenav-content>
        <div class="bg-head">
            <div class="bg-head-title" [class.customContainerRight]="mobileMode">
                <div class="bg-head-title-label">
                    <header-left [snavLeft]="snav"></header-left>
                </div>
                <div class="bg-head-title-tool">
                    <header-right></header-right>
                </div>
            </div>
            <div class="bg-head-content" [class.fullContainer]="mobileMode">
            </div>
        </div>
        <div class="container" [class.fullContainer]="mobileMode">
            <div class="container-content">
                <div style="height:100%;overflow:auto;position:absolute;width:100%;">
                    <div class="alert-message alert-message-info" role="alert" style="max-width: 100%;margin: 30px;"
                        [innerHTML]="lang.printSeparatorInfo"></div>
                    <div class="col-md-4">
                        <mat-form-field>
                            <mat-label>{{lang.separatorType}}</mat-label>
                            <mat-select [(ngModel)]="separator.type">
                                <mat-option *ngFor="let separatorType of separatorTypes" [value]="separatorType">
                                    {{lang[separatorType]}}
                                </mat-option>
                            </mat-select>
                        </mat-form-field>
                        <mat-form-field>
                            <mat-label>{{lang.separatorTarget}}</mat-label>
                            <mat-select [(ngModel)]="separator.target" (selectionChange)="changeType($event)">
                                <mat-option *ngFor="let separatorTarget of separatorTargets" [value]="separatorTarget">
                                    {{lang[separatorTarget]}}
                                </mat-option>
                            </mat-select>
                        </mat-form-field>
                    </div>
                    <div class="col-md-8">
                        <div id="jstree"></div>
                    </div>

                </div>
                <div class="table-head">
                </div>
            </div>
        </div>
    </mat-sidenav-content>
    <mat-sidenav #snav2 [fixedInViewport]="mobileMode" position='end' [opened]="mobileMode || docUrl == '' ? false : true"
        [mode]="mobileMode ? 'over' : 'side'" class="panel-right" style="overflow-x:hidden;"
        [ngStyle]="{'width': mobileMode ? '80%' : '30%'}" autoFocus="false">
        <div class="example-loading-shade" *ngIf="loading">
            <mat-spinner></mat-spinner>
        </div>
        <div class="titlePanel">
            <span color="primary" style="flex:1;font-size: 20px;font-weight: bold;padding: 10px;">{{lang.separators}}</span>
            <span>
                <button mat-raised-button color="primary">{{lang.print}}</button>
            </span>
        </div>
        <pdf-viewer class="viewSep" [src]="docUrl" [render-text]="false" [autoresize]="true" [original-size]="false"
            [show-all]="true"></pdf-viewer>
    </mat-sidenav>
</mat-sidenav-container>