@import '../../../css/vars.scss';

.active, .active:hover , .active:active, .active:focus {
    color: $primary;
    border-left: solid 5px $primary;
    background: rgba($primary, 0.14);
}

.fullness {
    position: relative;
    
}
.percent {
    position: absolute;
    top: 50%;
    transform: translate(-50%, -50%);
    left: 50%;
    font-size: 10px;
    font-weight: bold;
    color: #888;
}


.fullness-ok ::ng-deep .mat-progress-spinner circle, .mat-spinner circle {
    stroke: green;
}

.fullness-warning ::ng-deep .mat-progress-spinner circle, .mat-spinner circle {
    stroke: orange;
}

.fullness-danger ::ng-deep .mat-progress-spinner circle, .mat-spinner circle {
    stroke: red;
}

.statusLabelDanger {
    color : $warn;
}

.statusLabelWarn {
    color : $secondary;
}

.statusLabelPrimary {
    color : $primary;
}