<div class="plugins-list">
    <div color="primary">
        {{ 'lang.outlookSendingModule' | translate }}
    </div>
    <app-maarch-message [content]="'lang.infoOutlookPlugin' | translate"></app-maarch-message>
    <div *ngIf="isAppSecure()">
        <button mat-raised-button color="primary" (click)="openAddinOutlookConfiguration()">{{ 'lang.configurePlugin' | translate }}...</button>
    </div>
    <app-maarch-message *ngIf="!isAppSecure()" mode="danger" [content]="'Veuillez sécuriser votre application (<b>https</b>) avant de pouvoir utiliser cette extension.'"></app-maarch-message>
</div>