<?xml version="1.0" encoding="UTF-8"?>
<phpunit colors="true" bootstrap="test/define.php">
    <testsuites>
        <testsuite name="Maarch Test Suite">
            <!--directory>test</directory-->
            <file>test/ActionControllerTest.php</file>
            <file>test/AutocompleteControllerTest.php</file>
            <file>test/BasketControllerTest.php</file>
            <file>test/ContactControllerTest.php</file>
            <file>test/ContactGroupControllerTest.php</file>
            <file>test/ContactTypeControllerTest.php</file>
            <file>test/DocserverControllerTest.php</file>
            <file>test/DoctypeControllerTest.php</file>
            <file>test/EntityControllerTest.php</file>
            <file>test/GroupControllerTest.php</file>
            <file>test/ListTemplateControllerTest.php</file>
            <file>test/NotificationControllerTest.php</file>
            <file>test/NotificationScheduleControllerTest.php</file>
            <file>test/ParameterControllerTest.php</file>
            <file>test/PriorityControllerTest.php</file>
            <file>test/ReportControllerTest.php</file>
            <file>test/ResControllerTest.php</file>
            <file>test/StatusControllerTest.php</file>
            <file>test/UserControllerTest.php</file>
            <file>test/VersionUpdateControllerTest.php</file>
            <file>test/CoreControllerTest.php</file>
            <file>test/TemplateControllerTest.php</file>
            <!-- The last one should be history -->
            <file>test/HistoryControllerTest.php</file>
        </testsuite>
    </testsuites>
    <filter>
      <whitelist>
          <directory suffix="Test.php">test</directory>
          <directory suffix=".php">src</directory>
      </whitelist>
    </filter>
    <logging>
        <log type="coverage-clover" target="test/build/tests-clover.xml"/>
        <log type="junit"           target="test/build/tests-phpunit.xml" logIncompleteSkipped="false"/>
        <log type="coverage-html"   target="test/build" lowUpperBound="35" highLowerBound="70"/>
    </logging>
</phpunit>
