<?xml version="1.0" encoding="UTF-8"?>
<phpunit colors="true" bootstrap="core/Test/define.php">
    <testsuites>
        <testsuite name="Maarch Core Test Suite">
            <!--directory>core/Test</directory-->
            <file>core/Test/ActionControllerTest.php</file>
            <file>core/Test/BasketControllerTest.php</file>
            <file>core/Test/ContactControllerTest.php</file>
            <file>core/Test/DoctypeControllerTest.php</file>
            <file>core/Test/EntityControllerTest.php</file>
            <file>core/Test/GroupControllerTest.php</file>
            <file>core/Test/ListTemplateControllerTest.php</file>
            <file>core/Test/NotificationControllerTest.php</file>
            <file>core/Test/NotificationScheduleControllerTest.php</file>
            <file>core/Test/ParameterControllerTest.php</file>
            <file>core/Test/PriorityControllerTest.php</file>
            <file>core/Test/ReportControllerTest.php</file>
            <file>core/Test/ResControllerTest.php</file>
            <file>core/Test/StatusControllerTest.php</file>
            <file>core/Test/UserControllerTest.php</file>
            <file>modules/convert/Test/ProcessConvertTest.php</file>
            <file>modules/convert/Test/ProcessFulltextTest.php</file>
            <file>modules/convert/Test/ProcessManageConvertTest.php</file>
            <file>modules/convert/Test/ProcessThumbnailsTest.php</file>
            <!-- The last one should be history -->
            <file>core/Test/HistoryControllerTest.php</file>
        </testsuite>
    </testsuites>
    <filter>
      <whitelist>
          <directory suffix="Test.php">core/Test</directory>
          <directory suffix=".php">src</directory>
          <directory suffix=".php">modules/visa/Controllers</directory>
          <directory suffix=".php">modules/convert/Controllers</directory>
          <directory suffix=".php">modules/convert/Models</directory>
      </whitelist>
    </filter>
    <logging>
        <log type="coverage-clover" target="core/Test/build/tests-clover.xml"/>
        <log type="junit"           target="core/Test/build/tests-phpunit.xml" logIncompleteSkipped="false"/>
        <log type="coverage-html"   target="core/Test/build" lowUpperBound="35" highLowerBound="70"/>
    </logging>
</phpunit>
