@import '../../../../../css/vars.scss';


* {
    user-select: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
}

.loading {
    display: flex;
    height: 100%;
    position: absolute;
    width: 100%;
    z-index: 999;
    top: 0px;
    left: 0px;
    background: #ffffffd1;
}

.workflowList {
    ::ng-deep.mat-tab-links {
        justify-content: center;
        display: flex;
    }
}

.mat-tab-label {
    color: $primary;
}

.mat-tab-label-active {
    opacity: 1;
}

.mat-tab-link {
    display: flex;
    flex-direction: column;
}

.mat-tab-link:focus,
.mat-tab-link:hover,
.mat-tab-link:active {
    text-decoration: none !important;
}

.signatureContainer {
    position: relative;
    overflow: auto;
    margin: auto;
}

.posSignButton {
    position: sticky;
    top: 0px;
    left: 50%;
    transform: translateX(-50%);
}

.signature {
    position: absolute;
    border: dashed 1px $warn;
    background: rgba($warn, 0.6) none repeat scroll 0% 0%;
    font-weight: bold;
    font-size: 20px;
    color: white;
    height: 110px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.example-radio-group {
    display: flex;
    flex-direction: column;
    margin: 15px 0;
}

.example-radio-button {
    margin: 5px;
}

.signDisabled {
    opacity: 0.2;
}

.pageList {
    position: fixed;
    width: 100px !important;

    ::ng-deep.mat-form-field-flex {
        background: white;
    }
}

.signUserName {
    position: absolute;
    font-size: 10px;
    bottom: 5px;
    font-weight: normal;
    color: white;
}

.dateBlock {
    position: absolute;
    border: dashed 1px grey;
    background: rgba(255, 255, 255, 0.6) none repeat scroll 0% 0%;
    position: absolute;
    // margin-right: 10px;
    background: none;
    font: sans-serif;
    // overflow: hidden;
    // margin-bottom: 26px;
}

.selected {
    background: rgba($secondary, 0.3);
}