<h1 mat-dialog-title>
  <span style="flex: 1;" [title]="data.attachment.chrono">
    <ng-container *ngIf="data.attachment.identifier !== null">
      {{data.attachment.chrono}} -
    </ng-container>
    {{data.attachment.title | shorten: 50: '...'}}
  </span>
  <button [title]="lang.close" mat-icon-button (click)="dialogRef.close();">
    <mat-icon class="fa fa-times"></mat-icon>
  </button></h1>
<mat-dialog-content class="modal-container">
  <app-document-viewer #appDocumentViewer style="height:100%;width:100%;" [editMode]="false" [resId]="data.attachment.resId" [mode]="'attachment'" [title]="data.attachment.chrono + ' - ' + data.attachment.title">
  </app-document-viewer>
</mat-dialog-content>