DirectoryIndex index.php

Options -Indexes 
Options FollowSymLinks Includes ExecCGI

Require all denied

# Root to allow index.php
<FilesMatch "^$">
  Require all granted
</FilesMatch>

# Core root
<FilesMatch "^(index|ws_server|static|merged_js|merged_css|reopen)\.php$">
  Require all granted
</FilesMatch>

# App static files
<FilesMatch "(css|js|jpg|png|gif)$">
  Require all granted
</FilesMatch> 