<?xml version="1.0" encoding="utf-8"?>
<root>
	<CONFIG>
		<name>convert</name>
		<comment>_CONVERT_COMMENT</comment>
		<file_prefix>convert</file_prefix>
		<loaded>true</loaded>
	</CONFIG>
	<TABLENAME/>
	<HISTORY>
		<convertadd>true</convertadd>
		<convertup>true</convertup>
		<convertdel>true</convertdel>
	</HISTORY>
</root>
