@import '../../../../css/vars.scss';

.active, .active:hover , .active:active, .active:focus {
    color: $primary;
    border-left: solid 5px $primary;
    background: rgba($primary, 0.14);
}

.paginatorResultList {
    ::ng-deep.mat-paginator-range-label {
        justify-content: flex-end;
        display: flex;
    }
}

.threshold_first {
    color: #E81C2B;
}

.threshold_second {
    color: #F4891E;
}

.threshold_third {
    color: #0AA34F;
}

.selected {
    background: rgba($primary, 0.14);
}

::ng-deep.correspondentsGroupMenuMenu {
    width: auto;
    min-width: 200px !important;
}

.smallInput {
    font-size: 11px;
    padding-left: 20px;
    padding-right: 20px;
    ::ng-deep.mat-form-field-wrapper {
        padding-bottom: 0px;
    }
    ::ng-deep.mat-form-field-infix {
        padding : 0px;
        padding-bottom: 5px;
    }
}