<div class="tile-title">
    Mes derniers courriers consultés
</div>
<ng-container *ngIf="loading; else elseLoaded">
    <mat-progress-bar color="primary" mode="indeterminate" class="loader">
    </mat-progress-bar>
    <i class="fa fa-history tile-icon" color="primary"></i>
</ng-container>
<ng-template #elseLoaded>
    <app-tile-view-list *ngIf="view==='list'" [displayColumns]="['recipient','subject','creationDate']"
        [resources]="resources" [icon]="'fa-history'" style="display: flex;flex: 1;overflow: auto;">
    </app-tile-view-list>
    <app-tile-view-resume *ngIf="view==='resume'" [countResources]="countResources" [icon]="'fa-history'"
        [resourceLabel]="'courrier(s)'" style="display: flex;flex: 1;overflow: auto;"></app-tile-view-resume>
    <app-tile-view-chart *ngIf="view==='chart'" [resources]="resources" [icon]="'fa-history'" style="display: flex;flex: 1;overflow: auto;">
    </app-tile-view-chart>
</ng-template>