<div class="admin-container" [class.admin-is-mobile]="mobileQuery.matches">
    <mat-sidenav-container autosize class="admin-sidenav-container">
        <mat-sidenav #snav [mode]="mobileQuery.matches ? 'over' : 'side'" [fixedInViewport]="mobileQuery.matches"
            fixedTopGap="56" [opened]="mobileQuery.matches ? false : true">
            <menu-shortcut></menu-shortcut>
            <menu-nav></menu-nav>
        </mat-sidenav>
        <mat-sidenav-content>
            <div *ngIf="loading" style="display:flex;height:100%;">
                <mat-spinner style="margin:auto;"></mat-spinner>
            </div>
            <mat-card *ngIf="!loading" class="card-app-content">
                <form class="form-horizontal" (ngSubmit)="onSubmit()" #shippingForm="ngForm">
                    <div class="form-group">
                        <div class="col-sm-12">
                            <mat-form-field>
                                <input matInput [(ngModel)]="shipping.label" required name="label" id="label" title="{{lang.label}}"
                                    type="text" placeholder="{{lang.label}}" maxlength="255">
                            </mat-form-field>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-sm-12">
                            <mat-form-field>
                                <input matInput [(ngModel)]="shipping.description" required name="description" id="description"
                                    title="{{lang.description}}" type="text" placeholder="{{lang.description}}"
                                    maxlength="255">
                            </mat-form-field>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="formType ratio-4">
                            <div class="formType-title">
                                {{lang.shapingOptions}}
                            </div>
                            <mat-list role="list">
                                <mat-list-item role="listitem" *ngFor="let option of shapingOptions">
                                    <mat-slide-toggle color="primary" name="{{option}}" [checked]="shipping.options.shapingOptions.indexOf(option) > -1" (change)="toggleShapingOption(option)">{{lang['shipping_'+option]}}</mat-slide-toggle>
                                </mat-list-item>
                            </mat-list>
                        </div>
                        <div class="formType ratio-1">
                            <div class="formType-title">
                                {{lang.sendModes}}
                            </div>
                            <mat-radio-group class="radio-group" name="sendMode" [(ngModel)]="shipping.options.sendMode">
                                <mat-radio-button *ngFor="let mode of sendModes" name="{{mode}}" [value]="mode" color="primary">
                                    {{lang['shipping_'+mode]}}
                                </mat-radio-button>
                            </mat-radio-group>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="formType ratio-4">
                            <div class="formType-title">
                                {{lang.envelopModes}}
                            </div>
                            <mat-radio-group class="radio-group" name="envelopMode" [(ngModel)]="shipping.options.envelopMode">
                                <mat-radio-button *ngFor="let mode of envelopModes" name="{{mode}}" [value]="mode"
                                    color="primary">
                                    {{lang['shipping_'+mode]}}
                                </mat-radio-button>
                            </mat-radio-group>
                        </div>
                        <div class="formType ratio-1" style="flex-direction: column;">
                            <div class="formType-title">
                                {{lang.pricesInformations}}
                            </div>
                            <div class="priceContent">
                                <label class="priceContent-label" for="first_page_price">
                                    {{lang.shipping_first_page_price}}
                                </label>
                                <mat-form-field appearance="outline">
                                    <input matInput [(ngModel)]="shipping.fee.first_page_price" required name="first_page_price"
                                        id="first_page_price" title="{{lang.shipping_first_page_price}}" type="number"
                                        maxlength="255" min="0" step="0.1">
                                    <span matSuffix>&nbsp;€</span>
                                </mat-form-field>
                            </div>
                            <div class="priceContent">
                                <label class="priceContent-label" for="next_page_price">
                                    {{lang.shipping_next_page_price}}
                                </label>
                                <mat-form-field appearance="outline">
                                    <input matInput [(ngModel)]="shipping.fee.next_page_price" required name="next_page_price"
                                        id="next_page_price" title="{{lang.shipping_next_page_price}}" type="number"
                                        maxlength="255" min="0" step="0.1">
                                    <span matSuffix>&nbsp;€</span>
                                </mat-form-field>
                            </div>
                            <div class="priceContent">
                                <label class="priceContent-label" for="postage_price">
                                    {{lang.shipping_postage_price}}
                                </label>
                                <mat-form-field appearance="outline">
                                    <input matInput [(ngModel)]="shipping.fee.postage_price" required name="postage_price"
                                        id="postage_price" title="{{lang.shipping_postage_price}}" type="number"
                                        maxlength="255" min="0" step="0.1">
                                    <span matSuffix>&nbsp;€</span>
                                </mat-form-field>
                            </div>
                            <div class="priceInfo">
                                {{lang.shipping_maxWeightInfo}}
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="formType ratio-1">
                            <div class="formType-title">
                                Compte Maileva
                            </div>
                            <div class="col-sm-6">
                                <mat-form-field>
                                    <input matInput [(ngModel)]="shipping.account.id" required name="login" id="login" title="{{lang.login}}"
                                        type="text" placeholder="{{lang.id}}" maxlength="255">
                                </mat-form-field>
                            </div>
                            <div class="col-sm-6">
                                <mat-form-field>
                                    <input matInput [(ngModel)]="shipping.account.password" required name="password" id="password"
                                        title="{{lang.password}}" type="password" placeholder="{{lang.password}}"
                                        maxlength="255">
                                </mat-form-field>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-md-12 text-center" style="padding:10px;">
                            <button mat-raised-button type="submit" color="primary" [disabled]="checkModif() || !shippingForm.valid">{{lang.validate}}</button>
                            <button mat-raised-button type="button" color="default" [disabled]="checkModif()" (click)="cancelModification()">{{lang.cancel}}</button>
                        </div>
                    </div>
                </form>
            </mat-card>
        </mat-sidenav-content>
        <mat-sidenav #snav2 [mode]="mobileQuery.matches ? 'over' : 'side'" [fixedInViewport]="mobileQuery.matches"
            fixedTopGap="56" position='end' [opened]="mobileQuery.matches ? false : false" style="overflow-x:hidden;">
            <mat-list>
                <h3 mat-subheader>Action(s)</h3>
            </mat-list>
        </mat-sidenav>
    </mat-sidenav-container>
</div>