<link rel="stylesheet" href="../../../../css/bootstrap.min.css">
<script>

</script>
<style>
nav{
    margin-top:10px !important;
}
h2{
    background-color: #009DC5 !important;
    color: white !important;
    margin-top: -10px !important;
    margin-left: -10px !important;
    margin-right: -10px !important;
    padding: 10px !important;
    font-size: 16px !important;
}

.col-md-4,.col-md-3{
    margin-bottom: 10px;  
}

.ng-invalid:not(form)  {
    border-left: 5px solid #a94442;
}

.modal-content{
    background-color: #009DC5 !important;
}
.modal-header h4{
    color: white !important;

}

.modal-body{
    background-color: white;
    padding:10px;
}
.modal-body .list-group li{
    /*border-color: #009DC5 !important;*/
    font-weight: bold;
}

.modal-footer{
    background:white;
}
/* layout.css Style */
.upload-drop-zone {
    font-size: 16px;
    height: 100px;
    border-width: 2px;
    margin-bottom: 20px;
}

/* skin.css Style*/
.upload-drop-zone {
    color: #ccc;
    border-style: dashed;
    border-color: #ccc;
    line-height: 100px;
    text-align: center
}
.upload-drop-zone.drop {
    color: #222;
    border-color: #222;
}
.open .dropdown-toggle{
    color: #009dc5 !important;
    background-color:#f2f2f2 !important;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
}
</style>
<!-- TEST HEADER WITH BOOTSTRAP-->
<nav class="navbar navbar-default" style="height:74px;border-radius:0px;margin-left: -10px;margin-top: -10px;margin-right: -10px;border: solid 2px #009DC5;background: #009DC5;color:white;">
        <div class="container-fluid" style="height: 100%;">
            <ol class="breadcrumb" style="margin-bottom:0px;background:none;position:absolute;">
                <li><a href="#" style="color:white;">Maarch Courrier 1.7</a></li>
                <li class="active"><a href="#" style="color:white;">Mon Profile</a></li>
                </ol>
            <div class="navbar-header" style="margin-top: 17px;">
                
                 <ul class="nav navbar-nav">
                     
        <li class="dropdown" style="font-size:20px;margin-top: 14px;height: 40px;">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false" style="padding-bottom: 8px;color:white;font-weight:bold;"><i class="fa fa-dropbox" aria-hidden="true"></i>
 Menu <span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a href="#">Administration</a></li>
            <li role="separator" class="divider"></li>
            <li><a href="#">Consulter un dossier</a></li>
            <li><a href="#">Rechercher un dossier</a></li>
            <li role="separator" class="divider"></li>
            <li><a href="#">Enregistrer un document</a></li>
            <li role="separator" class="divider"></li>
            <li><a href="#">Statistiques</a></li>
            <li role="separator" class="divider"></li>
            <li><a href="#">Mes contacts</a></li>
            <li role="separator" class="divider"></li>
            <li><a href="#">Rechercher un document</a></li>
            <li><a href="#">Rechercher un contact</a></li>
            <li role="separator" class="divider"></li>
            <li><a href="#">Mon profile</a></li>
            <li><a href="#">Déconnexion</a></li>
          </ul>
        </li>
        <p class="navbar-text" style="position: absolute;margin: 0px;padding: 15px;padding-top: 5px;background: #f2f2f2;width: 80%;height: 40px;top: 30px;border-top-left-radius: 3px;left: 262px;color: #009dc5;font-weight: bold;font-size: 1.3em;"><i class="fa fa-user fa-2x" title=""></i> Mon profile</p>
      </ul>
      
            </div>
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                    <div class="navbar-header navbar-right" style="background-color:#f2f2f2;margin-right:-30px;">
                    <a class="navbar-brand" href="#" style="float: right;right: 0px;position: absolute;margin: 0px;padding-right: 0px;padding-top: 0px;height: 70px;width: 236px;background: url(static.php?filename=default_nav_logo_maarch.gif) #f2f2f2;background-size: 90%;background-position: center;background-repeat: no-repeat;">
                    </a>
                    </div>
            </div>
        </div>
    </nav>
<div *ngIf="loading">
    <i class="fa fa-spinner fa-spin fa-5x" style="margin-left: 50%;margin-top: 16%;font-size: 8em"></i>
</div>
<div *ngIf="!loading" class="container-fluid">
    <nav class="navbar navbar-default">
        <div class="container-fluid">
            <div class="navbar-header">
                <a class="navbar-brand" href="#">
                    <i class="fa fa-arrow-circle-left" title="Retour"></i>
                </a>
            </div>
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav navbar-right">
                    <li><a data-toggle="modal" data-target="#manageAbs" ><i class="fa fa-user-times" title=""></i> Gérer mes absences </a></li>
                    <li><a data-toggle="modal" data-target="#manageSign" ><i class="fa fa-user-times" title=""></i> Gérer mes signatures </a></li>
                </ul>
            </div>
        </div>
    </nav>
    <div class="row row-eq-height">
        <div class="col-md-3" style="border-left:solid 1px white;border-right:solid 1px white;background-color: #CEE9F1;border-top: solid 2px #FDD16C;border-bottom: solid 2px #FDD16C;padding:10px;">
            <h2>Mes Groupes</h2>
            <ul class="list-group" >
                <li class="list-group-item" *ngFor="let group of user.groups">
                    <i class="fa fa-users"></i> {{group.group_desc}}
                    <span *ngIf="group.primary_group == 'Y'" class="label label-primary">Groupe primaire</span>
                    <span *ngIf="group.primary_group != 'Y'" class="label label-default">Groupe secondaire</span>
                </li>
            </ul>
        </div>
        <div class="col-md-4 col-md-offset-1" style="border-left:solid 1px white;border-right:solid 1px white;background-color: #CEE9F1;border-top: solid 2px #FDD16C;border-bottom: solid 2px #FDD16C;padding:10px;">
            <h2>Mes Informations</h2>
            <form class="form-horizontal" (ngSubmit)="onSubmit()" #profileForm="ngForm">
                <div class="form-group">
                    <div class="col-sm-5" style="font-weight:bold;">
                        <input type="text" class="form-control" id="lastname" name="lastname" title="Nom" placeholder="Nom" [(ngModel)]="user.lastname" required>
                    </div>
                    <div class="col-sm-5" style="font-weight:bold;">
                        <input type="text" class="form-control" id="firstname" name="firstname" title="Prénom" placeholder="Prénom" [(ngModel)]="user.firstname" required>
                    </div>
                    <div class="col-sm-2" style="font-style:italic;">
                        <input type="text" class="form-control" id="initials" name="initials" title="Initiales" placeholder="Initiales" [(ngModel)]="user.initials">
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-sm-12">
                         <div class="input-group">
                            <input type="text" class="form-control" id="userId" title="Identifiant" placeholder="Identifiant" value="{{user.user_id}}" disabled>
                             <span class="input-group-btn">
                                <button class="btn btn-success" type="button" title="Modifier votre mot de passe"><i class="fa fa-key" aria-hidden="true"></i></button>
                            </span>
                         </div>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-sm-12">
                        <div class="input-group">
                            <span class="input-group-addon"><i class="fa fa-phone" aria-hidden="true"></i></span>
                            <input type="text" class="form-control" id="phone" name="phone" title="Téléphone" placeholder="Téléphone" [(ngModel)]="user.phone">
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-sm-12">
                        <div class="input-group">
                            <span class="input-group-addon"><i class="fa fa-envelope-o" aria-hidden="true"></i></span>
                            <input type="mail" class="form-control" id="mail" name="mail" title="Courriel"  placeholder="Courriel" [(ngModel)]="user.mail">
                        </div>

                    </div>
                </div>
                <div class="form-group">
                    <div class="col-sm-12">
                        <div class="input-group">
                            <span class="input-group-addon"><i class="fa fa-paw" aria-hidden="true"></i></span>
                            <input type="text" class="form-control" id="fingerprint" name="fingerprint" title="Empreinte Numérique" placeholder="Empreinte Numérique" [(ngModel)]="user.thumbprint">
                        </div>
                    </div>
                </div>
                <div class="form-group" style="display:none;">
                    <div class="col-sm-6">
                        <div class="input-group">
                            <span class="input-group-addon"><i class="fa fa-key" aria-hidden="true"></i></span>
                            <input type="password" class="form-control" id="password" placeholder="Nouveau mot de passe">
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="input-group">
                            <span class="input-group-addon"><i class="fa fa-key" aria-hidden="true"></i></span>
                            <input type="password" class="form-control" id="repassword" placeholder="Retaper le mot de passe">
                        </div>

                    </div>
                </div>
                <div class="form-group">
                    <div style="text-align:center;">
                        <button type="submit" class="btn btn-default" [disabled]="!profileForm.form.valid">Enregistrer les modifications</button>
                    </div>
                </div>
            </form>
        </div>
        <div class="col-md-3 col-md-offset-1" style="border-left:solid 1px white;border-right:solid 1px white;background-color: #CEE9F1;border-top: solid 2px #FDD16C;border-bottom: solid 2px #FDD16C;padding:10px;">
            <h2>Mes Services</h2>
            <ul class="list-group" >
                <li class="list-group-item" *ngFor="let entity of user.entities">
                    <i class="fa fa-sitemap"></i> {{entity.entity_label}}
                    <span *ngIf="entity.primary_entity == 'Y'" class="label label-primary">Service primaire</span>
                    <span *ngIf="entity.primary_entity != 'Y'" class="label label-default">Service secondaire</span>
                </li>
            </ul>
        </div>
    </div>
</div>

<div id="manageAbs" class="modal fade bs-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel">
  <div class="modal-dialog modal-lg" role="document"> 
    <div class="modal-content">
        <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">Gérer mes absences</h4>
      </div>
        <div class="modal-body">
            <div class="alert alert-danger" role="alert">Vous allez être <strong>automatiquement déconnecté</strong> après avoir défini vos redirections de bannettes</div>
            <nav class="navbar navbar-default">
               <div class="container-fluid">
                     <form class="navbar-form navbar-left">
                        <div class="form-group">
                            <select class="form-control" placeholder="Bannette(s) à rediriger"><option>Courrier à signer</option></select>
              
                            <span>&nbsp;vers&nbsp;</span>
                            <input type="text" class="form-control" placeholder="Utilisateur">
                        </div>
                    </form>
                    <ul class="nav navbar-nav navbar-right">
                        <li><a href="#" title="Sauvegarder la modification"><i class="fa fa-plus"></i></a></li>
                    </ul>
                </div>
            </nav>
            <ul class="list-group">
                <li class="list-group-item"><i class="fa fa-tasks"></i> Mes courriers à traiter <span class="pull-right"><span class="label label-primary">Barbarain BAIN</span> <a href="#" title="Supprimer"><i class="fa fa-trash" style="color:red;"></i></a></span></li>
                <li class="list-group-item"><i class="fa fa-tasks"></i> Mes courriers à viser <span class="pull-right"><span class="label label-primary">Patricia PETIT</span> <a href="#" title="Supprimer"><i class="fa fa-trash" style="color:red;"></i></a></span></li>
            </ul>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-default">Activer mon absence</button>
      </div>
    </div>
  </div>
</div>

<div id="manageSign" class="modal fade bs-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel">
  <div class="modal-dialog modal-lg" role="document"> 
    <div class="modal-content">
        <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">Gérer mes signatures</h4>
      </div>
        <div class="modal-body">
             <!-- Nav tabs -->
            <ul class="nav nav-tabs" role="tablist">
                <li role="presentation" class="active"><a href="#home" aria-controls="home" role="tab" data-toggle="tab">Signatures de mail</a></li>
                <li role="presentation"><a href="#profile" aria-controls="profile" role="tab" data-toggle="tab">Signatures de parapheur</a></li>
            </ul>

            <!-- Tab panes -->
            <div class="tab-content">
                <div role="tabpanel" class="tab-pane" id="mail">
                    
                </div>
                <div role="tabpanel" class="tab-pane active" id="signatureBook">
                     <div class="row" style="margin-top:5px;">

                        <div class="col-md-11">
                             <input type="text" placeholder="nom de la signature" class="form-control">
                             <form action="" method="post" enctype="multipart/form-data" id="js-upload-form" style="display:none;">
                                <div class="form-inline">
                                <div class="form-group">
                                    <input type="file" name="files[]" id="js-upload-files" multiple>
                                </div>
                                <button type="submit" class="btn btn-sm btn-primary" id="js-upload-submit">Upload files</button>
                                </div>
                            </form>
                        </div>
                        <div class="col-md-1" style="margin-bottom:5px;">
                             <button class="form-control btn btn-sm btn-success"><i class="fa fa-plus"></i></button>
                        </div>
                         <div class="col-md-12">
                          
                            <div class="upload-drop-zone" id="drop-zone">
                                Glissez-déposez une image de signature ici <strong>OU</strong> cliquez sur <i class="fa fa-upload fa-2x" style="cursor:pointer;"></i>
                            </div>
                        </div>
                     </div>
                    <div class="row">
                    <div class="col-md-3">
                        <div class="thumbnail">
                        <img src="http://www.agencecampion.fr/diz/signature-13.jpg" alt="...">
                        <div class="caption" style="margin-bottom:0px;">
                            <p>signature 1</p>
                            <a href="#" class="btn btn-danger" role="button" title="supprimer la signature"><i class="fa fa-trash"></i></a>
                            <a href="#" class="btn btn-primary" role="button" title="modifier la signature"><i class="fa fa-pencil"></i></a>
                        </div>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="thumbnail">
                        <img src="http://www.agencecampion.fr/diz/signature-13.jpg" alt="...">
                        <div class="caption" style="margin-bottom:0px;">
                            <p>signature 2</p>
                            <a href="#" class="btn btn-danger" role="button" title="supprimer la signature"><i class="fa fa-trash"></i></a>
                            <a href="#" class="btn btn-primary" role="button" title="modifier la signature"><i class="fa fa-pencil"></i></a>
                        </div>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="thumbnail">
                        <img src="http://www.agencecampion.fr/diz/signature-13.jpg" alt="...">
                        <div class="caption" style="margin-bottom:0px;">
                            <p>signature 3</p>
                            <a href="#" class="btn btn-danger" role="button" title="supprimer la signature"><i class="fa fa-trash"></i></a>
                            <a href="#" class="btn btn-primary" role="button" title="modifier la signature"><i class="fa fa-pencil"></i></a>
                        </div>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="thumbnail">
                        <img src="http://www.agencecampion.fr/diz/signature-13.jpg" alt="...">
                        <div class="caption" style="margin-bottom:0px;">
                            <p>signature 4</p>
                            <a href="#" class="btn btn-danger" role="button" title="supprimer la signature"><i class="fa fa-trash"></i></a>
                            <a href="#" class="btn btn-primary" role="button" title="modifier la signature"><i class="fa fa-pencil"></i></a>
                        </div>
                        </div>
                    </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
  </div>
</div>
<script>
 function($) {
    'use strict';

    // UPLOAD CLASS DEFINITION
    // ======================

    var dropZone = document.getElementById('drop-zone');
    var uploadForm = document.getElementById('js-upload-form');

    var startUpload = function(files) {
        console.log(files)
    }

    uploadForm.addEventListener('submit', function(e) {
        var uploadFiles = document.getElementById('js-upload-files').files;
        e.preventDefault()

        startUpload(uploadFiles)
    })

    dropZone.ondrop = function(e) {
        e.preventDefault();
        this.className = 'upload-drop-zone';

        startUpload(e.dataTransfer.files)
    }

    dropZone.ondragover = function() {
        this.className = 'upload-drop-zone drop';
        return false;
    }

    dropZone.ondragleave = function() {
        this.className = 'upload-drop-zone';
        return false;
    }

}(jQuery);
</script>