<link rel="stylesheet" href="../../../../css/bootstrap.min.css">
<style>
nav{
    margin-top:10px !important;
}
h2{
    background-color: #009DC5 !important;
    color: white !important;
    margin-top: -10px !important;
    margin-left: -10px !important;
    margin-right: -10px !important;
    padding: 10px !important;
    font-size: 16px !important;
}

.col-md-4,.col-md-3{
    margin-bottom: 10px;  
}

.ng-invalid:not(form)  {
    border-left: 5px solid #a94442;
}

.modal-content{
    background-color: #009DC5 !important;
}
.modal-header h4{
    color: white !important;

}

.modal-body{
    background-color: white;
    padding:10px;
}
.modal-body .list-group li{
    /*border-color: #009DC5 !important;*/
    font-weight: bold;
}

.modal-footer{
    background:white;
}
</style>
<div *ngIf="loading">
    <i class="fa fa-spinner fa-spin fa-5x" style="margin-left: 50%;margin-top: 16%;font-size: 8em"></i>
</div>
<div *ngIf="!loading" class="container-fluid">
    <nav class="navbar navbar-default">
        <div class="container-fluid">
            <div class="navbar-header">
                <a class="navbar-brand" href="#">
                    <i class="fa fa-arrow-circle-left" title="Retour"></i>
                </a>
            </div>
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav navbar-right">
                    <li><a data-toggle="modal" data-target=".bs-example-modal-lg" ><i class="fa fa-user-times" title=""></i> Gérer mes absences </a></li>
                    <li><a href="javascript://" ><i class="fa fa-user-times" title=""></i> Gérer mes signatures </a></li>
                </ul>
            </div>
        </div>
    </nav>
    <div class="row row-eq-height">
        <div class="col-md-3" style="border-left:solid 1px white;border-right:solid 1px white;background-color: #CEE9F1;border-top: solid 2px #FDD16C;border-bottom: solid 2px #FDD16C;padding:10px;">
            <h2>Mes Groupes</h2>
            <ul class="list-group" >
                <li class="list-group-item" *ngFor="let group of user.groups">
                    <i class="fa fa-users"></i> {{group.group_desc}}
                    <span *ngIf="group.primary_group == 'Y'" class="label label-primary">Groupe primaire</span>
                    <span *ngIf="group.primary_group != 'Y'" class="label label-default">Groupe secondaire</span>
                </li>
            </ul>
        </div>
        <div class="col-md-4 col-md-offset-1" style="border-left:solid 1px white;border-right:solid 1px white;background-color: #CEE9F1;border-top: solid 2px #FDD16C;border-bottom: solid 2px #FDD16C;padding:10px;">
            <h2>Mes Informations</h2>
            <form class="form-horizontal" (ngSubmit)="onSubmit()" #profileForm="ngForm">
                <div class="form-group">
                    <div class="col-sm-5" style="font-weight:bold;">
                        <input type="text" class="form-control" id="lastname" name="lastname" title="Nom" placeholder="Nom" [(ngModel)]="user.lastname" required>
                    </div>
                    <div class="col-sm-5" style="font-weight:bold;">
                        <input type="text" class="form-control" id="firstname" name="firstname" title="Prénom" placeholder="Prénom" [(ngModel)]="user.firstname" required>
                    </div>
                    <div class="col-sm-2" style="font-style:italic;">
                        <input type="text" class="form-control" id="initials" name="initials" title="Initiales" placeholder="Initiales" [(ngModel)]="user.initials">
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-sm-12">
                         <div class="input-group">
                            <input type="text" class="form-control" id="userId" title="Identifiant" placeholder="Identifiant" value="{{user.user_id}}" disabled>
                             <span class="input-group-btn">
                                <button class="btn btn-success" type="button" title="Modifier votre mot de passe"><i class="fa fa-key" aria-hidden="true"></i></button>
                            </span>
                         </div>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-sm-12">
                        <div class="input-group">
                            <span class="input-group-addon"><i class="fa fa-phone" aria-hidden="true"></i></span>
                            <input type="text" class="form-control" id="phone" name="phone" title="Téléphone" placeholder="Téléphone" [(ngModel)]="user.phone">
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-sm-12">
                        <div class="input-group">
                            <span class="input-group-addon"><i class="fa fa-envelope-o" aria-hidden="true"></i></span>
                            <input type="mail" class="form-control" id="mail" name="mail" title="Courriel"  placeholder="Courriel" [(ngModel)]="user.mail">
                        </div>

                    </div>
                </div>
                <div class="form-group">
                    <div class="col-sm-12">
                        <div class="input-group">
                            <span class="input-group-addon"><i class="fa fa-paw" aria-hidden="true"></i></span>
                            <input type="text" class="form-control" id="fingerprint" name="fingerprint" title="Empreinte Numérique" placeholder="Empreinte Numérique" [(ngModel)]="user.thumbprint">
                        </div>
                    </div>
                </div>
                <div class="form-group" style="display:none;">
                    <div class="col-sm-6">
                        <div class="input-group">
                            <span class="input-group-addon"><i class="fa fa-key" aria-hidden="true"></i></span>
                            <input type="password" class="form-control" id="password" placeholder="Nouveau mot de passe">
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="input-group">
                            <span class="input-group-addon"><i class="fa fa-key" aria-hidden="true"></i></span>
                            <input type="password" class="form-control" id="repassword" placeholder="Retaper le mot de passe">
                        </div>

                    </div>
                </div>
                <div class="form-group">
                    <div style="text-align:center;">
                        <button type="submit" class="btn btn-default" [disabled]="!profileForm.form.valid">Enregistrer les modifications</button>
                    </div>
                </div>
            </form>
        </div>
        <div class="col-md-3 col-md-offset-1" style="border-left:solid 1px white;border-right:solid 1px white;background-color: #CEE9F1;border-top: solid 2px #FDD16C;border-bottom: solid 2px #FDD16C;padding:10px;">
            <h2>Mes Services</h2>
            <ul class="list-group" >
                <li class="list-group-item" *ngFor="let entity of user.entities">
                    <i class="fa fa-sitemap"></i> {{entity.entity_label}}
                    <span *ngIf="entity.primary_entity == 'Y'" class="label label-primary">Service primaire</span>
                    <span *ngIf="entity.primary_entity != 'Y'" class="label label-default">Service secondaire</span>
                </li>
            </ul>
        </div>
    </div>
</div>

<div class="modal fade bs-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel">
  <div class="modal-dialog modal-lg" role="document"> 
    <div class="modal-content">
        <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">Gérer mes absences</h4>
      </div>
        <div class="modal-body">
            <div class="alert alert-danger" role="alert">Vous allez être <strong>automatiquement déconnecté</strong> après avoir défini vos redirections de bannettes</div>
            <nav class="navbar navbar-default">
               <div class="container-fluid">
                     <form class="navbar-form navbar-left">
                        <div class="form-group">
                            <select class="form-control" placeholder="Bannette(s) à rediriger"><option>Courrier à signer</option></select>
              
                            <span>&nbsp;vers&nbsp;</span>
                            <input type="text" class="form-control" placeholder="Utilisateur">
                        </div>
                    </form>
                    <ul class="nav navbar-nav navbar-right">
                        <li><a href="#" title="Sauvegarder la modification"><i class="fa fa-plus"></i></a></li>
                    </ul>
                </div>
            </nav>
            <ul class="list-group">
                <li class="list-group-item"><i class="fa fa-tasks"></i> Mes courriers à traiter <span class="pull-right"><span class="label label-primary">Barbarain BAIN</span> <a href="#" title="Supprimer"><i class="fa fa-trash" style="color:red;"></i></a></span></li>
                <li class="list-group-item"><i class="fa fa-tasks"></i> Mes courriers à viser <span class="pull-right"><span class="label label-primary">Patricia PETIT</span> <a href="#" title="Supprimer"><i class="fa fa-trash" style="color:red;"></i></a></span></li>
            </ul>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-default">Activer mon absence</button>
      </div>
    </div>
  </div>
</div>
