<div class='visaContent'>
    <div class="titleSignatureBook">
        <span>{{signatureBook.currentAction.actionLabel}}</span>
        <span><i style="cursor: pointer" (click)="backToBasket()" class="fa fa-times-circle fa-2x"></i></span>
    </div>
    <div class="headerSignatureBook">
        <div class="item" [ngClass]="{'activeTabSignatureBook': headerTab == 1}" (click)="changeSignatureBookLeftContent(1)">
            <i class="fa fa-dashboard fa-2x"></i>
            <i class="itemLabel">Document principal</i>
        </div>
        <div class="item" [ngClass]="{'activeTabSignatureBook': headerTab == 2}" (click)="changeSignatureBookLeftContent(2)">
            <i class="fa fa-pencil fa-2x"></i>
            <i class="itemLabel">Note(s)</i>
        </div>
        <div class="item" [ngClass]="{'activeTabSignatureBook': headerTab == 3}" (click)="changeSignatureBookLeftContent(3)">
            <i class="fa fa-certificate fa-2x"></i>
            <i class="itemLabel">Circuit de visa</i>
        </div>
        <div class="item" [ngClass]="{'activeTabSignatureBook': headerTab == 4}" (click)="changeSignatureBookLeftContent(4)">
            <i class="fa fa-line-chart fa-2x"></i>
            <i class="itemLabel">Avancement</i>
        </div>
        <div class="others">
            <span id="consigne">
                <input type="text" value="{{signatureBook.consigne}}" title="Consigne" readonly="readonly">
            </span>
        </div>
        <div class="actions">
            <select id="signatureBookActions">
                <option *ngFor="let option of signatureBook.actions" value="{{option.value}}">{{option.label}}</option>
            </select>
            <input name="send" id="send" value="Valider" class="button" type="button" (click)="validForm()">
        </div>
    </div>
    <div class="contentSignatureBook">
        <div class="resListContent" *ngIf="showResLeftPanel">
            <div class="resListContentPos">
                <div class="resListContentFrame" *ngFor="let res of signatureBook.resList" (click)="changeLocation(res.res_id)" [ngClass]="{'resListContentFrameSelected': resId == res.res_id}">
                    <div class="resListContentInfo">
                        <i class="fa fa-compass" title="Numéro chrono"></i> {{res.alt_identifier}}
                        <i ng-if="res.allSigned" class="fa fa-certificate" style="position: absolute;bottom: 35px;right: 50px;font-size: 40px;color: gold;"></i>&nbsp;
                        <i class="fa fa-circle" aria-hidden="true" [ngStyle]="{'color': res.priorityColor}" style="position: absolute;right: 0px;top: -10px;font-size: 25px;"></i>
                    </div>
                    <div class="resListContentInfo">
                        <i class="fa fa-info" title="Objet"></i> {{res.subject}}
                    </div>
                    <div class="resListContentInfo">
                        <i class="fa fa-book" title="Fiche contact"></i> {{res.sender}}
                    </div>
                    <div class="resListContentInfo">
                        <i class="fa fa-calendar" title="Date d'arrivée"></i> {{res.creation_date}} - <i class="fa fa-bell" title="Date limite de traitement"></i> {{res.process_limit_date}}
                    </div>
                </div>
            </div>
        </div>
        <div class="hideresListContent" (click)="displayPanel('RESLEFT')" *ngIf="showLeftPanel">
            <i class="fa fa-chevron-left" aria-hidden="true" *ngIf="showResLeftPanel"></i>
            <i class="fa fa-chevron-right" aria-hidden="true" *ngIf="!showResLeftPanel"></i>
        </div>
        <div class="contentLeft" *ngIf="showLeftPanel" [ngClass]="{'showResLeftPanel': showResLeftPanel, 'hideResLeftPanel': !showResLeftPanel}">
            <div class="contentShow" *ngIf="headerTab == 1">
                <div class="pjDoc" [ngStyle]="{'height': showTopLeftPanel ? '100px' : '30px'}">
                    <div (click)="displayPanel('TOPLEFT')" *ngIf="!showTopLeftPanel" style="padding: 5px;cursor:pointer;">
                        <strong>{{signatureBook.documents.length - 1}} pièce(s) jointe(s)</strong>
                    </div>
                    <div *ngIf="showTopLeftPanel">
                        <img id="thumnails_img" *ngFor="let document of signatureBook.documents; let i = index" (click)="changeLeftViewer(i)" [src]="document.thumbnailLink"
                                 class="leftPanelThumbnails" [ngClass]="{'panelSelectedThumbnail': i == leftSelectedThumbnail}"/>
                    </div>
                    <!--<label>PJ1</label>-->
                </div>
                <div class="pjDetailsMore" (click)="displayPanel('TOPLEFT')">
                    <i *ngIf="!showTopLeftPanel" class="fa fa-chevron-down" aria-hidden="true"></i>
                    <i *ngIf="showTopLeftPanel" class="fa fa-chevron-up" aria-hidden="true"></i>
                </div>
                <iframe *ngIf="leftViewerLink != ''" id="leftPanelShowDocumentIframe" [src]="leftViewerLink | safeUrl" [ngStyle]="{'height': showTopLeftPanel ? '69vh' : '75vh'}"></iframe>
            </div>
            <div class="contentShow" *ngIf="headerTab == 2">
                <!--<table ng-table="notesTable" class="table" id="notesTable">-->
                    <!--<tr ng-repeat="note in $data">-->
                        <!--<td title="'Date'" sortable="'date_note'" style="width:5%;">-->
                            <!--{{note.date_note}}-->
                        <!--</td>-->
                        <!--<td title="'Note'" sortable="'note_text'" filter="{ note_text: 'text'}" style="width:60%;">-->
                            <!--{{note.note_text}}-->
                        <!--</td>-->
                        <!--<td title="'Créateur'" sortable="'lastname'" filter="{ lastname: 'text'}" style="width:10%;">-->
                            <!--{{note.firstname + " " + note.lastname}}-->
                        <!--</td>-->
                        <!--<td title="'Visibilité'" style="width:20%;">-->
                            <!--{{note.entities_restriction}}-->
                        <!--</td>-->
                        <!--<td title="''" style="width:5%;">-->
                            <!--<i class="fa fa-pencil" style="cursor:pointer;color:#009DC5;" aria-hidden="true" title="Modifier" ></i>-->
                            <!--<i class="fa fa-times" style="cursor:pointer;color:red;" aria-hidden="true" title="Supprimer"></i>-->
                        <!--</td>-->
                    <!--</tr>-->
                <!--</table>-->
            </div>
            <div class="contentShow" *ngIf="headerTab == 3">
                <!--<iframe id="leftPanelShow_iframe" src="{{signatureBook.linkVisaCircuit}}"></iframe>-->
            </div>
            <div class="contentShow" *ngIf="headerTab == 4">
                <!--<table ng-table="historyTable" class="table" id="historyTable">-->
                    <!--<tr ng-repeat="history in $data">-->
                        <!--<td title="'Date'" sortable="'event_date'" style="width:20%;">-->
                            <!--{{history.event_date}}-->
                        <!--</td>-->
                        <!--<td title="'Utilisateur'" sortable="'lastname'" filter="{ lastname: 'text'}" style="width:20%;">-->
                            <!--{{history.firstname + " " + history.lastname}}-->
                        <!--</td>-->
                        <!--<td title="'Evènement'" sortable="'info'" style="width:60%;">-->
                            <!--{{history.info}}-->
                        <!--</td>-->
                    <!--</tr>-->
                <!--</table>-->
            </div>
        </div>
        <div class="hideLeftContent" (click)="displayPanel('LEFT')">
            <i class="fa fa-chevron-left" aria-hidden="true" *ngIf="showLeftPanel"></i>
            <i class="fa fa-chevron-right" aria-hidden="true" *ngIf="!showLeftPanel"></i>
        </div>
        <div class="contentRight" [ngClass]="{'showLeftPanel': showLeftPanel, 'hideLeftPanel': !showLeftPanel}">
            <div class="contentShow" *ngIf="!showAttachmentEditionPanel">
                <div class="pjDetails" *ngIf="signatureBook.attachments[rightSelectedThumbnail]" [ngStyle]="{'height': showTopRightPanel ? '100px' : '30px'}">
                    <div class="infoPj" title="{{signatureBook.attachments[rightSelectedThumbnail].attachment_type}}">
                        <label>Type : </label>
                        <span>{{signatureBook.attachments[rightSelectedThumbnail].attachment_type}}</span>
                    </div>
                    <div class="infoPj" title="{{signatureBook.attachments[rightSelectedThumbnail].title}}">
                        <label>Objet : </label>
                        <span>{{signatureBook.attachments[rightSelectedThumbnail].title}}</span>
                    </div>
                    <div class="infoPj" title="{{signatureBook.attachments[rightSelectedThumbnail].destUser}}">
                        <label>Pour : </label>
                        <span>{{signatureBook.attachments[rightSelectedThumbnail].destUser}}</span>
                    </div>
                    <div *ngIf="showTopRightPanel">
                        <div class="infoPj" title="{{signatureBook.attachments[rightSelectedThumbnail].typist}}">
                            <label>Créé par: </label>
                            <span>{{signatureBook.attachments[rightSelectedThumbnail].typist}}</span>
                        </div>
                        <div class="infoPj">
                            <label>Créé le: </label>
                            <span>{{signatureBook.attachments[rightSelectedThumbnail].creation_date}}</span>
                        </div>
                        <div class="infoPj" title="{{signatureBook.attachments[rightSelectedThumbnail].updated_by}}">
                            <label>Modifié par : </label>
                            <span>{{signatureBook.attachments[rightSelectedThumbnail].updated_by}}</span>
                        </div>
                        <div class="infoPj">
                            <label>Retour : </label>
                            <span>{{signatureBook.attachments[rightSelectedThumbnail].validation_date}}</span>
                        </div>
                        <div class="infoPj">
                            <label>Version : </label>
                            <span>{{signatureBook.attachments[rightSelectedThumbnail].relation}}</span>
                        </div>
                        <div class="infoPj">
                            <label>Format : </label>
                            <span>{{signatureBook.attachments[rightSelectedThumbnail].format.toUpperCase()}}</span>
                        </div>
                    </div>
                </div>
                <div (click)="editAttachmentIframe(signatureBook.attachments[rightSelectedThumbnail])">EDIT</div>
                <div (click)="delAttachment(signatureBook.attachments[rightSelectedThumbnail])">SUPPRIMER</div>
                <div class="pjDetailsMore" (click)="displayPanel('TOPRIGHT')">
                   <i *ngIf="!showTopRightPanel" class="fa fa-chevron-down" aria-hidden="true"></i>
                   <i *ngIf="showTopRightPanel" class="fa fa-chevron-up" aria-hidden="true"></i>
                </div>
                <iframe *ngIf="signatureBook.attachments[rightSelectedThumbnail] && signatureBook.attachments[rightSelectedThumbnail].format == 'pdf'" id="rightPanelShowDocumentIframe" [src]="rightViewerLink | safeUrl" [ngStyle]="{'height': showTopRightPanel ? '75vh' : '69vh'}"></iframe>
                <span *ngIf="signatureBook.attachments[rightSelectedThumbnail] && signatureBook.attachments[rightSelectedThumbnail].format != 'pdf'">Fichier impossible à charger</span>
                <div class="pjSign">
                    <span *ngIf="signatureBook.attachments[rightSelectedThumbnail] && signatureBook.attachments[rightSelectedThumbnail].status != 'SIGN'" (click)="prepareSignFile(signatureBook.attachments[rightSelectedThumbnail])" style="cursor: pointer">
                        <img title="Signer" src="{{signatureBook.signature}}">
                    </span>
                    <span *ngIf="signatureBook.attachments[rightSelectedThumbnail] && signatureBook.attachments[rightSelectedThumbnail].status == 'SIGN'" (click)="unsignFile(signatureBook.attachments[rightSelectedThumbnail])" style="cursor: pointer;color: green;">
                        <i title="Dé-signer" class="fa fa-check fa-2x" aria-hidden="true"></i>
                    </span>
                </div>
            </div>
            <!--<div class="contentShow" ng-if="signatureBook.showAttachmentEditionPanel">-->
                <!--<h1>Créer une pièce jointe</h1>-->
                <!--<div class="pjCreate">-->
                    <!--<div class="infoPj" title="Type">-->
                        <!--<div class="input-group margin-bottom-sm">-->
                            <!--<span class="input-group-addon"><i class="fa fa-file fa-fw"></i></span>-->
                            <!--<select><option>Projet d réponse</option></select>-->
                          <!--</div>-->
                    <!--</div>-->
                    <!--<div class="infoPj" title="Objet">-->
                        <!--<div class="input-group margin-bottom-sm">-->
                            <!--<span class="input-group-addon"><i class="fa fa-info fa-fw"></i></span>-->
                            <!--<input class="form-control" type="text" placeholder="Objet">-->
                          <!--</div>-->
                    <!--</div>-->
                    <!--<div class="infoPj" title="Personne concerné">-->
                        <!--<div class="input-group margin-bottom-sm">-->
                            <!--<span class="input-group-addon"><i class="fa fa-book fa-fw"></i></span>-->
                            <!--<input class="form-control" type="text" placeholder="Personne concerné">-->
                          <!--</div>-->
                    <!--</div>-->
                    <!--<div class="infoPj" title="Numéro chrono">-->
                        <!--<div class="input-group margin-bottom-sm">-->
                            <!--<span class="input-group-addon"><i class="fa fa-compass fa-fw"></i></span>-->
                            <!--<input class="form-control" type="text" placeholder="Numéro chrono">-->
                          <!--</div>-->
                    <!--</div>-->
                    <!--<div class="infoPj" title="Crée par">-->
                        <!--<div class="input-group margin-bottom-sm">-->
                            <!--<span class="input-group-addon"><i class="fa fa-user fa-fw"></i></span>-->
                            <!--<input class="form-control" type="text" placeholder="Crée par">-->
                          <!--</div>-->
                    <!--</div>-->
                   <!--<div class="infoPj" title="Crée le">-->
                        <!--<div class="input-group margin-bottom-sm">-->
                            <!--<span class="input-group-addon"><i class="fa fa-calendar-o fa-fw"></i></span>-->
                            <!--<input class="form-control" type="text" placeholder="Crée le">-->
                          <!--</div>-->
                    <!--</div>-->
                    <!--<div class="infoPj" title="Retour">-->
                        <!--<div class="input-group margin-bottom-sm">-->
                            <!--<span class="input-group-addon"><i class="fa fa-calendar-o fa-fw"></i></span>-->
                            <!--<input class="form-control" type="text" placeholder="Retour">-->
                          <!--</div>-->
                    <!--</div>-->
                    <!--<div class="infoPj">-->
                        <!--<div class="input-group margin-bottom-sm" title="Version">-->
                            <!--<span class="input-group-addon"><i class="fa fa-code-fork fa-fw"></i></span>-->
                            <!--<input class="form-control" type="text" placeholder="Version">-->
                          <!--</div>-->
                    <!--</div>-->
                <!--</div>-->
                <!--<div class="pjCreateFile">-->
                    <!--<i class="fa fa-upload" aria-hidden="true" title="Tranférer un fichier depuis votre ordinateur"></i>     -->
                    <!--<i>&nbsp;/&nbsp;</i>-->
                    <!--<i class="fa fa-pencil-square-o" aria-hidden="true" title="Editer un modèle de document"></i>-->
                <!--</div>-->
            <!--</div>-->
        </div>
        <div class="panelRight">
            <div class="item panelRightAddPj" (click)="addAttachmentIframe()">
                <i class="fa fa-plus fa-2x" title="Créer une pièce jointe"></i>
            </div>
            <div class="panelRightContent" *ngIf="signatureBook.attachments">
                <div class="item" *ngFor="let attachment of signatureBook.attachments; let i = index" (click)="changeRightViewer(i)" [ngClass]="{'panelSelectedThumbnail': i == rightSelectedThumbnail}">
                    <span class="fa-stack fa-lg">
                        <i class="fa fa-file-o fa-stack-2x"></i><i class="fa {{attachment.icon}} fa-stack-1x"></i>
                    </span>
                </div>
            </div>
        </div>
    </div>
</div>
