@import '../../../css/vars.scss';

.indexingModelLabel {
    ::ng-deep.mat-form-field-wrapper {
        padding: 0px;
    }
}

.defaultModel {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-left: 10px;
}

.mandatoryFile {
    display: flex;
    padding-left: 10px;
    padding-top: 10px;
}