<div class="mat-dialog-content-container">
  <h1 mat-dialog-title>{{lang.linkAccount}}</h1>
  <mat-dialog-content>
    <plugin-autocomplete [labelPlaceholder]="lang.searchUserInMaarchParapheur"
      [routeDatas]="['/rest/autocomplete/maarchParapheurUsers?exludeAlreadyConnected=true']"
      [targetSearchKey]="'idToDisplay'" [subInfoKey]="'email'" (triggerEvent)="selectUser($event)" appearance="outline">
    </plugin-autocomplete>
    <mat-list *ngIf="externalUser.inMaarchParapheur">
      <mat-list-item>
        <mat-icon class="avatarAccount" color="primary" mat-list-icon
          [style.background-image]="'url('+externalUser.picture+')'"></mat-icon>
        <h4 mat-line>{{externalUser.firstname}} {{externalUser.lastname}}</h4>
        <p mat-line style="color:#666">{{externalUser.email}}</p>
        <button mat-icon-button color="warn" [title]="lang.unlinkAccount" (click)="unlinkMaarchParapheurAccount()">
          <mat-icon class="fas fa-unlink"></mat-icon>
        </button>
      </mat-list-item>
    </mat-list>
    <mat-form-field *ngIf="!externalUser.inMaarchParapheur">
      <input type="text" matInput placeholder="{{lang.newLoginInMaarchParapheur}}" [(ngModel)]="externalUser.login">
    </mat-form-field>
    <div *ngIf="!externalUser.inMaarchParapheur" class="alert-message alert-message-danger" role="alert"
      style="margin-top: 30px;"
      [innerHTML]="lang.maarchParapheurAccountMsg + ' <b>' + externalUser.login + '</b> ' + lang.maarchParapheurAccountMsg2">
    </div>
  </mat-dialog-content>
  <span class="divider-modal"></span>
  <mat-dialog-actions>
    <button color="primary" mat-raised-button (click)="this.dialogRef.close(externalUser);"
      [disabled]="externalUser.login === ''">{{lang.validate}}</button>
    <button mat-raised-button (click)="this.dialogRef.close('');">{{lang.cancel}}</button>
  </mat-dialog-actions>
</div>