.avatar {
	text-decoration:none;
	background:#135f7f;
	color:white;
	width:100px;
	height:100px;
	border-radius:5px;
	display:block;
    overflow:hidden;
    margin: 5px;
}
.form-group{
    margin:0px;
}

.vertical-divider{
	height: 80%;
}