<div *ngIf="!emptyDashboard()" class="dashboard-container" dnd-sortable-container [dropZones]="['boxers-zone']" [sortableData]="tiles">
    <div class="tile" [style.border-color]="tile.color" [class.empty_tile_edit]="tile.id === null && tile.editMode" [class.empty_tile]="tile.id === null"
        *ngFor="let tile of tiles;let i=index" (mouseenter)="enterTile(tile, i)" (mouseleave)="leaveTile(tile)" dnd-sortable [sortableIndex]="i" (onDropSuccess)="transferDataSuccess()">
        <div style="position: relative;height: 100%;width:100%;display: flex;flex-direction: column;align-items: center;justify-content: center;">
            <div class="tool-left" *ngIf="tile.id !== null && tile.editMode">
                <span dnd-sortable-handle style="cursor: move;">
                    <mat-icon style="color: white;" class="fa fa-arrows-alt"></mat-icon>
                </span>
            </div>
            <div class="tool" *ngIf="tile.id !== null && tile.editMode">
                <button #test color="primary" mat-button mat-icon-button [matMenuTriggerFor]="toolMenu" (mouseenter)="hoveredTool=true">
                    <mat-icon style="color: white;" class="fas fa-chevron-down"></mat-icon>
                </button>
                <mat-menu #toolMenu="matMenu">
                    <ng-container  *ngFor="let menu of tile.menus">
                        <button *ngIf="menu!=='view'" mat-menu-item (click)="launchAction(menu, tile)">{{'lang.'+ menu | translate}}</button>
                        <button *ngIf="menu==='view'" mat-menu-item [matMenuTriggerFor]="toolMenuView">{{'lang.'+ menu | translate}}</button>
                    </ng-container>
                </mat-menu>
                <mat-menu #toolMenuView="matMenu">
                    <ng-container *ngFor="let view of tile.views">
                        <button mat-menu-item  *ngIf="view.id!=='chart'"  [disabled]="tile.view === view.id" (click)="changeView(tile,view.id)">
                            <mat-icon *ngIf="view.id==='list'" class="fa fa-list" color="primary" style="height: auto;width: auto;"></mat-icon>
                            <mat-icon *ngIf="view.id==='resume'" class="fas fa-equals" color="primary" style="height: auto;width: auto;"></mat-icon>
                            <span>{{'lang.' + view.id | translate}}</span>
                        </button>
                        <button mat-menu-item *ngIf="view.id==='chart'" [matMenuTriggerFor]="toolMenuChartView">
                            <mat-icon class="fas fa-chart-pie" color="primary" style="height: auto;width: auto;"></mat-icon>
                            <span>{{'lang.' + view.id | translate}}</span>
                        </button>
                    </ng-container>
                </mat-menu>
                <mat-menu #toolMenuChartView="matMenu">
                    <ng-container *ngFor="let mode of dashboardService.getChartMode()">
                        <button mat-menu-item [disabled]="tile.parameters.chartMode === mode && tile.view==='chart'" (click)="changeView(tile,'chart',{'chartMode': mode})">{{'lang.'+ mode | translate}}</button>
                    </ng-container>
                </mat-menu>
            </div>
            <app-tile-last-mails-view #tileComponent *ngIf="tile.type === 'myLastResources'" [tile]="tile" [view]="tile.view"
                style="display: flex;height: 100%;flex-direction: column;width: 100%;">
            </app-tile-last-mails-view>
            <app-tile-basket-view #tileComponent *ngIf="tile.type === 'basket'" [tile]="tile" [view]="tile.view"
                style="display: flex;height: 100%;flex-direction: column;width: 100%;">
            </app-tile-basket-view>
            <button mat-button color="secondary" mat-icon-button [title]="'lang.addTile' | translate" *ngIf="tile.id === null && tile.editMode" (click)="addTilePrompt(tile)">
                <mat-icon color="secondary" class="fa fa-plus"></mat-icon>
            </button>
        </div> 
    </div>
</div>
<div class="empty-dashboard" *ngIf="emptyDashboard()">
    <i class="fas fa-desktop"></i>
    <div>
        <span>{{'lang.dashboardEmpty' | translate}}</span>&nbsp;<button mat-stroked-button color="primary" (click)="addTilePrompt(tiles[0])">{{'lang.addTile' | translate}}</button>
    </div>
</div>