<div class="mat-dialog-content-container">
    <h1 mat-dialog-title>{{data.action.label}}</h1>
    <div mat-dialog-content>
        <div *ngIf="loading" class="loading" style="display:flex;height:100%;">
            <mat-spinner style="margin:auto;"></mat-spinner>
        </div>
        <mat-sidenav-container autosize style="height:100%;">
            <mat-sidenav-content style="background: white;">
                <div class="row" style="margin: 0;">
                    <div class="col-md-12">
                        {{lang.makeActionOn}}
                        <b *ngIf="data.resIds.length === 0" color="primary"
                            class="highlight">{{lang.currentIndexingMail}}</b>
                        <b *ngIf="data.resIds.length == 1" color="primary"
                            class="highlight">{{data.resource.chrono}}</b>
                        <b *ngIf="data.resIds.length > 1" color="primary" class="highlight">{{data.resIds.length}}
                            {{lang.elements}}</b> ?
                    </div>
                    <div>
                        <div class="col-md-12" style="padding-top: 10px;" *ngIf="additionalsInfos.users.length != 0">
                            <plugin-autocomplete [labelPlaceholder]="lang.userMaarchParapheur"
                                [datas]="additionalsInfos.users" [targetSearchKey]="'displayName'" [subInfoKey]="'email'"
                                (triggerEvent)="setVal($event)" [singleMode]="true" appearance="outline">
                            </plugin-autocomplete>
                        </div>
                        <div class="col-md-12" *ngIf="additionalsInfos.users.length == 0">
                            {{lang.noUserDefinedInMaarchParapheur}}
                        </div>
                        <div class="col-md-12" *ngIf="additionalsInfos.noMail.length != 0">
                            <div>
                                <div class="alert-message alert-message-danger mailList" role="alert">
                                    <p>
                                        {{lang.canNotMakeAction}} :
                                    </p>
                                    <ul>
                                        <li *ngFor="let mail of additionalsInfos.noMail">
                                            <b>{{mail.alt_identifier}}</b> : {{lang[mail.reason]}}
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-12" style="padding-top: 10px;">
                        <app-note-editor #noteEditor [resIds]="data.resIds"></app-note-editor>
                    </div>
                </div>
            </mat-sidenav-content>
        </mat-sidenav-container>
    </div>
    <span class="divider-modal"></span>
    <div mat-dialog-actions class="actions">
        <button mat-raised-button mat-button color="primary" [disabled]="loading || checkValidAction()"
            (click)="onSubmit()">{{lang.validate}}</button>
        <button mat-raised-button mat-button [disabled]="loading" [mat-dialog-close]="">{{lang.cancel}}</button>
    </div>
</div>
