<h2 mat-dialog-title color="primary"><span style="padding-left: 10px;">Choisissez un profil d'indexation</span></h2>
<mat-dialog-content>
    <mat-nav-list>
        <ng-container *ngFor="let group of data.indexingGroups">
            <a mat-list-item href="{{data.link}}&groupId={{group.groupId}}">
                <mat-icon color="primary" mat-list-icon class="fa fa-users"></mat-icon>
                <p mat-line>
                    {{group.label}}
                </p>
            </a>
        </ng-container>
    </mat-nav-list>
</mat-dialog-content>