<h2 mat-dialog-title color="primary" *ngIf="data.state=='BEGIN'">{{lang.hello}} <b>{{data.user.firstname}} {{data.user.lastname}}</b>, <br/>{{lang.changePasswordInfo}}.</h2>
<h2 mat-dialog-title color="primary" *ngIf="data.state=='END'"><i class="fa fa-check-circle fa-2x"></i> <span style="padding-left: 10px;">{{lang.passwordChanged}}</span></h2>

<mat-dialog-content>
    <mat-dialog-actions style="margin: 5px;margin-bottom:0px;justify-content:center;">
            <button mat-raised-button color="primary" (click)="dialogRef.close()" *ngIf="data.state=='BEGIN'">Ok</button>
            <button mat-raised-button color="primary" (click)="redirect()" *ngIf="data.state=='END'">{{lang.homePage}}</button>
        </mat-dialog-actions>
</mat-dialog-content>