<div class="admin-container" [class.admin-is-mobile]="appService.getViewMode()">
    <mat-sidenav-container autosize class="admin-sidenav-container">
        <mat-sidenav #snav [mode]="appService.getViewMode() ? 'over' : 'side'" [fixedInViewport]="appService.getViewMode()" fixedTopGap="56" [opened]="appService.getViewMode() ? false : true"
            autoFocus="false">
            <menu-shortcut></menu-shortcut>
            <menu-nav></menu-nav>
        </mat-sidenav>
        <mat-sidenav-content>
            <div *ngIf="loading">
                <i class="fa fa-spinner fa-spin fa-5x" style="margin-left: 50%;margin-top: 16%;font-size: 8em"></i>
            </div>
            <div *ngIf="!loading">
                <div class="row row-eq-height">
                    <div class="col-md-5 col-md-offset-3" style="margin-top: 50px;border-top: solid 2px #F99830;border-bottom: solid 2px #F99830;padding:10px;">
                        <h2>{{lang.saveNumericPackage}}</h2>
                        <form class="form-horizontal" (ngSubmit)="submitNumericPackage()" #saveNumericPackageForm="ngForm">
                            <input id="numericPackageFilePath" type="file" name="files[]"(change)="uploadNumericPackage($event)">
                            <br>
                            <div class="form-group">
                                <div style="text-align:center;">
                                    <button mat-raised-button color="primary" type="submit" [disabled]="!saveNumericPackageForm.form.valid">{{lang.save}}</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </mat-sidenav-content>
    </mat-sidenav-container>
</div>
