.example-container {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: #eee;
}

.mat-sidenav-content {
  display: flex;
  flex-direction: column;
}

.bg-head {
  background: #135F7F;
  min-height: 200px;
  color: white;

  &-title {
    font-size: 20px;
    padding: 20px;
    padding-left: 50px;
    padding-right: 50px;
    display: flex;
    align-items: center;

    &-label,
    &-tool {
      flex: 1;
      display: flex;
      align-items: center;

    }

    &-tool {
      justify-content: end;
    }

  }

  &-content {
    display: flex;
    align-items: center;
    padding-left: 30px;
    padding-right: 30px;
    padding-bottom: 90px;
  }
}

.panel-left {
  min-width: 300px;

  &-title {
    padding: 20px;
    padding-left: 10px;
    padding-right: 10px;

    color: #666;
    display: flex;
    align-items: center;

    &-label,
    &-tool {
      flex: 1;
      display: flex;
      align-items: center;

    }

    &-tool {
      justify-content: end;
    }

  }

  &-menu {
    &-shortcut {
      span {
        display: flex;
        flex: 1;
        justify-content: center;
      }

      .mat-mini-fab {
        box-shadow: none;
      }
    }

    &-basket {
      box-shadow: none;

      .mat-expansion-panel-header-title {
        font-weight: bold;
        color: #135F7F;
      }

      ::ng-deep.mat-expansion-panel-body {
        padding: 0;
      }
    }

    h3 {
      font-size: 12px;
      font-weight: 500;
    }
  }
}

.container {
  flex: 1;
  padding-left: 30px;
  padding-right: 30px;
  margin-top: -60px;
  width: 100%;

  &-content {
    position: relative;
    height: 100%;
    min-height: 200px;
    width: 100%;
    border-radius: 20px;
    background-color: #FFFFFF;
    box-shadow: 0 4px 9px 0 rgba(0, 0, 0, 0.09);

  }
}

.mat-paginator {
  background: none;
}

.table-head {
  overflow: auto;
  display: flex;
  padding-left: 25px;
  padding-right: 25px;
  height: 10%;
  align-items: center;
  white-space: pre;

  div {
    display: flex;
    flex: 1;
    align-items: center;
  }

  &-result {
    color: #4A4A4A;
    font-size: 25px;
    font-weight: bold;

    small {
      font-size: 14px;
      color: #029BB6;
    }

  }

  &-tool {
    justify-content: end;

    span {
      padding-left: 5px;
      padding-right: 5px;
    }
  }
}

.sub-info {
  display: flex;
  color: #8E8E8E;
  font-size: 11px;
  font-weight: bold;
  background: #F3FAFC;
  padding: 5px;

  &-data {
    flex: 1;

  }
}

.main-info {
  display: flex;
  padding: 20px;
  align-items: center;

  &-status {
    width: 50px;
    text-align: center;

    .mat-icon {
      font-size: 25px;
      color: green;
    }
  }

  &-action {
    color: #8E8E8E;

    .mat-badge-content {
      font-size: 10px;
    }
  }
}

.selected-data {
  background: #EEFCFF;

  .sub-info {
    background: #EEFCFF;
  }

  .main-info-data {
    color: #135F7F;
  }

}

button[disabled] {
  opacity: 0.5;
  border-color: #666 !important;
  color: #666 !important;
}

.mat-icon {
  height: auto;
}

.mat-row:hover {
  background: inherit;
}

.align_leftData {
  text-align: left;
}

.align_centerData {
  text-align: center;
}

.align_rightData {
  text-align: right;
}

.boldFontData {
  font-weight: bold;
}

.bigFontData {
  font-size: 14px;
}

.smallFontData {
  font-size: 10px;
}

.normalData {
  flex: 1;
}

.chronoData {
  width: 150px;
}

.longData {
  flex: 3;
}