.docView {
    overflow: hidden;
}

mat-toolbar {
    border: solid 1px #F9983066;
    font-size: 10px;
    height: 20px;
    color: #666;
}

.resultContainer {
    // color : rgb(102, 102, 102);
    padding: 10px;

    &-mobile {
        padding-left: 0px !important;
        padding-right: 0px !important;
    }
}

.resultRow {
    align-items: center;
    display: flex;
    padding: 5px;
    padding-top: 10px;

    &-mobile {
        font-size: 80%;
    }
}

.resultCol {
    flex: 1;
    overflow: hidden;
    text-overflow: ellipsis;

    &-mobile {
        overflow: inherit;
        text-overflow: inherit;
        word-break: break-all;
    }
}

.twoCol {
    flex: 2;
}

.mat-row:hover {
    background: inherit;
}

.newRow {
    // font-weight: bold;
}

.endCol {
    text-align: right;
}

.paginatorResultList {
    ::ng-deep.mat-paginator-container {
        min-height: auto;
    }
}

.noData {
    opacity: 0.5;
}

.chrono {
    color: #666;

    &-mobile {
        font-size: 70%;
    }
}

.checkThis {
    width: 40px;
    text-align: center;
}

.statusCol {
    width: 80px;
    text-align: center;
}

.actionsCol {
    width: 40px;
}

.actions {
    box-shadow: none;
    border: none;
    flex: 1;
    justify-content: flex-end;
    overflow: inherit;
}

.emptyBasket {
    display: flex;
    flex-direction: column;
    text-align: center;
    position: absolute;
    margin: -16px;
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;

    &_content {
        width: 400px;
    }

    &_icon {
        font-size: 500px;
        opacity: 0.1;
        position: absolute;
        top: 0px;
        left: 0;
        width: 100%;
    }

    &_label {
        font-size: 40px;
        font-weight: bold;
        opacity: 0.2;
    }
}

.mat-badge-content {
    background: #F99830;
}

.align_leftData {
    text-align: left;
}

.align_centerData {
    text-align: center;
}

.align_rightData {
    text-align: right;
}

.boldFontData {
    font-weight: bold;
}

.bigFontData {
    font-size: 14px;
}

.smallFontData {
    font-size: 10px;
}

.normalData {
    flex: 1;
}

.chronoData {
    width: 150px;
}

.longData {
    flex: 3;
}