<div class="admin-container" [class.admin-is-mobile]="mobileQuery.matches">
    <mat-sidenav-container autosize class="admin-sidenav-container">
        <mat-sidenav #snav [mode]="mobileMode ? 'over' : 'side'" [fixedInViewport]="mobileMode" fixedTopGap="56"
            [opened]="mobileMode ? false : true" autoFocus="false" style="overflow-x:hidden;" [ngStyle]="{'width': mobileMode ? '80%' : '400px'}">
            <menu-shortcut></menu-shortcut>
            <menu-nav></menu-nav>
            <basket-home *ngIf="homeData" [homeData]="homeData" [snavL]="snav" [currentBasketInfo]="currentBasketInfo"></basket-home>
            <mat-divider></mat-divider>
        </mat-sidenav>
        <mat-sidenav-content>
            <div *ngIf="loading" style="display:flex;height:100%;">
                <mat-spinner style="margin:auto;"></mat-spinner>
            </div>
            <mat-card class="card-app-content">
                <div class="example-loading-shade" *ngIf="isLoadingResults">
                    <mat-spinner *ngIf="isLoadingResults"></mat-spinner>
                </div>
                <div class="row" style="margin:0px;">
                    <div class="col-md-12" style="display:flex;">
                        <app-filters-tool style="flex:1;" #filtersTool [currentBasketInfo]="currentBasketInfo"
                            [listProperties]="this.listProperties" [snavR]="snav2" [selectedRes]="selectedRes" (toggleAllRes)="toggleAllRes($event)" (refreshEvent)="refreshDao()"></app-filters-tool>
                        <mat-paginator #paginatorResultList [length]="resultsLength" [pageSize]="10" class="paginatorResultList"></mat-paginator>
                    </div>
                </div>
                <mat-card id="viewThumbnail" style="display:none;position: fixed;z-index: 2;"><img src="{{thumbnailUrl}}" /></mat-card>
                <table #tableBasketListSort="matSort" mat-table [dataSource]="data" matSort matSortActive="res_id"
                    matSortDisableClear matSortDirection="asc" style="width:100%;table-layout: fixed;">
                    <ng-container matColumnDef="res_id">
                        <td mat-cell *matCellDef="let row" class="resultContainer" [class.resultContainer-mobile]="mobileMode">
                            <!-- Secondary Info Line -->
                            <mat-toolbar *ngIf="row.display.length > 0">
                                <div class="resultCol" style="flex:1;overflow: hidden;text-overflow: ellipsis;padding-right: 10px;" [class]="data.cssClasses.join(' ')" *ngFor="let data of row.display">
                                    <ng-container *ngIf="data.value == 'getCreationAndProcessLimitDates'">
                                        <ng-container *ngIf="row.closing_date != lang.undefined">
                                            <i class="fa fa-lock" title="{{lang.closingDate}}"></i>&nbsp;<span
                                                [innerHTML]="row.closing_date | timeAgo" title='{{row.closing_date | date : "le dd/MM/y à HH:mm"}}'></span>
                                        </ng-container>
                                        <ng-container *ngIf="row.closing_date == lang.undefined">
                                                <i class="fa fa-calendar" title="{{lang.creationDate}}"></i>&nbsp;<span
                                                [innerHTML]="data.displayValue.creationDate | timeAgo" title='{{data.displayValue.creationDate | date : "le dd/MM/y à HH:mm"}}'></span> - <i class="fa fa-stopwatch" title="{{lang.processLimitDate}}"></i>&nbsp;<span
                                                    [innerHTML]="data.displayValue.processLimitDate | timeLimit" title='{{data.displayValue.processLimitDate | date : "le dd/MM/y à HH:mm"}}'></span>
                                        </ng-container>
                                    </ng-container>
                                    <ng-container *ngIf="data.icon != ''">
                                        <i class="fa {{data.icon}}" title="{{data.label}}"></i>
                                        &nbsp;
                                    </ng-container>
                                    <ng-container *ngIf="data.value == 'getCategory'">
                                        <span *ngIf="!lang[data.displayValue]" style="opacity: 0.5" title="id: {{data.displayValue}}">_UNDEFINED</span>
                                        <span *ngIf="lang[data.displayValue]">{{lang[data.displayValue]}}</span>
                                    </ng-container>
                                    <ng-container *ngIf="data.value != 'getCategory' && data.value != 'getCreationAndProcessLimitDates'">
                                        <span *ngIf="!data.value.includes('Date')" title="{{data.displayValue}}"  [innerHTML]="data.displayValue"></span>
                                        <span *ngIf="data.value.includes('Date')" [innerHTML]="data.displayValue | timeAgo"></span>
                                    </ng-container>
                                </div>
                            </mat-toolbar>
                            <!-- Primary Info Line -->
                            <div class="resultRow newRow" [class.resultRow-mobile]="mobileMode">
                                <div *ngIf="!mobileMode" class="checkThis">
                                    <mat-checkbox color="primary" [checked]="row.checked" (change)="toggleRes($event,row.res_id)" (click)="$event.stopPropagation();"></mat-checkbox>
                                </div>
                                <div class="resultCol" [class]="data.cssClasses.join(' ')" *ngFor="let data of displayedMainData">
                                    <span *ngIf="data.value == 'alt_identifier'">
                                        <mat-icon [ngStyle]="{'color': row.priorityColor}" color="primary" class="{{row.statusImage.charAt(0)}}{{row.statusImage.charAt(1)}} {{row.statusImage}} {{row.statusImage.charAt(0)}}{{row.statusImage.charAt(1)}}-2x"
                                            title="{{row.statusLabel}}" style="cursor: crosshair;"
                                            (click)="$event.stopPropagation();filterThis(row.statusLabel)"></mat-icon><br />
                                        <span *ngIf="row[data.value] == lang.undefined && row.barcode != null" style="color: rgba(0,0,0,0.4);font-size: 90%;"><i
                                                class="fas fa-barcode"></i> {{row.barcode}}</span>
                                        <span *ngIf="row[data.value] != lang.undefined" style="color: rgba(0,0,0,0.4);font-size: 90%;cursor: crosshair;"
                                            (click)="$event.stopPropagation();filterThis(row[data.value])">{{row[data.value]}}</span>
                                    </span>
                                    <ng-container *ngIf="data.value != 'alt_identifier'">
                                        <span [class.undefined]="row[data.value] == lang.undefined" title="{{row[data.value]}}" >{{row[data.value] | shorten: 150: '...'}}</span>
                                    </ng-container>
                                </div>
                                <mat-button-toggle-group #group="matButtonToggleGroup" class="actions" multiple>
                                    <button color="primary" mat-icon-button title="{{lang.notes}}" (click)="$event.stopPropagation();openBottomSheet(row)" [class.noData]="row.countNotes == 0">
                                        <mat-icon matBadgeHidden="{{row.countNotes == 0}}" fontSet="fas" matBadge="{{row.countNotes}}"
                                            fontIcon="fa-comments fa-2x"></mat-icon>
                                    </button>
                                    <button color="primary" mat-icon-button title="{{lang.attachments}}" (click)="$event.stopPropagation();openAttachSheet(row)" [class.noData]="row.countAttachments == 0">
                                        <mat-icon matBadgeHidden="{{row.countAttachments == 0}}" fontSet="fas" matBadge="{{row.countAttachments}}"
                                            fontIcon="fa-paperclip fa-2x"></mat-icon>
                                    </button>
                                    <button color="primary" mat-icon-button title="{{lang.diffusionList}}" (click)="$event.stopPropagation();openDiffusionSheet(row)">
                                        <mat-icon fontSet="fas" fontIcon="fa-sitemap fa-2x"></mat-icon>
                                    </button>
                                    <button color="primary" mat-icon-button title="{{lang.linkDetails}}" (click)="$event.stopPropagation();goToDetail(row);"
                                        (mouseenter)="viewThumbnail(row);" (mouseleave)="closeThumbnail();">
                                        <mat-icon fontSet="fas" fontIcon="fa-info-circle fa-2x"></mat-icon>
                                    </button>
                                </mat-button-toggle-group>
                            </div>
                        </td>
                    </ng-container>
                    <tr mat-row *matRowDef="let row; columns: displayedColumnsBasket;" (swipeleft)="paginatorResultList.nextPage()"
                        (swiperight)="paginatorResultList.previousPage()" (click)="goTo(row);" style="cursor: pointer;"></tr>
                </table>
            </mat-card>
        </mat-sidenav-content>
        <mat-sidenav #snav2 mode="over" [fixedInViewport]="mobileQuery.matches" fixedTopGap="56" position='end'
            [opened]="mobileQuery.matches ? false : false" style="overflow-x:hidden;" [class.docView]="!filtersListService.filterMode"
            [ngStyle]="{'width': mobileMode ? '80%' : '40%'}" autoFocus="false">
            <div *ngIf="innerHtml && !filtersListService.filterMode" [matTooltip]="currentChrono" [innerHTML]="innerHtml"
                style="height: 100%;overflow: hidden;"></div>

            <app-filters-list *ngIf="filtersListService.filterMode" [listProperties]="this.listProperties"
                (refreshEvent)="refreshDao()"></app-filters-list>

            <mat-divider></mat-divider>
        </mat-sidenav>
    </mat-sidenav-container>
</div>