.align_leftData {
  text-align: left;
}

.align_centerData {
  text-align: center;
}

.align_rightData {
  text-align: right;
}

.boldFontData {
  font-weight: bold;
}

.bigFontData {
  font-size: 14px;
}

.smallFontData {
  font-size: 10px;
}

.normalData {
  flex: 1;
}

.chronoData {
  width: 150px;
}

.longData {
  flex: 3;
}