<div class="admin-container" [class.admin-is-mobile]="mobileQuery.matches">
    <mat-sidenav-container autosize class="admin-sidenav-container">
        <mat-sidenav #snav [mode]="mobileMode ? 'over' : 'side'" [fixedInViewport]="mobileMode" fixedTopGap="56"
            [opened]="mobileMode ? false : true" autoFocus="false" style="overflow-x:hidden;" [ngStyle]="{'width': mobileMode ? '80%' : '400px'}">
            <menu-shortcut></menu-shortcut>
            <menu-nav></menu-nav>
            <basket-home *ngIf="homeData" [homeData]="homeData" [snavL]="snav"></basket-home>
            <mat-divider></mat-divider>
        </mat-sidenav>
        <mat-sidenav-content>
            <div *ngIf="loading" style="display:flex;height:100%;">
                <mat-spinner style="margin:auto;"></mat-spinner>
            </div>
            <mat-card class="card-app-content">
                <div class="example-loading-shade" *ngIf="isLoadingResults">
                    <mat-spinner *ngIf="isLoadingResults"></mat-spinner>
                </div>
                <div class="row" style="margin:0px;">
                    <div class="col-md-9 col-xs-9">
                        <mat-button-toggle-group #group="matButtonToggleGroup" class="envFilter" (change)="updateFilters($event)" multiple>
                            <mat-checkbox color="primary" style="margin: 10px;" title="Sélectionner tous les courriers de la bannette"></mat-checkbox>
                            <button mat-stroked-button (click)="openFilter()">Filtres</button>
                            <mat-button-toggle [checked]="this.listProperties.onlyProcesLimit" value="onlyProcesLimit" title="Afficher les courriers en retard">
                                <mat-icon fontSet="fas" fontIcon="fa-stopwatch fa-2x"></mat-icon>
                            </mat-button-toggle>
                            <mat-button-toggle [checked]="this.listProperties.onlyNewRes"value="onlyNewRes" title="Afficher les courriers non lu">
                                <mat-icon fontSet="fas" fontIcon="fa-eye-slash fa-2x"></mat-icon>
                            </mat-button-toggle>
                            <mat-button-toggle [checked]="this.listProperties.withPj" value="withPj" title="Afficher les courriers avec réponses">
                                <mat-icon fontSet="fas" fontIcon="fa-reply fa-2x"></mat-icon>
                            </mat-button-toggle>
                            <mat-button-toggle [checked]="this.listProperties.withNote" value="withNote" title="Afficher les courriers avec annotations">
                                <mat-icon fontSet="fas" fontIcon="fa-comments fa-2x"></mat-icon>
                            </mat-button-toggle>
                            <mat-form-field appearance="outline" [style.fontSize.px]="10" style="width:200px !important;">
                                <mat-label>Trier par</mat-label>
                                <mat-select multiple>
                                    <mat-option value="test">
                                        Numéro chrono
                                    </mat-option>
                                    <mat-option value="test">
                                        Date de création
                                    </mat-option>
                                </mat-select>
                            </mat-form-field>
                            <button mat-icon-button [matMenuTriggerFor]="menuParamList">
                                <mat-icon color="primary" fontSet="fas" fontIcon="fa-cog fa-2x"></mat-icon>
                            </button>
                            <mat-menu #menuParamList="matMenu">
                                <button mat-menu-item>
                                    <mat-icon fontSet="fas" fontIcon="fa-print fa-2x"></mat-icon>
                                    <span>Imprimer la liste</span>
                                </button>
                                <button mat-menu-item>
                                    <mat-icon fontSet="fas" fontIcon="fa-file-export fa-2x"></mat-icon>
                                    <span>Exporter les données</span>
                                </button>
                                <button mat-menu-item>
                                    <mat-icon fontSet="far" fontIcon="fa-list-alt fa-2x"></mat-icon>
                                    <span>Paramétrer l'affichage</span>
                                </button>
                            </mat-menu>
                        </mat-button-toggle-group>
                        <div class="filterBadges">
                            <span class="label label-info" title="Fitre(s) actif(s)" *ngFor="let category of this.listProperties.categories" (click)="openFilter()">{{category.label}}</span>
                            <span class="label label-info" title="Fitre(s) actif(s)" *ngFor="let priority of this.listProperties.priorities" (click)="openFilter()">{{priority.label}}</span>
                            <span class="label label-info" title="Fitre(s) actif(s)" *ngFor="let entity of this.listProperties.entities" (click)="openFilter()">{{entity.label}}</span>
                        </div>
                    </div>
                    <div class="col-md-3 col-xs-3">
                        <mat-paginator [length]="resultsLength" [pageSize]="10"></mat-paginator>
                    </div>
                </div>

                <table #tableBasketListSort="matSort" mat-table [dataSource]="data" matSort matSortActive="res_id"
                    matSortDisableClear matSortDirection="asc" style="width:100%;table-layout: fixed;">
                    <ng-container matColumnDef="res_id">
                        <td mat-cell *matCellDef="let row" class="resultContainer" [class.resultContainer-mobile]="mobileMode">
                            <!-- Secondary Info Line -->
                            <mat-toolbar *ngIf="displayedSecondaryData.length > 0">
                                <div class="resultCol {{data.class}}" *ngFor="let data of displayedSecondaryData">
                                    <span *ngIf="data.id == 'status_label'">
                                        <mat-icon [ngStyle]="{'color': row.priority_color}" color="primary" class="{{row.status_icon.charAt(0)}}{{row.status_icon.charAt(1)}} {{row.status_icon}} {{row.status_icon.charAt(0)}}{{row.status_icon.charAt(1)}}-2x"
                                            title="{{row.status_label}} ({{row.status_id}})"></mat-icon><br />
                                    </span>
                                    <ng-container *ngIf="data.id == 'date'">
                                        <i class="fa fa-calendar" title="{{lang.creationDate}}"></i>&nbsp;{{row.creation_date
                                        | timeAgo}} - <i class="fa fa-stopwatch" title="{{lang.processLimitDate}}"></i>&nbsp;<span
                                            [innerHTML]="row.process_limit_date | timeLimit" title='{{row.process_limit_date | date : "le dd/MM/y à HH:mm"}}'></span>
                                    </ng-container>
                                    <ng-container *ngIf="data.icon != ''">
                                        <i class="{{data.icon}}"></i>
                                        &nbsp;
                                    </ng-container>
                                    <ng-container *ngIf="data.id == 'category_id'">
                                        {{lang[row.category_id]}}
                                    </ng-container>
                                    <ng-container *ngIf="data.id != 'status_label' && data.id != 'date' && data.id != 'category_id'">
                                        {{row[data.id]}}
                                    </ng-container>
                                </div>
                            </mat-toolbar>
                            <!-- Primary Info Line -->
                            <div class="resultRow newRow" [class.resultRow-mobile]="mobileMode">
                                <div *ngIf="!mobileMode" class="checkThis">
                                    <mat-checkbox color="primary"></mat-checkbox>
                                </div>
                                <div class="resultCol {{data.class}}" *ngFor="let data of displayedMainData">
                                    <span *ngIf="data.id == 'alt_identifier'">
                                        <mat-icon [ngStyle]="{'color': row.priority_color}" color="primary" class="{{row.status_icon.charAt(0)}}{{row.status_icon.charAt(1)}} {{row.status_icon}} {{row.status_icon.charAt(0)}}{{row.status_icon.charAt(1)}}-2x"
                                            title="{{row.status_label}} ({{row.status_id}})"></mat-icon><br />
                                        <span style="color: rgba(0,0,0,0.4);font-size: 90%;">{{row[data.id]}}</span>
                                    </span>
                                    <ng-container *ngIf="data.id == 'date'">
                                        <i class="fa fa-calendar" title="{{lang.creationDate}}"></i>&nbsp;{{row.creation_date
                                        | timeAgo}} - <i class="fa fa-stopwatch" title="{{lang.processLimitDate}}"></i>&nbsp;<span
                                            [innerHTML]="row.process_limit_date | timeLimit" title='{{row.process_limit_date | date : "le dd/MM/y à HH:mm"}}'></span>
                                    </ng-container>
                                    <ng-container *ngIf="data.icon != ''">
                                        <i class="{{data.icon}}"></i>
                                        &nbsp;
                                    </ng-container>
                                    <ng-container *ngIf="data.id == 'category_id'">
                                        {{lang[row.category_id]}}
                                    </ng-container>
                                    <ng-container *ngIf="data.id != 'status_label' && data.id != 'date' && data.id != 'category_id' && data.id != 'alt_identifier'">
                                        {{row[data.id]}}
                                    </ng-container>
                                </div>
                                <mat-button-toggle-group #group="matButtonToggleGroup" class="actions" multiple>
                                    <button color="primary" mat-icon-button (click)="openBottomSheet(row)">
                                        <mat-icon fontSet="fas" matBadge="??" fontIcon="fa-comments fa-2x"></mat-icon>
                                    </button>
                                    <button color="primary" mat-icon-button (click)="openAttachSheet(row)">
                                        <mat-icon fontSet="fas" matBadge="??" fontIcon="fa-paperclip fa-2x"></mat-icon>
                                    </button>
                                    <button color="primary" mat-icon-button (click)="openDiffusionSheet(row)">
                                        <mat-icon matBadgeSize="medium" fontSet="fas" fontIcon="fa-sitemap fa-2x"></mat-icon>
                                    </button>
                                    <button color="primary" mat-icon-button (click)="goTo(row)">
                                        <mat-icon fontSet="fas" fontIcon="fa-eye fa-2x"></mat-icon>
                                    </button>
                                    <button color="primary" mat-icon-button (click)="goToDetail(row);">
                                        <mat-icon fontSet="fas" fontIcon="fa-info-circle fa-2x"></mat-icon>
                                    </button>
                                </mat-button-toggle-group>
                            </div>
                        </td>
                    </ng-container>
                    <tr mat-row *matRowDef="let row; columns: displayedColumnsBasket;" (click)="test();"></tr>
                </table>
                <div class="mat-paginator" style="min-height:48px;min-height: 48px;display: flex;justify-content: end;align-items: center;padding-right: 20px;">{{resultsLength}}
                    {{lang.entries}}</div>
            </mat-card>
        </mat-sidenav-content>
        <mat-sidenav #snav2 mode="over" [fixedInViewport]="mobileQuery.matches" fixedTopGap="56" position='end'
            [opened]="mobileQuery.matches ? false : false" style="overflow-x:hidden;" [class.docView]="!filterMode" [ngStyle]="{'width': mobileMode ? '80%' : '40%'}">
            <div *ngIf="innerHtml && !filterMode" [innerHTML]="innerHtml" style="height: 100%;overflow: hidden;"></div>

            <app-filters-list *ngIf="filterMode" [listProperties]="this.listProperties"></app-filters-list>
            <mat-divider></mat-divider>
        </mat-sidenav>
    </mat-sidenav-container>
</div>