@import '../../css/vars.scss';

.noDoc {
    .mat-badge-content {
        color: #666;
        opacity: 0.5;
    }
}

.watermark {
    position: absolute;
    transform: rotate(-20deg);
    color: red;
    font-weight: bold;
    margin-left: -60px;
    opacity: 0.6;
  }