@import '../../css/vars.scss';

.mat-badge-content {
    background: none;
    color: $primary;
}

.noDoc {
    .mat-badge-content {
        color: #666;
        opacity: 0.5;
    }
}

.watermark {
    position: absolute;
    transform: rotate(-20deg);
    color: red;
    font-weight: bold;
    margin-left: -80px;
    margin-top: 10px;
    opacity: 0.6;
  }