/******* CORECTION BUG CSS WITH V1 (A SUPPRIMER A LA FIN) *********/
.page-header h1{
    margin-top: 10px !important;
}

#menu{
    margin-top: 35px !important;
}
#menunav{
    font-size: 90% !important;
}
#menu span{
    background-size: 45% !important;
}

#gauchemenu{
    top: 28px !important;
    height: 38px !important;
}
#logo{
    height: 66px !important;
}
#menunav{
    width: 264px !important;
}
#ariane{
    top: -5px !important;
    font-size: 0.8em !important;
}
.footer_menu{
    font-size: 0.7em !important;
    height: 18px !important;
}
/************************************************************/

.page-header{
    margin-top: 0px;
}

.page-header h1{
    font-size: 30px;
}

#container{
    padding: 0px !important;
}
.md2-toast {
    display: table;
    background-color: #337ab7 !important;
    vertical-align: middle;
    /*background-color: rgba(63, 81, 181, 0.6) !important;*/
    /*background-color: rgba(0, 0, 0, 0.6) !important;*/
}

.md2-toast i{
    display: table-cell;
    padding:5px;
    vertical-align: middle;
}

.md2-toast span{
    display: table-cell;
    padding:5px;
    vertical-align: middle;
}
.mat-input-container,.md2-select,md2-datepicker{
    width:100% !important;
}

.md2-select{
    padding-bottom: 1.29688em;
}

.mat-tab-body-wrapper{
    padding: 10px;
}

table .mat-input-container{
    width:200px !important;
}

/*HeaderV2*/
#headerV2 .nav .open > a, .nav .open > a:focus, .nav .open > a:hover{
    background-color: inherit !important;
}

/* modal part */
.modal-content{
    background-color: #009DC5 !important;
}
.modal-header h4{
    color: white !important;
}
.modal-body{
    background-color: white;
    padding:10px;
    min-height: 200px;
    max-height: 70vh;
    overflow: hidden;
    overflow-y: auto;
}
.modal-body .list-group li{
    /*border-color: #009DC5 !important;*/
    font-weight: bold;
}
.modal-footer{
    background:white;
}
