.page-header{
    margin-top: 0px;
}

.page-header h1{
    font-size: 30px;
}

#container{
    padding: 0px !important;
}
.md2-toast {
    display: table;
    /*background-color: #3f51b5 !important;*/
    vertical-align: middle;
    /*background-color: rgba(63, 81, 181, 0.6) !important;*/
    /*background-color: rgba(0, 0, 0, 0.6) !important;*/
}

.md2-toast i{
    display: table-cell;
    padding:5px;
    vertical-align: middle;
}

.md2-toast span{
    display: table-cell;
    padding:5px;
    vertical-align: middle;
}
.mat-input-container,.md2-select,md2-datepicker{
    width:100% !important;
}

.md2-select{
    padding-bottom: 1.29688em;
}

.mat-tab-body-wrapper{
    padding: 10px;
}

table .mat-input-container{
    width:200px !important;
}

/*HeaderV2*/
#headerV2 .nav .open > a, .nav .open > a:focus, .nav .open > a:hover{
    background-color: inherit !important;
}

/* modal part */
.modal-content{
    background-color: #009DC5 !important;
}
.modal-header h4{
    color: white !important;
}
.modal-body{
    background-color: white;
    padding:10px;
    min-height: 200px;
    max-height: 70vh;
    overflow: hidden;
    overflow-y: auto;
}
.modal-body .list-group li{
    /*border-color: #009DC5 !important;*/
    font-weight: bold;
}
.modal-footer{
    background:white;
}
