#inner_content {
    border-top: none;
    border-bottom: none;
    padding: 15px 0px 0px;
    min-width: 1000px;
    min-height: 370px;
    height: auto;
    margin-left: 0px;
}
.clearfix {
    display: block;
}

.category{
    background: white;
}

.hide{

display :hidden; 

}

.selectSize{

width: 15%;
}

h2 {
    font-size: 16px;
    clear: both;
     background-color: #009DC5;
    padding: 0.5em;
    margin-left: -10px;
    margin-right: -10px;
    margin-top: -10px;
    margin-bottom: 10px;
    color: #ffffff;
}

.block h2 {
    background-color: #009DC5;
    padding: 0.5em;
    margin-left: -10px;
    margin-right: -10px;
    margin-top: -10px;
    margin-bottom: 10px;
    color: #ffffff;
}