/* Alert info*/
#resultInfo{
    top :10px;
    text-align: center;
    position: fixed;
    width: 30%;
    right: 10px;
    z-index: 1051;
    height: 40px;
    -moz-box-shadow: 0px 0px 5px 0px #656565;
    -webkit-box-shadow: 0px 0px 5px 0px #656565;
    -o-box-shadow: 0px 0px 5px 0px #656565;
    box-shadow: 0px 0px 5px 0px #656565;
    filter:progid:DXImageTransform.Microsoft.Shadow(color=#656565, Direction=NaN, Strength=5);
}
nav{
    margin-top:10px !important;
    margin-bottom: 0px !important;
}

.modal-content{
    background-color: #009DC5 !important;
}
.modal-header h4{
    color: white !important;

}

.modal-body{
    background-color: white;
    padding:10px;
    max-height: 70vh;
    overflow: auto;

}

.modal-body .list-group li{
    /*border-color: #009DC5 !important;*/
    font-weight: bold;
}

.modal-footer{
    background:white;
}

button:disabled{
    opacity:0.3 !important;
}