nav{
    margin-top:10px !important;
    margin-bottom: 10px !important;
}
h2{
    background-color: #009DC5 !important;
    color: white !important;
    margin-top: -10px !important;
    margin-left: -10px !important;
    margin-right: -10px !important;
    padding: 10px !important;
    font-size: 16px !important;
}

.btn-default:focus.label-primary ,.btn-default:hover.label-primary ,.btn-default.active.label-primary, .btn-default:active.label-primary, .open > .dropdown-toggle.btn-default.label-primary{
    background: #337ab7 !important;
}

.userAdministrationClickable li {
    cursor: pointer;
}