
/* admin modules board */
#ent_manage_entities {
	background: url(../../modules/entities/img/manage_entities.gif) no-repeat 2px top;
}

#admin_entities_sub {
	background:  url(../../modules/entities/img/manage_entities.gif) no-repeat 2px top;
}

#admin_entities_tree_sub {
	background:  url(../../modules/entities/img/entity_tree.gif) no-repeat 2px top;
}

#admin_users_entities_sub {
	background:  url(../../modules/entities/img/manage_users_entities.gif) no-repeat 2px top;
}

.entities_list
{
	width: 310px;
}

#listmodel_box {
	border: 0px;
	float: right;
	width: 330px;
	margin: 0 10px 0 13px;
	height: 450px;

}
#listmodel_box .listingsmall
{
width: 320px;
}
#diff_list .listing
{
 width: 800px;
}

#chooseEntity select, #chooseEntity #role
{
	width: 280px;
}
