<mat-divider *ngIf="homeData.regroupedBaskets.length > 0 || homeData.assignedBaskets.length > 0">
</mat-divider>
<mat-expansion-panel class="basketList" expanded *ngIf="homeData.regroupedBaskets.length > 0 || homeData.assignedBaskets.length > 0">
    <mat-expansion-panel-header>
        <mat-panel-title>
            {{lang.myBaskets}}
        </mat-panel-title>
    </mat-expansion-panel-header>
    <mat-form-field floatLabel="never" style="padding-left:20px;padding-right:20px;">
        <input matInput placeholder="{{lang.filterBy}}" #listFilter>
    </mat-form-field>
    <ng-container *ngFor="let regroupedBasket of homeData.regroupedBaskets">
        <mat-icon *ngIf="regroupedBasket.baskets[0]" color="primary" mat-list-icon class="fa fa-users" style="margin-left:10px;"></mat-icon> <span *ngIf="regroupedBasket.baskets[0]" color="primary" style="font-weight:bold;">{{regroupedBasket.groupDesc}}</span>
        <mat-divider *ngIf="regroupedBasket.baskets[0]"></mat-divider>
        <mat-nav-list>
            <ng-container *ngFor="let basket of regroupedBasket.baskets | filterList:listFilter.value:'basket_name'">
                <a mat-list-item *ngIf="basket.redirected" disableRipple="true" style="cursor:not-allowed;">
                    <mat-icon [ngStyle]="{'color': basket.color}" *ngIf="basket.redirected && !mobileMode" mat-list-icon class="fa fa-share"></mat-icon>
                    <span *ngIf="basket.resourceNumber==0" class="nbResZero">{{basket.resourceNumber}}</span>
                    <span *ngIf="basket.resourceNumber!=0" class="nbRes">{{basket.resourceNumber}}</span>
                    <p mat-line title="{{basket.basket_name}}" [ngStyle]="{'color': basket.color}">
                        {{basket.basket_name}}<br/><small color="primary">({{lang.redirectedTo}} {{basket.redirectedUser}})</small>
                    </p>
                </a>
                <a mat-list-item [ngClass]="{'selectedBasket': currentBasketInfo.basketId == basket.id && currentBasketInfo.ownerId == basket.owner_user_id && currentBasketInfo.groupId == regroupedBasket.groupSerialId}" *ngIf="!basket.redirected" (click)="refreshDatas(basket);closePanelLeft();" routerLink="/basketList/users/{{basket.owner_user_id}}/groups/{{regroupedBasket.groupSerialId}}/baskets/{{basket.id}}" style="cursor:pointer;" [ngStyle]="{'opacity': basket.resourceNumber==0 ? '0.5' : '1', 'height': mobileMode ? '50px' : '38px'}">
                    <span *ngIf="basket.resourceNumber==0" class="nbResZero">{{basket.resourceNumber}}</span>
                    <span *ngIf="basket.resourceNumber!=0" class="nbRes">{{basket.resourceNumber}}</span>
                    <p mat-line title="{{basket.basket_name}}" [ngStyle]="{'color': basket.color}">
                        {{basket.basket_name}}
                    </p>
                </a>
            </ng-container>
        </mat-nav-list>
    </ng-container>
    <ng-container *ngIf="homeData.assignedBaskets.length>0">
        <span color="primary" style="font-weight:bold;" title="{{lang.basketsAssigned}}">{{lang.basketsAssignedShort}}</span>
        <mat-divider></mat-divider>
        <mat-nav-list>
            <a mat-list-item *ngFor="let basket of homeData.assignedBaskets | filterList:listFilter.value:'basket_name'" [ngClass]="{'selectedBasket': currentBasketInfo.basketId==basket.id && currentBasketInfo.ownerId==basket.owner_user_id && currentBasketInfo.groupId==basket.group_id}" routerLink="/basketList/users/{{basket.owner_user_id}}/groups/{{basket.group_id}}/baskets/{{basket.id}}">
                <mat-icon *ngIf="!mobileMode" style="color:#666" mat-list-icon class="fa fa-paper-plane"></mat-icon>
                <span *ngIf="basket.resourceNumber==0" class="nbResZero">{{basket.resourceNumber}}</span>
                <span *ngIf="basket.resourceNumber!=0" class="nbRes">{{basket.resourceNumber}}</span>
                <p mat-line title="{{basket.basket_name}}" style="color:#666">
                    {{basket.basket_name}}<br/><small color="primary">({{basket.userToDisplay}} - {{basket.group_desc}})</small>
                </p>
            </a> 
        </mat-nav-list>
    </ng-container>
</mat-expansion-panel>
<mat-divider *ngIf="homeData.regroupedBaskets.length > 0 || homeData.assignedBaskets.length > 0"></mat-divider>
