@import '../../../css/vars.scss';

.folderAction {
    font-style: italic;

    .mat-icon {
        font-size:20px;
        color: $primary;
    }
}

.labelFolder {
    color: rgb(102, 102, 102);
    font-size: 12px;
    font-weight: bold;
}

.private {
    color: $secondary;
}

::ng-deep.folderListMenu {
    width: auto;
}