<div class="mat-dialog-content-container">
    <h1 mat-dialog-title>{{'lang.visaWorkflowHistory' | translate}}</h1>
    <div mat-dialog-content style="padding-top: 0px;">
        <app-history-visa-workflow [resId]="data.resId" style="display: contents;"></app-history-visa-workflow>
    </div>
    <span class="divider-modal"></span>
    <div mat-dialog-actions class="actions">
        <button mat-raised-button mat-button [mat-dialog-close]="">{{'lang.close' | translate}}</button>
    </div>
</div>
