.bg-head-title-tool {
    display: flex;

    ::ng-deep.mat-form-field-label-wrapper {
        font-style: italic;
    }

    ::ng-deep .mat-form-field-label {
        color: white;
        font-size: 12px;
        opacity: 0.5;
    }
}

.noAvailableMenu {
    text-align: center;
    font-size: 14px;
    opacity: 0.5;
    font-style: italic;
    padding: 22px;
}