

/* menu */
.detailsCasesButton {
    background: #F2F2F2;
    border: 1px solid #666;
    border-bottom: 0;
    cursor: pointer;
    display: inline;
    float: right;
    margin: 2px 0 0 -1px;
    padding: 2px 5px;
    position: relative;
    font-size: 14px;
}

.detailsCasesClicked {
    background: #fff;
    margin-top: 0;
    margin-bottom: -3px;
    padding-bottom: 5px;
    position: relative;
    z-index: 1;
}

.detailsCasesIframe {
    background: #fff;
    border-top: 1px solid #666;
    clear: both;
    margin: 0 0 0 -5px;
    overflow: auto;
    padding: 5px;
    height: 92%;
    width: auto;
}

.tab-trig {
    background: #F2F2F2;
    border: 1px solid #666;
    border-bottom: 0;
    cursor: pointer;
    display: inline;
    float: right;
    margin: 2px 0 0 -1px;
    padding: 2px 5px;
    position: relative;
    font-size: 14px;
}

.tab-trig-open {
    background: #fff;
    margin-top: 0;
    margin-bottom: -3px;
    padding-bottom: 5px;
    position: relative;
    z-index: 1;
}

.frame-trig {
    background: #135F7F;
    border: 1px solid #000;
    display: inline-block;
    height: 650px;
    min-width: 995px;
    margin: 0 auto 1em;
    padding: 5px 0 0 5px;
    display: block;
}

.frame-targ {
    background: #fff;
    border-top: 1px solid #666;
    clear: both;
    margin: 0 0 0 -5px;
    overflow: auto;
    padding: 5px;
    height: 92%;
    width: auto;
}

.frame-targ-none {
    display: none;
}

