.mat-list-item:hover {
    background: inherit;
}

.green {
    color : green;
}

.primary {
    color : #135f7f;
}

.red {
    color: red;
}

.bash {
    background : #34495e; 
    height : 310px ; 
    border-radius : 5px ;
    top: 40px;
    display : absolute; 
    color : #fff ;
    padding: 10px;
    margin: 10px;
  }