<div class="admin-container" [class.admin-is-mobile]="mobileQuery.matches">
    <mat-sidenav-container autosize class="admin-sidenav-container">
        <mat-sidenav #snav [mode]="mobileQuery.matches ? 'over' : 'side'" [fixedInViewport]="mobileQuery.matches"
            fixedTopGap="56" [opened]="mobileQuery.matches ? false : true">
            <menu-shortcut></menu-shortcut>
            <menu-nav></menu-nav>
            <mat-nav-list>
                <h3 mat-subheader>{{lang.actions}}</h3>
                <a mat-list-item *ngIf="sendmail.host.length > 0" (click)="snav2.toggle()">
                    <mat-icon color="primary" mat-list-icon class="fas fa-signal"></mat-icon>
                    <p mat-line>
                        {{lang.checkSendmail}}
                    </p>
                </a>
            </mat-nav-list>
        </mat-sidenav>
        <mat-sidenav-content>
            <div *ngIf="loading" style="display:flex;height:100%;">
                <mat-spinner style="margin:auto;"></mat-spinner>
            </div>
            <mat-card *ngIf="!loading" class="card-app-content">
                <mat-tab-group>
                    <mat-tab label="{{lang.informations}}">
                        <form (ngSubmit)="onSubmit()" #sendmailForm="ngForm">
                            <div class="form-group">
                                <div class="col-md-12" style="margin-bottom: 20px;">
                                    <mat-form-field>
                                        <mat-select #smtpType (selectionChange)="changeDesc(smtpType)" name="smtpType"
                                            placeholder="Type de configuration" [(ngModel)]="sendmail.smtpType">
                                            <mat-option *ngFor="let type of smtpTypeList" [value]="type.id">
                                                {{type.label}}
                                            </mat-option>
                                        </mat-select>
                                        <mat-hint>{{smtpTypeDesc}}</mat-hint>
                                    </mat-form-field>
                                </div>
                            </div>
                            <div class="form-group" [style.opacity]="sendmail.smtpType != 'internalParam' ? '0.5' : '1'">
                                <div class="col-md-2">
                                    <mat-form-field>
                                        <mat-select name="SMTPSecure" placeholder="Méthode d'authentification"
                                            [disabled]="sendmail.smtpType != 'internalParam'" [(ngModel)]="sendmail.SMTPSecure">
                                            <mat-option *ngFor="let security of smtpSecList" [value]="security">
                                                {{security}}
                                            </mat-option>
                                        </mat-select>
                                    </mat-form-field>
                                </div>
                                <div class="col-md-9">
                                    <mat-form-field>
                                        <input matInput name="host" [disabled]="sendmail.smtpType != 'internalParam'" [(ngModel)]="sendmail.host" placeholder="{{lang.host}}">
                                    </mat-form-field>
                                </div>
                                <div class="col-md-1">
                                    <mat-form-field>
                                        <input name="port" type="number" matInput [(ngModel)]="sendmail.port"
                                            [disabled]="sendmail.smtpType != 'internalParam'" placeholder="{{lang.port}}">
                                    </mat-form-field>
                                </div>
                            </div>
                            <div class="form-group" [style.opacity]="sendmail.smtpType != 'internalParam' ? '0.5' : '1'">
                                <div class="col-md-12">
                                    <mat-slide-toggle color="primary" name="SMTPAuth" [(ngModel)]="sendmail.SMTPAuth"
                                        [disabled]="sendmail.smtpType != 'internalParam'">{{lang.enableAuth}}</mat-slide-toggle>
                                </div>
                            </div>
                            <div class="form-group" [style.opacity]="sendmail.smtpType != 'internalParam' ? '0.5' : '1'">
                                <div class="col-md-12">
                                    <mat-form-field>
                                        <input [disabled]="!sendmail.SMTPAuth || sendmail.smtpType != 'internalParam'"
                                            matInput placeholder="{{lang.id}}">
                                    </mat-form-field>
                                </div>
                                <div class="col-md-12">
                                    <mat-form-field>
                                        <input [disabled]="!sendmail.SMTPAuth || sendmail.smtpType != 'internalParam'"
                                            matInput placeholder="{{lang.password}}">
                                    </mat-form-field>
                                </div>
                            </div>
                            <div class="col-md-12 text-center" style="padding:10px;">
                                <button mat-raised-button type="submit" color="primary">{{lang.validate}}</button>
                                <button mat-raised-button type="button" color="default" (click)="cancelModification()">{{lang.cancel}}</button>
                            </div>
                        </form>
                    </mat-tab>
                </mat-tab-group>
            </mat-card>
        </mat-sidenav-content>
        <mat-sidenav #snav2 [mode]="mobileQuery.matches ? 'over' : 'side'" [fixedInViewport]="mobileQuery.matches"
            fixedTopGap="56" position='end' [opened]="mobileQuery.matches ? false : false" style="overflow-x:hidden;max-width:500px;">
            <mat-nav-list>
                <h3 mat-subheader>État du serveur</h3>
            </mat-nav-list>
        </mat-sidenav>
    </mat-sidenav-container>
</div>