@import '../../../../../../css/vars.scss';

.item {
    z-index: 2;
    height: 100%;
    align-items: center;
    display: flex;
}

.tile-icon {
    z-index: 1;
    position: absolute;
    bottom: 0px;
    left: 0px;
    font-size: 90px;
    opacity: 0.1;
}

.resource{
    background: none;
    display: grid;
    grid-template-columns: 1fr 1fr auto auto;
    grid-gap: 10px;
    padding-left: 10px;
    padding-right: 10px;
    align-items: center;
    height: 60px;
}

.resource-link {
    transition: all 0.2s;
    cursor: pointer;
}

.resource-link:hover{
    background: rgba($primary,0.1);
    transition: all 0.2s;
}

.view-action:hover {
    z-index: 4;
}

.date-item {
    color: #666;
}