<div style="width: 100%;overflow: auto;z-index: 2;">
    <mat-card id="viewThumbnail" style="display:none;top:0px;right:0px;position: fixed;z-index: 3;margin-left: 1px;"><img style="max-height: 100vh;" *ngIf="thumbnailUrl !== ''" [src]="thumbnailUrl | secureUrl | async" /></mat-card>
    <div class="resource" [class.resource-link]="route !== null" role="listitem" *ngFor="let resource of resources" (mouseenter)="resource.hovered=true" (mouseleave)="resource.hovered=false" (click)="route !== null ? goTo(resource): false">
        <ng-container *ngFor="let col of displayColumns;let i=index">
            <div class="item" *ngIf="['contactTitle'].indexOf(col) === -1">
                <span *ngIf="!isDate(resource[col])" [title]="col !== 'contactLabel' ? resource[col] : resource['contactTitle']">
                    {{!functionsService.empty(resource[col]) ? (resource[col] | shorten : 50:'...') : ('lang.undefined' | translate)}}
                </span>
                <span class="date-item" *ngIf="isDate(resource[col])" [title]="resource[col] | fullDate">
                    {{resource[col] | timeAgo}}
                </span>
            </div>
        </ng-container>
        <div class="view-action" (mouseenter)="viewThumbnail($event,resource);" (mouseleave)="closeThumbnail();">
            <i class="fa fa-eye view-action-icon" color="primary"></i>
        </div>
    </div>
</div>
<i class="{{icon}} tile-icon" color="primary"></i>