<i class="{{icon}} tile-icon" color="primary"></i>
<div style="width: 100%;overflow: auto;">
    <div class="resource" [class.resource-link]="route !== null" role="listitem" *ngFor="let resource of resources" (mouseenter)="resource.hovered=true" (mouseleave)="resource.hovered=false" (click)="route !== null ? goTo(resource): false">
        <div class="item" *ngFor="let col of displayColumns;let i=index">
            <span *ngIf="!isDate(resource[col])" [title]="resource[col]">
                {{resource[col] | shorten : 50:'...'}}
            </span>
            <span class="date-item" *ngIf="isDate(resource[col])" [title]="resource[col] | fullDate">
                {{resource[col] | timeAgo}}
            </span>
        </div>
        <div [style.visibility]="resource.hovered ? 'initial': 'hidden'" class="view-action" (mouseenter)="viewThumbnail($event,resource);" (mouseleave)="closeThumbnail();">
            <i class="fa fa-eye view-action-icon" color="primary"></i>
        </div>
    </div>
</div>
<mat-card id="viewThumbnail" style="display:none;top:0px;right:0px;position: fixed;z-index: 3;margin-left: 1px;"><img style="max-height: 100vh;" *ngIf="thumbnailUrl !== ''" [src]="thumbnailUrl | secureUrl | async" /></mat-card>