<i class="fa {{icon}} tile-icon" color="primary"></i>
<mat-list role="list" style="width: 100%;overflow: auto;">
    <mat-list-item class="resource" role="listitem" *ngFor="let resource of resources" (mouseenter)="resource.hovered=true" (mouseleave)="resource.hovered=false" (click)="route !== null ? goTo(resource): false">
        <div class="item" *ngFor="let col of displayColumns">
            {{resource[col]}}
        </div>
        <div [style.visibility]="resource.hovered ? 'initial': 'hidden'" class="view-action" (mouseenter)="viewThumbnail($event,resource);" (mouseleave)="closeThumbnail();">
            <i class="fa fa-eye view-action-icon" color="primary"></i>
        </div>
    </mat-list-item>
</mat-list>
<mat-card id="viewThumbnail" style="display:none;top:0px;right:0px;position: fixed;z-index: 3;margin-left: 1px;"><img style="max-height: 100vh;" *ngIf="thumbnailUrl !== ''" [src]="thumbnailUrl | secureUrl | async" /></mat-card>