@import '../../../css/vars.scss';


.followIcon {
    color: $secondary;
}

.folder-info {
    padding-left: 20px;
    padding-right: 20px;
}

.badge-folder {
    cursor: pointer;
    background: $secondary;
    margin: 5px;
    font-size: 12px;
    border-radius: 3px;
    opacity: 0.8;
    max-width: 250px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.filterBadges {
    width: 100%;
}
.filterBadges>.badge-eraser {
    margin: 5px;
    background: none;
    cursor: pointer;
    color: white;
    font-size: 20px;
}

.filterBadges>.label {
    white-space: inherit;
}

.filterBadges>.badge-search {
    margin: 5px;
    background: white;
    color: $primary;
    cursor: pointer;
}

.filtersContent {
    width: 100%;
    display: flex;

    .orderTool {
        flex: 1;
    }
}


.basket-order {
    color: white;
    width: 300px;
    padding-left: 10px;
    padding-right: 10px;
    height: 55px;

    .mat-icon {
        font-size: 30px;

    }

    ::ng-deep.mat-select-value {
        color: white;
    }

    ::ng-deep.mat-form-field-infix {
        padding-bottom: 15px;
    }

    ::ng-deep.mat-form-field-flex {
        background: #135F7F;
        border: solid 2px white;
        border-radius: 30px;
        display: flex;
        align-items: center;
    }

    ::ng-deep.mat-form-field-prefix {
        padding-left: 15px;
        padding-right: 10px;
    }

    ::ng-deep.mat-form-field-label-wrapper {
        color: white;
    }

    ::ng-deep.mat-select-arrow {
        color: white;
        margin-right: 25px;
    }

    ::ng-deep .mat-form-field-underline {
        display: none;
    }
}

.ascDescTool {
    .mat-fab {
        background: #135F7F;
        border: solid 2px white;
        color: white !important;
        box-shadow: none;
    }
}

.integratedContent {
    height:90%;
    overflow:auto;
    position:absolute;
    width:100%;
}