<mat-sidenav-container class="maarch-container">
    <ng-template #adminMenuTemplate>
        <ng-container *ngIf="indexingModels.length > 0">
            <div class="listModels">
                <button mat-button class="button-form-primary listModels-button"
                    [matMenuTriggerFor]="IndexingModelsMenu">
                    <mat-icon mattPrefix class="fab fa-wpforms"></mat-icon>
                    <span class="menu-label" [title]="currentIndexingModel.label">
                        {{currentIndexingModel.label}} {{currentIndexingModel.default ? '(' + lang.default + ')': ''}}
                    </span>
                    <i class="fa fa-chevron-down menu-icon"></i>
                </button>
                <mat-menu #IndexingModelsMenu="matMenu" [class]="'menuForm listModels-menu'">
                    <div class="menuTitle">
                        <span>
                            {{lang.indexingModel}}
                        </span>
                        <mat-form-field floatLabel="never" appearance="outline" class="smallInput"
                            (click)="$event.stopPropagation();" style="width: 220px !important;">
                            <input matInput id="searchTerm" placeholder="{{lang.filterBy}}" #listFilter
                                autocomplete="off" (click)="$event.stopPropagation();"
                                (keydown)="$event.stopPropagation()">
                        </mat-form-field>
                    </div>
                    <ng-container
                        *ngFor="let indexingModel of indexingModels | filterList:listFilter.value:'label'; let i=index">
                        <button mat-menu-item (click)="loadIndexingModel(indexingModel)" [title]="indexingModel.label"
                            [class.listModels-menu-selected]="indexingModel.id === currentIndexingModel.id"
                            [class.private]="indexingModel.private" style="display: flex;align-items: center;">
                            <div *ngIf="!indexingModel.private" style="flex:1;">
                                {{indexingModel.label | shorten: 45: '...'}}
                                {{indexingModel.default ? '(' + lang.default + ')': ''}}
                            </div>
                            <div *ngIf="indexingModel.private" style="flex:1;">
                                {{indexingModel.label | shorten: 45: '...'}}&nbsp;<span
                                    class="listModels-menu-badge">{{lang.private}}</span>
                            </div>
                            <button mat-icon-button class="listModels-menu-delete"
                                *ngIf="indexingModel.id !== currentIndexingModel.id && indexingModel.private"
                                [title]="lang.delete"
                                (click)="$event.stopPropagation();deletePrivateIndexingModel(indexingModel.id, i)">
                                <mat-icon class="fa fa-trash" color="warn">
                                </mat-icon>
                            </button>

                        </button>
                    </ng-container>
                </mat-menu>
                <button mat-icon-button type="button" color="primary" (click)="savePrivateIndexingModel()"
                    [title]="lang.createPrivateIndexingModel">
                    <mat-icon class="far fa-copy"></mat-icon>
                </button>
            </div>
            <div class="indexing-form-container">
                <app-indexing-form *ngIf="currentIndexingModel.id !== undefined" #indexingForm
                    [groupId]="currentGroupId" [indexingFormId]="currentIndexingModel.id"
                    (retrieveDocumentEvent)="appDocumentViewer.saveDocService()"></app-indexing-form>
            </div>
            <div class="actions-indexing-form">
                <ng-container
                    *ngIf="actionsList.length > 0 && indexingForm !== undefined && selectedAction !== undefined">
                    <button mat-button class="button-form-primary" [disabled]="selectedAction.id === 0"
                        [matMenuTriggerFor]="menu" style="width:350px;margin-right:20px;"
                        [title]="selectedAction.label">
                        <span class="menu-label" [innerHTML]="selectedAction.label">
                        </span>
                        <i class="fa fa-chevron-down menu-icon"></i></button>
                    <mat-menu #menu="matMenu" [class]="'menuForm menuAction'">
                        <div class="menuTitle">
                            <span>
                                {{lang.actions}}
                            </span>
                            <mat-form-field floatLabel="never" appearance="outline" class="smallInput"
                                (click)="$event.stopPropagation();">
                                <input matInput id="searchTerm" placeholder="{{lang.filterBy}}" #listFilter
                                    autocomplete="off" (click)="$event.stopPropagation();"
                                    (keydown)="$event.stopPropagation()">
                            </mat-form-field>
                        </div>
                        <ng-container *ngFor="let action of actionsList | filterList:listFilter.value:'label'">
                            <button *ngIf="showActionInCurrentCategory(action)" mat-menu-item
                                (click)="selectAction(action)" [title]="action.label"
                                [class.listModels-menu-selected]="action.id === selectedAction.id"
                                [disabled]="!action.enabled">
                                <span style="flex:1;">{{action.label}}</span><small
                                    style="position: absolute;top: 15px;left: 140px;" color="warn"
                                    *ngIf="!action.enabled">{{lang.badActionParam}}</small>
                            </button>
                        </ng-container>
                    </mat-menu>
                    <button mat-button *ngIf="!appService.getViewMode()"
                        [disabled]="actionService.loading || selectedAction.id === 0 || (appDocumentViewer.isEditingTemplate() && appDocumentViewer.editor.async)"
                        class="button-form-primary-filled"
                        style="width: 150px;align-items: center;justify-content: center;text-align: center;display: flex;"
                        (click)="onSubmit()">{{lang.validate}}</button>
                    <button mat-icon-button *ngIf="appService.getViewMode()" class="button-form-primary"
                        (click)="onSubmit()">
                        <mat-icon class="fa fa-check"></mat-icon>
                    </button>
                </ng-container>
                <div class="emptyAction" *ngIf="actionsList.length === 0" [innerHTML]="lang.noAvailableAction"></div>
            </div>
        </ng-container>
        <div *ngIf="indexingModels.length === 0" class="emptyModel" [innerHTML]="lang.noAvailableIndexingModel"></div>
    </ng-template>
    <mat-sidenav-content>
        <div class="bg-head">
            <div class="bg-head-title" [class.customContainerRight]="appService.getViewMode()">
                <div class="bg-head-title-label">
                    <header-left></header-left>
                </div>
                <div class="bg-head-title-tool">
                    <header-right></header-right>
                </div>
            </div>
        </div>
        <div class="document-container" [class.fullContainer]="appService.getViewMode()">
            <div class="content">
                <app-document-viewer #appDocumentViewer [editMode]="true" [tmpFilename]="tmpFilename"
                    (triggerEvent)="refreshDatas()" style="height:100%;width:100%;">
                </app-document-viewer>
            </div>
        </div>
    </mat-sidenav-content>
</mat-sidenav-container>