<?xml version="1.0" encoding="utf-8"?>
<ROOT>
    <CONFIG>
        <lang>fr</lang> <!-- fr, en-->
        <MaarchDirectory>/var/www/maarch_entreprise_trunk/</MaarchDirectory>
        <TmpDirectory>/var/www/maarch_entreprise_trunk/modules/life_cycle/batch/tmp/</TmpDirectory>
        <MaarchApps>maarch_entreprise</MaarchApps>
        <LogLevel>INFO</LogLevel>  <!-- DEBUG, INFO, NOTICE, WARNING, ERROR-->
        <DisplayedLogLevel>INFO</DisplayedLogLevel> <!-- DEBUG, INFO, NOTICE, WARNING, ERROR-->
    </CONFIG>
    <CONFIG_BASE>
        <databaseserver>127.0.0.1</databaseserver>
        <databaseserverport>5432</databaseserverport>
        <databasename>lagi</databasename>
        <databasetype>POSTGRESQL</databasetype>
        <databaseuser>maarch</databaseuser>
        <databasepassword>maarch</databasepassword>
    </CONFIG_BASE>
    <COLLECTION>
		<id>lagi_coll</id>
		<table>res_x</table>
		<view>res_view</view>
		<adr>adr_x</adr>
	</COLLECTION>
</ROOT>
