<div class="mat-dialog-content-container">
  <h1 mat-dialog-title>{{'lang.indexingModelReassign' | translate}}</h1>
  <div mat-dialog-content>
    <div class="alert-message alert-message-info">
      {{'lang.indexingModelUsedBy' | translate}}
      <ul>
        <li *ngFor="let usage of mainIndexingModel.used">
          <b>{{usage.count}}</b> {{'lang.mailsWithStatus' | translate}} <b>{{usage.status}}</b>
        </li>
      </ul>
      {{'lang.indexingModelReplaceToDelete' | translate}}
    </div>
    <div *ngIf="!loading">
      <mat-form-field style="padding: 10px; margin-top: 15px">
        <mat-select name="model" [(ngModel)]="modelIds"
                    [placeholder]="this.translate.instant('lang.indexingModel')" required (selectionChange)="changeModel($event)">
          <mat-option *ngFor="let model of indexingModels;let i=index" [value]="model.id" [disabled]="model.id === mainIndexingModel.id">
            {{model.label}}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </div>
    <div class="alert-message alert-message-danger" *ngIf="resetFields.length !== 0">
      {{'lang.indexingModelFieldsReset' | translate}}
      <ul>
        <li *ngFor="let field of resetFields">
          {{field.label}}
        </li>
      </ul>

      {{'lang.confirmAction' | translate}}
    </div>
    <span class="divider-modal"></span>
    <div mat-dialog-actions>
      <button class="actions" color="primary" mat-raised-button [disabled]="selectedModelId === undefined"
        (click)="onSubmit()">{{'lang.validate' | translate}}</button>
      <button class="actions" color="" mat-raised-button (click)="this.dialogRef.close('');">{{'lang.cancel' | translate}}</button>
    </div>
  </div>
</div>
