#buttons #next a {
    background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #64b651), color-stop(100%, #4f953f));
    background-image: -webkit-linear-gradient(top, #64b651, #4f953f);
    background-image: -moz-linear-gradient(top, #64b651, #4f953f);
    background-image: -o-linear-gradient(top, #64b651, #4f953f);
    background-image: -ms-linear-gradient(top, #64b651, #4f953f);
    background-image: linear-gradient(top, #64b651, #4f953f);
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    -o-border-radius: 5px;
    -ms-border-radius: 5px;
    -khtml-border-radius: 5px;
    border-radius: 5px;
    -moz-box-shadow: inset 0px 1px 0px #4f953f, 0px 5px 0px 0px #325f28, 0px 10px 5px #999999;
    -webkit-box-shadow: inset 0px 1px 0px #4f953f, 0px 5px 0px 0px #325f28, 0px 10px 5px #999999;
    -o-box-shadow: inset 0px 1px 0px #4f953f, 0px 5px 0px 0px #325f28, 0px 10px 5px #999999;
    box-shadow: inset 0px 1px 0px #4f953f, 0px 5px 0px 0px #325f28, 0px 10px 5px #999999;
    padding: 10px 20px;
    padding-right: 40px;
}

#buttons #next a:active {
    top: 4px;
    background-image: -webkit-gradient(linear, 50% 100%, 50% 0%, color-stop(0%, #64b651), color-stop(100%, #4f953f));
    background-image: -webkit-linear-gradient(bottom, #64b651, #4f953f);
    background-image: -moz-linear-gradient(bottom, #64b651, #4f953f);
    background-image: -o-linear-gradient(bottom, #64b651, #4f953f);
    background-image: -ms-linear-gradient(bottom, #64b651, #4f953f);
    background-image: linear-gradient(bottom, #64b651, #4f953f);
    -moz-box-shadow: inset 0px 1px 0px #4f953f, 0px 1px 0px 0px #325f28, 0px 3px 5px #999999;
    -webkit-box-shadow: inset 0px 1px 0px #4f953f, 0px 1px 0px 0px #325f28, 0px 3px 5px #999999;
    -o-box-shadow: inset 0px 1px 0px #4f953f, 0px 1px 0px 0px #325f28, 0px 3px 5px #999999;
    box-shadow: inset 0px 1px 0px #4f953f, 0px 1px 0px 0px #325f28, 0px 3px 5px #999999;
}

#buttons #next a:before {
    background: url('../img/rightArrow.png') center center no-repeat #4f953f;
    content: "";
    width: 20px;
    height: 20px;
    display: block;
    position: absolute;
    top: 50%;
    margin-top: -10px;
    right: 10px;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    -o-border-radius: 50%;
    -ms-border-radius: 50%;
    -khtml-border-radius: 50%;
    border-radius: 50%;
    -moz-box-shadow: inset 0px 1px 0px #162a11, 0px 1px 0px #84c575;
    -webkit-box-shadow: inset 0px 1px 0px #162a11, 0px 1px 0px #84c575;
    -o-box-shadow: inset 0px 1px 0px #162a11, 0px 1px 0px #84c575;
    box-shadow: inset 0px 1px 0px #162a11, 0px 1px 0px #84c575;
}

#buttons #next a:active:before {
    margin-top: -14px;
    -moz-box-shadow: inset 0px 1px 0px #84c575, 0px 4px 0px 0px #1f3c19, 0px 4px 5px #294d21;
    -webkit-box-shadow: inset 0px 1px 0px #84c575, 0px 4px 0px 0px #1f3c19, 0px 4px 5px #294d21;
    -o-box-shadow: inset 0px 1px 0px #84c575, 0px 4px 0px 0px #1f3c19, 0px 4px 5px #294d21;
    box-shadow: inset 0px 1px 0px #84c575, 0px 4px 0px 0px #1f3c19, 0px 4px 5px #294d21;
}


#buttons #previous a {
    background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #64b651), color-stop(100%, #4f953f));
    background-image: -webkit-linear-gradient(top, #64b651, #4f953f);
    background-image: -moz-linear-gradient(top, #64b651, #4f953f);
    background-image: -o-linear-gradient(top, #64b651, #4f953f);
    background-image: -ms-linear-gradient(top, #64b651, #4f953f);
    background-image: linear-gradient(top, #64b651, #4f953f);
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    -o-border-radius: 5px;
    -ms-border-radius: 5px;
    -khtml-border-radius: 5px;
    border-radius: 5px;
    -moz-box-shadow: inset 0px 1px 0px #4f953f, 0px 5px 0px 0px #325f28, 0px 10px 5px #999999;
    -webkit-box-shadow: inset 0px 1px 0px #4f953f, 0px 5px 0px 0px #325f28, 0px 10px 5px #999999;
    -o-box-shadow: inset 0px 1px 0px #4f953f, 0px 5px 0px 0px #325f28, 0px 10px 5px #999999;
    box-shadow: inset 0px 1px 0px #4f953f, 0px 5px 0px 0px #325f28, 0px 10px 5px #999999;
    padding: 10px 20px;
    padding-right: 40px;
}

#buttons #previous a:active {
    top: 4px;
    background-image: -webkit-gradient(linear, 50% 100%, 50% 0%, color-stop(0%, #64b651), color-stop(100%, #4f953f));
    background-image: -webkit-linear-gradient(bottom, #64b651, #4f953f);
    background-image: -moz-linear-gradient(bottom, #64b651, #4f953f);
    background-image: -o-linear-gradient(bottom, #64b651, #4f953f);
    background-image: -ms-linear-gradient(bottom, #64b651, #4f953f);
    background-image: linear-gradient(bottom, #64b651, #4f953f);
    -moz-box-shadow: inset 0px 1px 0px #4f953f, 0px 1px 0px 0px #325f28, 0px 3px 5px #999999;
    -webkit-box-shadow: inset 0px 1px 0px #4f953f, 0px 1px 0px 0px #325f28, 0px 3px 5px #999999;
    -o-box-shadow: inset 0px 1px 0px #4f953f, 0px 1px 0px 0px #325f28, 0px 3px 5px #999999;
    box-shadow: inset 0px 1px 0px #4f953f, 0px 1px 0px 0px #325f28, 0px 3px 5px #999999;
}

#buttons #previous a:before {
    background: url('../img/leftArrow.png') center center no-repeat #4f953f;
    content: "";
    width: 20px;
    height: 20px;
    display: block;
    position: absolute;
    top: 50%;
    margin-top: -10px;
    right: 10px;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    -o-border-radius: 50%;
    -ms-border-radius: 50%;
    -khtml-border-radius: 50%;
    border-radius: 50%;
    -moz-box-shadow: inset 0px 1px 0px #162a11, 0px 1px 0px #84c575;
    -webkit-box-shadow: inset 0px 1px 0px #162a11, 0px 1px 0px #84c575;
    -o-box-shadow: inset 0px 1px 0px #162a11, 0px 1px 0px #84c575;
    box-shadow: inset 0px 1px 0px #162a11, 0px 1px 0px #84c575;
}

#buttons #previous a:active:before {
    margin-top: -14px;
    -moz-box-shadow: inset 0px 1px 0px #84c575, 0px 4px 0px 0px #1f3c19, 0px 4px 5px #294d21;
    -webkit-box-shadow: inset 0px 1px 0px #84c575, 0px 4px 0px 0px #1f3c19, 0px 4px 5px #294d21;
    -o-box-shadow: inset 0px 1px 0px #84c575, 0px 4px 0px 0px #1f3c19, 0px 4px 5px #294d21;
    box-shadow: inset 0px 1px 0px #84c575, 0px 4px 0px 0px #1f3c19, 0px 4px 5px #294d21;
}
