    <div id="header">
        <div id="nav">
            <div id="header_username" style="position:absolute;text-align:center;left:45%;font-size: 1.3em;top: 6px;color: white; font-size:14px; line-height: 1; font-family:Verdana,Geneva,Arial,Helvetica,sans-serif">
            <?php                         
                $strUserInfos = $_SESSION['user']['FirstName']." ".$_SESSION['user']['LastName'];
                $userGroups = \User\models\UserModel::getGroupsByUserId(['userId'=> $_SESSION['user']['UserId']]);
                   
                if(!empty($userGroups)){
                    if(count($userGroups)>=2){
                        $strGroupList=" ";
                        for($i=0;$i<count($userGroups);$i++){
                            if($i==count($userGroups)-1){
                                $strGroupList.=$userGroups[$i]['group_desc'];
                            } else {
                                $strGroupList.=$userGroups[$i]['group_desc']."<br><br>";
                            }                                
                        }
                        $strUserInfos .= ' <div id="header_usergroups"  class="header_usergroups" title="'.$strGroupList.'" style="display:inline-block;">('.count($userGroups).' groupes)</div>';
                    }else{
                        $strUserInfos .= ' ('.$userGroups[0]['group_desc'].')';
                    }
                }
                echo $strUserInfos; ?>
            </div>
            <script>
                $j(".header_usergroups").tooltipster({
                    delay: 0,
                    contentAsHTML: true
                });
            </script>
            <div id="menu" onmouseover="ShowHideMenu('menunav','on');" onmouseout="ShowHideMenu('menunav','off');" class="off">
                <p>
                    <span style="background:url(static.php?filename=logo_only_white.svg);background-position: 20px -4px;background-size:25%;background-repeat: no-repeat;height: 30px;font-weight: bold;width: 85px;display: block;font-size: 23px;padding-left: 65px;top: 38px;color: #ffffff;">
                        <?php echo _MENU; ?>
                    </span>
                </p>
                <div id="menunav" style="display: none;">
                    <div class="header_menu_blank">&nbsp;</div>
                    <ul>
                        <?php
                            //here we building the maarch menu
                            $core->build_menu($_SESSION['menu']);
                        ?>
                    </ul>
                    <div class="header_menu_blank">&nbsp;</div>
                    <div class="footer_menu">
                        <span style="color:white;float:left;">
                            <?php echo $_SESSION['config']['applicationname']; ?>
                        </span>
                        <?php echo "<a style='color:white;float:right;' href='{$_SESSION['config']['businessappurl']}index.php?page=maarch_credits'>"._MAARCH_CREDITS."</a>"; ?>
                        <div style="clear:both;"></div>
                    </div>
                </div>
            </div>
            <div>
                <p id="ariane"></p>
            </div>
            <p id="gauchemenu"></p>
            <a href="index.php">
                <p id="logo"></p>
            </a>
        </div>
    </div>