<?xml version="1.0" encoding="utf-8"?>
<root>
    <CONFIG>
        <name>export_seda</name>
        <comment>_EXPORT_SEDA_COMMENT</comment>
        <file_prefix>seda</file_prefix>
        <loaded>true</loaded>
        <sae>MaarchRM</sae>
        <token>phdF9WkJuTKkDuPXoqDZuCFEQT7En7YqsVROsdD1HoNZV7jD5+XyCrrA61NWmmXVWU7AR5Sw+wq9eazIrIiGnLNDPB6BqMMum8fauclhcR2nklsEdTlveHjcGp/WIDlQ</token>
        <urlSAEService>https://demo-ap.maarchrm.com</urlSAEService>
        <urlSAE>https://demo-ap.maarchrm.com/transfer/sent</urlSAE>
        <directoryMessage>/tmp/</directoryMessage>
        <senderOrgRegNumber>org_987654321_DGS_SA</senderOrgRegNumber>
        <accessRuleCode>AR039</accessRuleCode>
        <deleteData>true</deleteData>
        <certificateSSL></certificateSSL>
    </CONFIG>
    <TABLENAME/>
    <HISTORY>
        <sedaup>true</sedaup>
        <sedaadd>true</sedaadd>
        <sedadel>true</sedadel>
    </HISTORY>
    <M2M>
        <gec>maarch_courrier</gec>
    </M2M>
</root>
