<mat-list *ngIf="!loading">
    <plugin-autocomplete *ngIf="adminMode" [labelPlaceholder]="lang.addPerson" [routeDatas]="['/rest/autocomplete/maarchParapheurUsers']" [targetSearchKey]="'idToDisplay'" [subInfoKey]="'descriptionToDisplay'" (triggerEvent)="addItem($event)" appearance="outline"></plugin-autocomplete>
    <div cdkDropList #dataAvailableList="cdkDropList" [cdkDropListData]="visaWorkflow.items" class="cdk-list"
        (cdkDropListDropped)="drop($event)" [cdkDropListDisabled]="!adminMode">
        <div class="emptyContent" *ngIf="visaWorkflow.items.length === 0">
            {{lang.noPerson}}
        </div>
        <mat-list-item *ngFor="let diffusion of visaWorkflow.items;let i=index" cdkDrag class="columns workflow"
            [cdkDragDisabled]="!adminMode" [class.notDraggable]="!adminMode"
            [class.notEditable]="!adminMode" [class.processed]="diffusion.process_date != null">
            <mat-icon [ngClass]="{'fa fa-user fa-2x': diffusion.picture === null,'avatar': diffusion.picture !== null}" mat-list-icon color="primary"
                    [style.background-image]="'url('+diffusion.picture+')'"></mat-icon>
            <ng-container *ngIf="!adminMode">
                <mat-icon mat-list-icon class="fa fa-hourglass fa-2x"
                    [ngClass]="{'fa-hourglass': diffusion.process_date == null,'fa-check': diffusion.process_date != null}"
                    style="opacity:0.5;"></mat-icon>
            </ng-container>
            <div mat-line class="workflowLine">
                <div class="workflowLineContainer">
                    <div class="workflowLineLabel">
                        {{diffusion.labelToDisplay}}
                    </div>
                    <div class="workflowLineSubLabel">
                        {{diffusion.item_entity}}
                    </div>
                    <div *ngIf="diffusion.process_date != null" class="workflowLineProcessDate"
                        title='{{diffusion.process_date | date : lang.onRange + " dd/MM/y " + lang.atRange +" HH:mm"}}'
                        color="accent">{{diffusion.process_date
                                                | timeAgo}}</div>
                </div>
                <div>
                    <button class="currentRoleButton" [color]="diffusion.requested_signature ? 'primary': '' " [disabled]="!adminMode" mat-raised-button
                        title="{{lang[diffusion.currentRole+'User']}}" (click)="changeRole(i)">{{diffusion.requested_signature ? lang.signUser : lang.visaUser}}</button>
                </div>

            </div>
            <button mat-icon-button *ngIf="adminMode" (click)="deleteItem(i)">
                <mat-icon class="fa fa-times" color="warn"></mat-icon>
            </button>
        </mat-list-item>
    </div>
</mat-list>