#inner_content {
    border-top: none;
    border-bottom: none;
    padding: 15px 0px 0px;
    min-width: 1000px;
    min-height: 370px;
    height: auto;
    margin-left: 0px;
}

#container {
    padding: 15px 0px 0px;
    border-top: none;
    border-bottom: none;
    min-width: 1000px;
    min-height: 370px;
    height: auto;
    margin-left: 0px;
}
.clearfix {
    display: block;
}
.forms_label {
    float: left;
    display: block;
    text-align: left;
    width: 40%;
    margin-right: 1em;
    vertical-align: middle;
    font-weight: normal !important;
}
.block {
    color: #666;
    background-color: #CEE9F1;
    border-top: solid 2px #FDD16C;
    border-bottom: solid 2px #FDD16C;
    padding: 10px;
    margin: 10px;
}

.forms-select {
    width: 206px;
}
.forms-input {
    width: 200px;
}