

.default_style {
    color:#000000;
}

.blue_style {
    color:#0000FF;
}

.yellow_style {
    color:#FFFF00;
}

.green_style {
    color:#008000;
}

.beige_style {
    color:#D2B48C;
}

.pink_style {
    color:#FF00FF;
}

.red_style {
    color:#FF0000;
}

.violet_style {
    color:#800080;
}

.grey_style {
    color:#808080;
}

.orange_style {
    color:#FF4500;
}

.brown_style {
    color:#800000;
}