

input.small {
	width: 17px;
}

input.button {
	padding: 0.2em 0 0.2em 0.5em;
}

#doctype {
	height: 10em;
}

#logo {
	margin: 0 0 20px 10px;
}

#help {
	margin-top: 42px;
	padding-bottom: 10px;
}


#content h1 {
	height: 2.05em;
	padding: 0;
}



#formlogin {
	width: 265px;
}

#formlogin input {
	width: 128px;
}

#formlogin .nota, #formlogin p.buttons {
	margin-right: 12px;
}

#formlogin select {
	width: 134px;
}

#post #content {
	padding-top: 0;
}

#post_indexing input.textbox {
	width: 155px;
}

#post_indexing input.small {
	width: 17px;
}

#post_indexing div label {
	margin-right: 1px;
}

#post_indexing div ul {
	width: 30%;
}

#post_indexing .buttons {
	padding-right: 11px;
}

#post #pdf iframe {
	height: 665px;
}

#titless {
	margin-left: 5px;
}


#group_box
{
	width: 360px;
	height: 550px;
	margin: 0 0px 0 0;
}

.frameform3 {
	height: 370px;
	width: 370px;
}

#choose_services table
{
text-align:left;
width: 90%;
}
.multiple_list
{
	height: 250px;
	width: 150px;
}
.multiple_list_entities
{
	height: 250px;
	width: 150px;
}

.multiple_list_doctypes
{
	height: 250px;
	width: 250px;
}
#calender {
top:19px;
}