/* menu */
#menunav li#exploit_template_answer span span {
	background-image: url(static.php?filename=exploit_template_answer_off.gif&module=templates);
}
#menunav li#exploit_template_answer.on span span {
	background-image: url(static.php?filename=exploit_template_answer_on.gif&module=templates);
}

/* admin modules board */
#admin_template_answer {
	background:  url(static.php?filename=manage_template_answer.gif&module=templates) 2px center no-repeat;
	height:80px;
}

#temp_admin_templates{
	background:  url(static.php?filename=templates.gif&module=templates) 2px center no-repeat;
	height:63px;
	padding-bottom: 25px;
}
