/* menu */
#menunav li#exploit_template_answer span span {
	background-image: url(../../modules/templates/img/exploit_template_answer_off.gif);
}
#menunav li#exploit_template_answer.on span span {
	background-image: url(../../modules/templates/img/exploit_template_answer_on.gif);
}

/* admin modules board */
#admin_template_answer {
	background:  url(../../modules/templates/img/manage_template_answer.gif) 2px center no-repeat;
	height:80px;
}

#temp_admin_templates{
	background:  url(../../modules/templates/img/templates.gif) 2px center no-repeat;
	height:63px;
	padding-bottom: 25px;
}
