/* misc */

html {
	height: 100%;
}

body {
	color: #666;
	background: white url(../img/bg_body.gif) top center repeat-y;
	font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
	font-size: 11px;
	font-weight: normal;
	letter-spacing: .02em;
	margin: 0;
	padding: 0;
	text-align: center;
	width: 100%;
}

div, h1, h2, h3, h4, h5, h6, p, ul, ol, li {
	margin: 0;
	padding: 0;
	list-style: none;
}

table {
	font-size: 1em;
}

img {
	border: none;
}

a, a:link, a:visited, a:hover {
	color: #666;
	text-decoration: none;
}

a:hover {
	color: #1B99C4;
}

/* Forms */

form, fieldset {
	padding: 0;
	margin: 0;
	border: 0px solid white;
}

.addforms {
	width: 440px;
}

label, .label {
	cursor: pointer;
	vertical-align: middle;
}

input, select, textarea, .forms img {
	vertical-align: middle;
	font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
	font-size: .9em;
}

.smallforms {
	padding: 0 12px;
}

.forms input, .forms select, .forms textarea, .smallforms select, .smallforms input {
	background-color: White;
	border: 1px solid #999;
	color: #666;
	width: 200px;
}

.forms input, .forms textarea {
	padding: 0.1em 0.2em;
}

.forms select {
	width: 206px;
}

input.small {
	width: 20px;
}

select.small {
	width: 5em;
}

input.medium {
	width: 120px;
}

#newpage1, #newpage2 {
	text-align: center;
	color: #007583;
}

input.detail_box {
	width: 260px;
	font-size: 1em;
}

#startpage {
	margin-right: 10px;
}

#frmletters a:hover, #frmletters a.on {
	color: #007583;
}

#frmletters fieldset {
	float: right;
}

/* particular cases */

#dates label, #where label, .forms label.nofloat {
	float: none;
	display: inline;
	width: auto;
	margin: 0;
	font-size: .9em;
}

#dates .label, #fordate label {
	padding-top: .5em;
}

#doctype {
	min-height: 10em;
	height: auto;
	border: 1px solid #CCC;
	border-left: none;
	border-right: none;
	padding: 10px;
}

#doctype .label {
	padding: 3em 0;
}

/* form quicksearch */

#quicksearchform input.button, input.radio {
	border: none;
	background-color: transparent;
	background-image: none;
	padding: 0;
	margin: 0;
	width: auto;
}

/* more particular cases  */

input.button {
	border: 1px solid #44b2bf;
	color: #007583;
	background: white url(../img/bg_but.gif) top left repeat-x;
	cursor: pointer;
	width: auto;
	padding: 0.2em 0.5em;
	text-align: left;
}

.forms label, .forms .label {
	float: left;
	display: block;
	text-align: right;
	width: 40%;
	margin-right: 1em;
}

.forms p {
	clear: left;
}

.forms p.buttons {
	margin-left: 41.3%;
}

/* Special case : back link in the title */

#content h1.titdetail {
	text-align: right;
	padding-left: 17px;
	padding-right: 17px;
}

#content h1 a {
	color: White;
}

#content h1 a:hover {
	color: White;
	text-decoration: underline;
}

#content h1 a.back {
	/*	float: right;
	display: block;
	margin-top: 1.1em;
	font-size: .4em;*/
	display: block;
	padding-top: .9em;
	font-size: .4em;
}

#content p, #bodylogin .forms p {
	padding-bottom: 1em;
}

#content h1 span.titre {
	font-size: 1em;
	float: left;
}

/* footer */

#footer {
	text-align: center;
	font-size: .8em;
	color: #CCC;
	background: transparent url(../img/bg_footer.gif) top left no-repeat;
	padding: 30px 0;
	margin: 0 20px;
}

/* Home */

#bodylogin {
	background: White url(../img/bg_home.gif) center center no-repeat;
	height: 100%;
	text-align: left;
}

#loginpage {
	width: 300px;
	height: 350px;
	margin-left: -150px;
	margin-top: -175px;
	left: 50%;
	top: 50%;
	position: absolute;
}

#formlogin {
	width: 255px;
}

#formlogin input {
	width: 135px;
}

#formlogin input.button {
	width: auto;
	margin: 0;
}

#formlogin p.buttons, #post .forms .buttons {
	text-align: right;
	margin: 0;
}

#formlogin select {
	width: 140px;
}
