@import '../../../../../css/vars.scss';

.active, .active:hover , .active:active, .active:focus {
    color: $primary;
    border-left: solid 5px $primary;
    background: rgba($primary, 0.14);
}

.formType {
    align-items: center;
    display: flex;
    margin: 10px;
    border-radius: 4px;
    border: solid 1px #ccc;
    position: relative;
    padding: 10px;

    &-title {
        white-space: pre;
        overflow: hidden;
        max-width: 85%;
        text-overflow: ellipsis;
        z-index: 1;
        font-size: 10px;
        font-weight: bold;
        background: white;
        position: absolute;
        top: -7px;
        left: 10px;
        padding: 0px;
        margin: 0px;
        color: #135f7f;
    }
}

.mat-list-item-disabled {
    background: initial;
    opacity: 0.5;
}

::ng-deep.addCorrespondentAC {
    max-height: 100% !important;
}

::ng-deep .correspondent-list-item {
    .mat-list-text {
        padding-left: 0px !important;
    }
    .mat-pseudo-checkbox {
        display: none;
    }
}