@import '../../../css/vars.scss';

.stepContent {
    // max-width: 850px;
    margin: auto;

    .stepContentTitle {
        color: $primary;
        margin-bottom: 30px;
        border-bottom: solid 1px;
        padding: 0;
    }
}