<mat-expansion-panel class="folderList" [expanded]="!foldersService.getLoader()">
    <mat-expansion-panel-header>
        <mat-panel-title>
            <i class="fa fa-folder panelIconMenu"></i>&nbsp;{{lang.folders}}
        </mat-panel-title>
    </mat-expansion-panel-header>
    <folder-pinned></folder-pinned>
    <button mat-button class="showFolderTree" (click)="showTree = !showTree">
        <span>
            <mat-icon class="fa {{showTree ? 'fa-chevron-up' : 'fa-chevron-down'}}"></mat-icon>&nbsp;{{showTree ? lang.hideFoldersTree : lang.showFoldersTree}}
        </span>
    </button>
    <folder-tree #folderTree *ngIf="showTree" [selectedId]="id" (refreshDocList)="refreshDocList()"></folder-tree>
</mat-expansion-panel>
