<mat-expansion-panel class="folderList" expanded>
    <mat-expansion-panel-header>
        <mat-panel-title>
            <i class="fa fa-folder"></i>&nbsp;{{lang.folders}}
        </mat-panel-title>
    </mat-expansion-panel-header>
    <plugin-autocomplete [size]="'small'" [labelPlaceholder]="lang.searchFolder" [labelList]="lang.searchFolder" [routeDatas]="['/rest/autocomplete/folders']" [targetSearchKey]="'idToDisplay'"></plugin-autocomplete>
    <folder-tree #folderTree [selectedId]="id" (refreshDocList)="refreshDocList()"></folder-tree>
</mat-expansion-panel>
