<mat-expansion-panel class="folderList" expanded>
    <mat-expansion-panel-header>
        <mat-panel-title>
            <i class="fa fa-folder"></i>&nbsp;{{lang.folders}}
        </mat-panel-title>
    </mat-expansion-panel-header>
    <plugin-autocomplete [labelPlaceholder]="lang.search" [labelList]="lang.search" [routeDatas]="['/rest/folders']" [targetSearchKey]="'label'" (triggerEvent)="linkUser($event)"></plugin-autocomplete>
    <folder-tree #folderTree [selectedId]="id" (refreshDocList)="refreshDocList()"></folder-tree>
</mat-expansion-panel>
