<!-- Choose your object :
 #######################
   
 [id] : Id of this document
 [type] : Type of this document
 [dest_user] : Dest user of this document
 [actual_user] : User who send this mail
 [emetteur] : sender
 [date_limite] : limit date to process
 [object] : object from this document
 [actual_note] : actual edited note
 [date] : actual datetime
  #######################


Parts : 
	##HEAD< : Begining of the head part
	##HEAD> : End of the head part
	
	##LIST< : Begining of result list
	##LIST> : End fo result list
	
	##FOOTER< : Begining of footer part
	##FOOTER> : End fo footer part
	
Functions : 
	##load_css|arg1## : load css style - arg1= name of this class
	##css_line|coll|nonecoll## : load css style for line arg1,arg2 : switch beetwin style on line one or line two
	##css_line_reload## : reload last css style loaded by css_line
	##order_link|arg1|arg2## : reload list and change order;  arg1=type; arg2=sort
	
	##url_docview## : open view of document; 
	##url_docdetail## : open detail of document; 
	##url_download## : download document;
	##maarch_url## : complete link for acces to maarch 
	##load_img|arg1## : show loaded image; arg1= name of img file
	
	##load_value|arg##: load value in the db; arg1= column's value  identifier
	##load_contact##  : load name of exp contact or dest contact add a text like SEND_BY or SENT_FOR
	##day_date## : show actual date
	##display_full_name_for_dest_mail## : Display the full name for the user who receive this mail
	
Mods :

	##func_bool_radio_form## : Activate bool_radio_form in class_list_show.php
	##func_bool_check_form## : Activate bool_check_form in class_list_show.php
	##func_bool_view_doc## : Activate func to view documents
	##func_bool_detail_doc## : Activate func to view documents detail's page
	
Defines :  
	{{_NAME_OF_LANG_INSTANCE}} : u se constant define in lang.php
	
	
###############################
-->




#!#HEAD
<!-------------------------------------------------------------------------->
<html>
	<style type=\"text/css\">
	<!--
		.titre { color: #3300FF;}
 	 -->
	</style>
	<body>
			<div align=\"center\" class=\"titre\" ><b>{{_MAIL_COPIES_TO}} ##day_date##</b></div><br/>
			<p>{{_HELLO}} ##display_full_name_for_dest_mail##, {{_MAIL_COPIES_LIST}} :</p>
			<ul>
				


#!#LIST
<!-------------------------------------------------------------------------->
<li>{{_THE_MAIL_NUM}} ##load_value|res_id## {{_OF_TYPE}} ##load_value|type_label##  ( {{_OBJECT}}  : ##load_value|subject##) {{_RECEIVED_THE}} ##load_value|creation_date## ##load_value|contact_full## {{_WAS_SENT_TO}} ##load_value|full_dest_user##  {{_DEPARTMENT}} ##load_value|entity_label##  {{_WHO_MUST_PROCESS_BEFORE}} ##load_value|process_limit_date##  :
<a href='##maarch_url##index.php?page=details&id=##load_value|res_id##'>{{_SEE_MAIL}}</a> </li>

#!#FOOTER
<!-------------------------------------------------------------------------->
				</ul>

				<br/>
				<p>( {{_WARNING}}  :  {{_YOU_MUST_BE_LOGGED}} )</p>
		</body>
</html>


