<div class="mat-dialog-content-container">
    <h1 mat-dialog-title>{{'lang.configuration' | translate}}</h1>
    <div mat-dialog-content>
        <img style="width:100%" src="assets/addin_outlook_1.png"/>
        <img style="width:100%" src="assets/addin_outlook_2.png"/>
        <img style="width:100%" src="assets/addin_outlook_3.png"/>
        <img style="width:100%" src="assets/addin_outlook_4.png"/>
        <img style="width:100%" src="assets/addin_outlook_5.png"/>
        <img style="width:100%" src="assets/addin_outlook_6.png"/>
        <img style="width:100%" src="assets/addin_outlook_7.png"/>
        <img style="width:100%" src="assets/addin_outlook_8.png"/>
    </div>
    <span class="divider-modal"></span>
    <div mat-dialog-actions class="actions">
        <button mat-raised-button mat-button
            [mat-dialog-close]="">{{'lang.close' | translate}}</button>
    </div>
</div>