<?xml version="1.0" encoding="utf-8"?>
<root>
	<CONFIG>
		<name>attachments</name>
		<comment>_ATTACHMENTS_COMMENT</comment>
		<file_prefix>attach</file_prefix>
		<convertPdf>false</convertPdf> <!-- true = applet DIS, false = applet Maarch -->
		<vbs_convert_path>C:\Program Files (x86)\Outils SPM\DOC2PDF_VBS.vbs</vbs_convert_path> <!-- Path to VBS file if necessary. ex: C:\Program Files (x86)\Outils SPM\DOC2PDF_VBS.vbs . Default : %HOME_DIR%\maarchTmp\DOC2PDF_VBS.vbs -->
		<useExeConvert>false</useExeConvert>
		<loaded>true</loaded>
	</CONFIG>
	<TABLENAME>
		<attach_res_attachments>res_attachments</attach_res_attachments>
	</TABLENAME>
	<HISTORY>
		<attachadd>true</attachadd>
		<attachup>true</attachup>
		<attachdel>true</attachdel>
		<attachview>false</attachview>
	</HISTORY>
</root>
