.filterList>.mat-form-field-suffix {
    top : 10px !important;
} 

.mat-expansion-panel-header-title {
    color: #F99830;
    font-size: 14px;
    font-weight: 500;
}

.mat-pseudo-checkbox-checked {
    background: #135f7f;
}