.envFilter {
    width: 100%;
    height: 40px;

    mat-icon{
        height: auto;
    }

    .processLimitButton {
        color: #666;
        .mat-button-toggle-label-content {
            line-height: 38px;
        }
    }

    .mat-button-toggle-checked {
        background-color: #F99830 !important;
        color: white;
        border-radius: 10px;
    }
}

.mat-option .badge{
    background: #F99830;
    font-size: 11px;
}

.filterBadges>.badge-eraser {
    margin: 5px;
    background: none;
    cursor: pointer;
    color: red;
    font-size: 20px;
}

.filterBadges>.label {
    white-space: inherit;
}

.filterBadges>.badge-search {
    margin: 5px;
    background: #666;
    cursor: pointer;
}

.filterBadges>.badge-categories {
    margin: 5px;
    background: #78AD32;
    cursor: pointer;
}

.filterBadges>.badge-statuses {
    margin: 5px;
    background: #5bc0de;
    cursor: pointer;
}

.filterBadges>.badge-priorities {
    margin: 5px;
    background: #F9D812;
    cursor: pointer;
}

.filterBadges>.badge-entities {
    margin: 5px;
    background: #7d5ba6;
    cursor: pointer;
}

.filterBadges>.badge-subEntities {
    margin: 5px;
    background: #9440D5;
    cursor: pointer;
}


.filterContent {
    height: auto;
}

.filterContent:hover {
    background: inherit !important;
}

.mat-option-text {
    display: flex !important;
    overflow: inherit !important;
}

.mat-autocomplete-panel {
    min-width: 400px !important;
}

.mat-optgroup-label {
    color: #F99830;
    font-size: 14px;
    font-weight: 500;
}
.undefined {
    opacity: 0.5;
    font-style: italic;
}

.mat-menu-content:not(:empty) {
    padding-top: 18px;
}