<mat-button-toggle-group #group="matButtonToggleGroup" class="envFilter" multiple>
    <mat-checkbox color="primary" style="margin: 10px;" title="Sélectionner tous les courriers de la bannette"></mat-checkbox>
    <form [formGroup]="stateForm" [style.flex]="1">
        <mat-form-field appearance="outline" floatLabel="never" [style.fontSize.px]="10">
            <input class="metaSearch" type="text" matInput placeholder="{{lang.searchMailInBasket}}" formControlName="stateGroup"
                [matAutocomplete]="autoGroup" (focus)="initFilters()" (keyup.enter)="metaSearch($event);">
            <mat-autocomplete #autoGroup="matAutocomplete" (optionSelected)="selectFilter($event)" panelWidth="400">
                <mat-option *ngIf="isLoading" class="is-loading">
                    <mat-spinner diameter="50"></mat-spinner>
                </mat-option>
                <ng-container *ngIf="!isLoading">
                    <ng-container *ngFor="let group of stateGroupOptions | async">
                        <mat-optgroup *ngIf="group.names.length > 0" [label]="group.letter">
                            <mat-option *ngFor="let name of group.names" [value]="name">
                                <span [class.undefined]="name.label === '_UNDEFINED'" style="flex:1;overflow: hidden;text-overflow: ellipsis;">{{name.label}}</span>
                                <span class="filterBadges">
                                    <span class="badge badge-{{name.id}}" style="min-width:auto;">{{name.count}}</span>
                                </span>
                            </mat-option>
                        </mat-optgroup>
                    </ng-container>
                </ng-container>
            </mat-autocomplete>
        </mat-form-field>
    </form>
    <mat-button-toggle [checked]="this.listProperties.delayed" value="delayed" title="{{lang.displayProcessLimitRes}}"
        (change)="setFilters($event, 'delayed')">
        <mat-icon fontSet="fas" fontIcon="fa-stopwatch fa-2x"></mat-icon>
    </mat-button-toggle>
    <mat-form-field appearance="outline" [style.fontSize.px]="10" style="flex: 1;">
        <mat-label>{{lang.orderBy}}</mat-label>
        <mat-select [(ngModel)]="this.listProperties.order" (selectionChange)="updateFilters()">
            <mat-option value="" style="text-align: center;">{{lang.defaultOrder}}</mat-option>
            <mat-option [value]="column.id" *ngFor="let column of displayColsOrder">
                {{lang[column.id]}}
            </mat-option>
        </mat-select>
    </mat-form-field>
    <button [disabled]="this.listProperties.order == ''" [style.opacity]="this.listProperties.order == '' ? '0.2' : '1'" mat-icon-button [title]="this.listProperties.orderDir == 'DESC' ? lang.descOrder : lang.ascOrder"
        style="color: rgba(0,0,0,0.38);" (click)="changeOrderDir();">
        <mat-icon *ngIf="this.listProperties.orderDir == 'DESC'" fontSet="fas" fontIcon="fa-sort-amount-down fa-2x"></mat-icon>
        <mat-icon *ngIf="this.listProperties.orderDir == 'ASC'" fontSet="fas" fontIcon="fa-sort-amount-up fa-2x"></mat-icon>
    </button>
    <button mat-icon-button [matMenuTriggerFor]="menuParamList">
        <mat-icon color="primary" fontSet="fas" fontIcon="fa-cog fa-2x"></mat-icon>
    </button>
    <mat-menu #menuParamList="matMenu">
        <button mat-menu-item>
            <mat-icon fontSet="fas" fontIcon="fa-print fa-2x"></mat-icon>
            <span>{{lang.printResultList}}</span>
        </button>
        <button mat-menu-item>
            <mat-icon fontSet="fas" fontIcon="fa-file-export fa-2x"></mat-icon>
            <span>{{lang.exportDatas}}</span>
        </button>
        <button mat-menu-item>
            <mat-icon fontSet="far" fontIcon="fa-list-alt fa-2x"></mat-icon>
            <span>{{lang.settingsList}}</span>
        </button>
    </mat-menu>
</mat-button-toggle-group>
<div class="filterBadges">
    <span *ngIf="haveFilters()" class="label badge-eraser" title="{{lang.eraseAllFilters}}" (click)="this.listProperties.search='';removeFilters();"><i class="fas fa-eraser"></i></span>

    <span class="label badge-search" *ngIf="this.listProperties.search !== ''" title="{{lang.subject}} / {{lang.chronoNumber}}" (click)="this.listProperties.search='';updateFilters();">{{this.listProperties.search}}
        <i class="fa fa-times-circle"></i></span>
    <span class="label badge-categories" title="{{lang.categories}}" *ngFor="let category of this.listProperties.categories; let i=index" (click)="removeFilter('categories', i)">{{category.label}}
        <i class="fa fa-times-circle"></i></span>
    <span class="label badge-priorities" title="{{lang.priorities}}" *ngFor="let priority of this.listProperties.priorities; let i=index" (click)="removeFilter('priorities', i)">{{priority.label}}
        <i class="fa fa-times-circle"></i></span>
    <span class="label badge-statuses" title="{{lang.statuses}}" *ngFor="let status of this.listProperties.statuses; let i=index" (click)="removeFilter('statuses', i)">{{status.label}}
        <i class="fa fa-times-circle"></i></span>
    <span class="label badge-entities" title="{{lang.entities}}" *ngFor="let entity of this.listProperties.entities; let i=index" (click)="removeFilter('entities', i)">{{entity.label}}
        <i class="fa fa-times-circle"></i></span>
    <span class="label badge-subEntities" title="{{lang.subEntities}}" *ngFor="let subEntity of this.listProperties.subEntities; let i=index" (click)="removeFilter('subEntities', i)">{{subEntity.label}}
        <i class="fa fa-times-circle"></i></span>
</div>