<div class='visaContent'>
    <div class="titleSignatureBook">
        <span>{{::signatureBook.currentAction.actionLabel}}</span><span><i style="cursor: pointer" ng-click="backToBasket()" class="fa fa-times-circle fa-2x"></i></span>    </div>
    <div class="headerSignatureBook">
        <div class="item" ng-class="{'activeTabSignatureBook': signatureBook.headerTab == 1}" ng-click="changeSignatureBookLeftContent(1)">
            <i class="fa fa-dashboard fa-2x"></i>
            <i class="itemLabel">Document principal</i>
        </div>
        <div class="item" ng-class="{'activeTabSignatureBook': signatureBook.headerTab == 2}" ng-click="changeSignatureBookLeftContent(2)">
            <i class="fa fa-pencil fa-2x"></i>
            <i class="itemLabel">Note(s)</i>
        </div>
        <div class="item" ng-class="{'activeTabSignatureBook': signatureBook.headerTab == 3}" ng-click="changeSignatureBookLeftContent(3)">
            <i class="fa fa-certificate fa-2x"></i>
            <i class="itemLabel">Circuit de visa</i>
        </div>
        <div class="item" ng-class="{'activeTabSignatureBook': signatureBook.headerTab == 4}" ng-click="changeSignatureBookLeftContent(4)">
            <i class="fa fa-line-chart fa-2x"></i>
            <i class="itemLabel">Avancement</i>
        </div>
        <div class="others">
            
        </div>
        <div class="actions">
            <select id="signatureBookActions">
                <option ng-repeat="option in signatureBook.actions" value="{{option.value}}">{{option.label}}</option>
            </select>
            <input name="send" id="send" value="Valider" class="button" type="button" ng-click="validForm()">
        </div>
    </div>
    <div class="contentSignatureBook">
        <div class="resListContent">
            <div class="resListContentPos">
                <div class="resListContentFrame" ng-repeat="res in signatureBook.resList" ng-click="changeLocation(res.res_id)" ng-class="{'resListContentFrameSelected': vm.resId == res.res_id}">
                    <div class="resListContentInfo">
                        <i class="fa fa-compass" title="Numéro chrono"></i> {{::res.alt_identifier}}
                        <i ng-if="res.allSigned" class="fa fa-certificate" style="position: absolute;bottom: 5px;right: 100px;font-size: 80px;color: green;opacity: 0.2;"></i>&nbsp;
                        <i class="fa fa-circle" aria-hidden="true" style="color:{{::res.priorityColor}};position: absolute;right: 0px;top: -10px;font-size: 25px;"></i>
                    </div>
                    <div class="resListContentInfo">
                        <i class="fa fa-info" title="Objet"></i> {{::res.subject}}
                    </div>
                    <div class="resListContentInfo">
                        <i class="fa fa-book" title="Fiche contact"></i> {{::res.sender}}
                    </div>
                    <div class="resListContentInfo">
                        <i class="fa fa-calendar" title="Date d'arrivée"></i> {{::res.creation_date | dateFormat}} - <i class="fa fa-bell" title="Date limite de traitement"></i> {{::res.process_limit_date | dateFormat}}
                    </div>
                </div>
            </div>
            
        </div>
        <div class="hideresListContent">
            <i class="fa fa-chevron-left" aria-hidden="true"></i>
        </div>
        <div class="contentLeft">
            <div class="contentShow" ng-if="signatureBook.headerTab == 1">
                <div class="pjDoc">
                    <div ng-click="displayTopPanel('LEFT')" ng-hide="signatureBook.showTopLeftPanel" style="padding: 5px;cursor:pointer;"><strong>{{signatureBook.documents.length - 1}} pièce(s) jointe(s)</strong></div>

                    <img id="thumnails_img" ng-show="signatureBook.showTopLeftPanel" ng-repeat="(index, document) in signatureBook.documents" ng-click="changeLeftViewer(index)" ng-src="{{document.thumbnailLink}}"
                             class="leftPanelThumbnails" ng-class="{'panelSelectedThumbnail': index == signatureBook.leftSelectedThumbnail}"/>
                    <!--<label>PJ1</label>-->
                </div>
                <div class="pjDetailsMore" ng-click="displayTopPanel('LEFT')">
                    <i ng-hide="signatureBook.showTopLeftPanel" class="fa fa-chevron-down" aria-hidden="true"></i>
                    <i ng-show="signatureBook.showTopLeftPanel" class="fa fa-chevron-up" aria-hidden="true"></i>
                </div>
                <iframe id="leftPanelShowDocumentIframe" ng-src="{{signatureBook.leftViewerLink}}"></iframe>
            </div>
            <div class="contentShow" ng-if="signatureBook.headerTab == 2">
                <iframe id="leftPanelShow_iframe" ng-src="{{signatureBook.linkNotes}}"></iframe>
            </div>
            <div class="contentShow" ng-if="signatureBook.headerTab == 3">
                <iframe id="leftPanelShow_iframe" ng-src="{{signatureBook.linkVisaCircuit}}"></iframe>
            </div>         
            <div class="contentShow" ng-if="signatureBook.headerTab == 4">
                <table ng-table="historyTable" class="table" id="historyTable">
                    <tr ng-repeat="history in $data">
                        <td title="'Date'" sortable="'event_date'" style="width:20%;">
                            {{history.event_date | datetimeFormat}}
                        </td>
                        <td title="'Utilisateur'" sortable="'lastname'" filter="{ lastname: 'text'}" style="width:20%;">
                            {{history.firstname + " " + history.lastname}}
                        </td>
                        <td title="'Evènement'" sortable="'info'" style="width:60%;">
                            {{history.info}}
                        </td>
                    </tr>
                </table>
            </div>
        </div>
        <div class="contentRight">
            <div class="contentShow" ng-if="!signatureBook.showAttachmentEditionPanel">
                <div class="pjDetails">
                    <div class="infoPj" title="{{signatureBook.attachments[signatureBook.rightSelectedThumbnail].attachment_type}}">
                        <label>Type : </label>
                        <span>{{signatureBook.attachments[signatureBook.rightSelectedThumbnail].attachment_type}}</span>
                    </div>
                    <div class="infoPj" title="{{signatureBook.attachments[signatureBook.rightSelectedThumbnail].title}}">
                        <label>Objet : </label>
                        <span>{{signatureBook.attachments[signatureBook.rightSelectedThumbnail].title}}</span>
                    </div>
                    <div class="infoPj" title="{{signatureBook.attachments[signatureBook.rightSelectedThumbnail].destUser}}">
                        <label>Pour : </label>
                        <span>{{signatureBook.attachments[signatureBook.rightSelectedThumbnail].destUser}}</span>
                    </div>
                    <div ng-show="signatureBook.showTopRightPanel">
                        <div class="infoPj">
                            <label>Créé par: </label>
                            <span>{{signatureBook.attachments[signatureBook.rightSelectedThumbnail].typist}}</span>
                        </div>
                        <div class="infoPj">
                            <label>Créé le: </label>
                            <span>{{signatureBook.attachments[signatureBook.rightSelectedThumbnail].creation_date | datetimeFormat}}</span>
                        </div>
                        <div class="infoPj">
                            <label>Modifié par : </label>
                            <span>{{signatureBook.attachments[signatureBook.rightSelectedThumbnail].updated_by}}</span>
                        </div>
                        <div class="infoPj">
                            <label>Retour : </label>
                            <span>{{signatureBook.attachments[signatureBook.rightSelectedThumbnail].validation_date | datetimeFormat}}</span>
                        </div>
                        <div class="infoPj">
                            <label>Version : </label>
                            <span>{{signatureBook.attachments[signatureBook.rightSelectedThumbnail].relation}}</span>
                        </div>
                        <div class="infoPj">
                            <label>Format : </label>
                            <span>{{signatureBook.attachments[signatureBook.rightSelectedThumbnail].format.toUpperCase()}}</span>
                        </div>
                    </div>
                </div>
                <div class="pjDetailsMore" ng-click="displayTopPanel('RIGHT')">
                   <i ng-hide="signatureBook.showTopRightPanel" class="fa fa-chevron-down" aria-hidden="true"></i>
                   <i ng-show="signatureBook.showTopRightPanel" class="fa fa-chevron-up" aria-hidden="true"></i>
                </div>
                <iframe id="rightPanelShowDocumentIframe" ng-src="{{signatureBook.rightViewerLink}}"></iframe>
                
                <div class="pjSign">
                    <span ng-if="signatureBook.attachments[signatureBook.rightSelectedThumbnail].status != 'SIGN'" ng-click="vm.prepareSignFile(signatureBook.attachments[signatureBook.rightSelectedThumbnail])" style="cursor: pointer"><i title="Signer" class="fa fa-gavel fa-2x" aria-hidden="true"></i>
</span>
                <span ng-if="signatureBook.attachments[signatureBook.rightSelectedThumbnail].status == 'SIGN'" ng-click="vm.unsignFile(signatureBook.attachments[signatureBook.rightSelectedThumbnail])" style="cursor: pointer;color: green;"><i title="Dé-signer" class="fa fa-check fa-2x" aria-hidden="true"></i>
</span>
                </div>
            </div>
            <div class="contentShow" ng-if="signatureBook.showAttachmentEditionPanel">
                <span>Edition de PJ</span>
            </div>
            <div class="panelRight">
                <div class="item panelRightAddPj" ng-click="changeRightViewer(-1)" ng-class="{'panelSelectedThumbnail': signatureBook.rightSelectedThumbnail == -1}">
                    <i class="fa fa-plus fa-2x"></i>
                </div>
                <div class="panelRightConten">
                    <div class="item" ng-repeat="(index, attachment) in signatureBook.attachments" ng-click="changeRightViewer(index)" ng-class="{'panelSelectedThumbnail': index == signatureBook.rightSelectedThumbnail}">
                        <span class="fa-stack fa-lg">
                            <i class="fa fa-file-o fa-stack-2x"></i><i class="fa {{attachment.icon}} fa-stack-1x"></i>
                        </span>
                    </div>
                </div>
            </div>
        </div>
        
    </div>
</div>
