/deep/ .mat-toolbar-row .mat-icon-button {
    margin-left: 5px;
    margin-right: 5px;
}

/deep/ .mat-toolbar-row #globalSearch {
    margin-left: 20px;
}

/deep/ .mat-toolbar-row .badge{
    margin-left: -15px;
    margin-top: 10px;
    background-color: #a94442
}
