$color-main: #4F4F4F; // default color in application
$primary: #135f7f; // main color theme of application
$secondary: #F99830; // main color theme of application
$accent: #006841; // accent color theme of application (like success buttons)
$warn: #8e3e52; // warning color theme of application

// NEW
:root {
    --maarch-color-default: #4F4F4F; // default color in application
    --maarch-color-primary: #135f7f; // main color theme of application
    --maarch-color-secondary: #F99830; // main color theme of application
    --maarch-color-success: #006841; // accent color theme of application (like success buttons)
    --maarch-color-danger: #8e3e52; // warning color theme of application
}
// WARNING ! YOU MUST RECOMPILATE maarch-material.scss IF VALUES CHANGES