<mat-sidenav-container autosize class="maarch-container">
    <mat-sidenav #snav [mode]="appService.getViewMode() ? 'over' : 'side'" [fixedInViewport]="appService.getViewMode()"
        fixedTopGap="56" [opened]="appService.getViewMode() ? false : true">
        <header-panel [snavLeft]="snav"></header-panel>
        <menu-shortcut></menu-shortcut>
        <menu-nav></menu-nav>
    </mat-sidenav>
    <mat-sidenav-content>
        <div class="bg-head">
            <div class="bg-head-title" [class.customContainerRight]="appService.getViewMode()">
                <div class="bg-head-title-label">
                    <header-left [snavLeft]="snav"></header-left>
                </div>
                <div class="bg-head-title-tool">
                    <header-right></header-right>
                </div>
            </div>
            <div class="bg-head-content" [class.fullContainer]="appService.getViewMode()">
            </div>
        </div>
        <div class="container" [class.fullContainer]="appService.getViewMode()">
            <div class="container-content">
                <ng-container *ngFor="let unit of contactUnit">
                    <mat-list *ngIf="!isEmptyUnit(unit.id)">
                        <h3 mat-subheader>{{unit.label}}</h3>
                        <ng-container *ngFor="let field of contactForm">
                            <mat-list-item class="contact-item" *ngIf="field.unit === unit.id">
                                <p mat-line class="contact-content" *ngIf="field.default">
                                    <ng-container *ngIf="field.type === 'string'">
                                        <mat-form-field>
                                            <input matInput [formControl]="field.control" [placeholder]="field.label">
                                        </mat-form-field>
                                    </ng-container>
                                    <ng-container *ngIf="field.type === 'integer'">
                                        <mat-form-field>
                                            <input type="number" matInput [formControl]="field.control"
                                                [placeholder]="field.label" min="0" step="0.1">
                                        </mat-form-field>
                                    </ng-container>
                                    <ng-container *ngIf="field.type === 'select'">
                                        <plugin-select-search [label]="field.label" [placeholderLabel]="field.label"
                                            [datas]="field.values" (afterSelected)="launchEvent($event, field)">
                                        </plugin-select-search>
                                    </ng-container>
                                    <ng-container *ngIf="field.type === 'date'">
                                        <mat-form-field (click)="picker.open()" style="cursor:pointer;">
                                            <mat-label *ngIf="appService.getViewMode()">{{field.label}}</mat-label>
                                            <input [formControl]="field.control" matInput [matDatepicker]="picker"
                                                [placeholder]="field.label" readonly style="cursor:pointer;"
                                                (dateChange)="launchEvent($event, field)">
                                            <mat-datepicker-toggle matSuffix [for]="picker"
                                                *ngIf="!field.control.value">
                                            </mat-datepicker-toggle>
                                            <mat-datepicker [touchUi]="appService.getViewMode()" #picker>
                                            </mat-datepicker>
                                            <button mat-button color="warn" matSuffix mat-icon-button
                                                *ngIf="field.control.value && !field.control.disabled"
                                                (click)="$event.stopPropagation();field.control.reset();"
                                                [title]="lang.eraseValue">
                                                <mat-icon color="warn" class="fa fa-calendar-times">
                                                </mat-icon>
                                            </button>
                                        </mat-form-field>
                                    </ng-container>
                                    <ng-container *ngIf="field.type === 'radio'">
                                        <mat-form-field>
                                            <input matInput style="display: none;">
                                            <mat-radio-group class="radio-form" color="primary"
                                                [formControl]="field.control">
                                                <mat-radio-button *ngFor="let value of field.values" [value]="value.id">
                                                    {{value.label}}
                                                </mat-radio-button>
                                            </mat-radio-group>
                                        </mat-form-field>
                                    </ng-container>
                                    <ng-container *ngIf="field.type === 'checkbox'">
                                        <div class="input-form checkbox-form">
                                            <mat-selection-list #shoes class="div-list" [formControl]="field.control">
                                                <mat-list-option *ngFor="let value of field.values" [value]="value.id"
                                                    checkboxPosition="before">
                                                    {{value.label}}
                                                </mat-list-option>
                                            </mat-selection-list>
                                        </div>
                                        <mat-chip-list class="checkbox-selected-list"
                                            [disabled]="field.system && adminMode">
                                            <mat-chip *ngFor="let chip of shoes.selectedOptions.selected" selected>
                                                {{chip.value}}
                                            </mat-chip>
                                        </mat-chip-list>
                                    </ng-container>
                                </p>
                                <button *ngIf="field.default" mat-icon-button matSuffix color="warn"
                                    (click)="field.default = !field.default">
                                    <mat-icon class="fa fa-trash"></mat-icon>
                                </button>
                            </mat-list-item>

                        </ng-container>
                    </mat-list>
                </ng-container>
                <button mat-button [matMenuTriggerFor]="menu">Plus d'informations</button>
                <mat-menu #menu="matMenu">
                    <button mat-menu-item [matMenuTriggerFor]="mainInfo" [disabled]="noField('mainInfo')">Dénomination</button>
                    <button mat-menu-item [matMenuTriggerFor]="address" [disabled]="noField('address')">Adresse</button>
                    <button mat-menu-item [matMenuTriggerFor]="complement" [disabled]="noField('complement')">Compément</button>
                </mat-menu>

                <mat-menu #mainInfo="matMenu">
                    <button mat-menu-item (click)="toogleAllFieldsUnit('mainInfo')">Tout ajouter</button>
                    <mat-divider></mat-divider>
                    <ng-container *ngFor="let field of contactForm">
                        <button mat-menu-item *ngIf="!field.default && field.unit === 'mainInfo'"
                            (click)="field.default=!field.default">{{field.label}}</button>
                    </ng-container>
                </mat-menu>

                <mat-menu #address="matMenu">
                    <button mat-menu-item (click)="toogleAllFieldsUnit('address')">Tout ajouter</button>
                    <mat-divider></mat-divider>
                    <ng-container *ngFor="let field of contactForm">
                        <button mat-menu-item *ngIf="!field.default && field.unit === 'address'"
                            (click)="field.default=!field.default">{{field.label}}</button>
                    </ng-container>
                </mat-menu>
                <mat-menu #complement="matMenu">
                    <button mat-menu-item (click)="toogleAllFieldsUnit('complement')">Tout ajouter</button>
                    <mat-divider></mat-divider>
                    <ng-container *ngFor="let field of contactForm">
                        <button mat-menu-item *ngIf="!field.default && field.unit === 'complement'"
                            (click)="field.default=!field.default">{{field.label}}</button>
                    </ng-container>
                </mat-menu>


                <!--<mat-list>
                    <h3 mat-subheader>Localisation</h3>
                    <mat-list-item class="contact-address" [title]="lang.address">
                        <mat-icon mat-list-icon class="contact-group fas fa-map-marker-alt"></mat-icon>
                        <p mat-line class="contact-content addressLine_1">
                            <span>
                                <mat-form-field>
                                    <input matInput placeholder="{{lang.contactsParameters_address_number}}">
                                </mat-form-field>
                            </span>
                            <span>
                                <mat-form-field>
                                    <input matInput placeholder="{{lang.contactsParameters_address_street}}">
                                </mat-form-field>
                            </span>
                        </p>
                        <p mat-line class="contact-content">
                            <mat-form-field>
                                <input matInput placeholder="{{lang.contactsParameters_address_additional2}}">
                            </mat-form-field>
                        </p>
                        <p mat-line class="contact-content addressLine_1">
                            <span>
                                <mat-form-field>
                                    <input matInput placeholder="{{lang.contactsParameters_address_postcode}}">
                                </mat-form-field>
                            </span>
                            <span>
                                <mat-form-field>
                                    <input matInput placeholder="{{lang.contactsParameters_address_town}}">
                                </mat-form-field>
                            </span>
                        </p>
                        <p mat-line class="contact-content">
                            <mat-form-field>
                                <input matInput placeholder="{{lang.contactsParameters_address_country}}">
                            </mat-form-field>
                        </p>
                    </mat-list-item>
                </mat-list>
                <mat-list>
                    <h3 mat-subheader>Complément</h3>
                    <mat-list-item class="contact-address" [title]="lang.address">
                        <mat-icon mat-list-icon class="contact-group fas fa-map-marker-alt"></mat-icon>
                        <p mat-line class="contact-content addressLine_1">
                            <span>
                                <mat-form-field>
                                    <input matInput placeholder="{{lang.contactsParameters_address_number}}">
                                </mat-form-field>
                            </span>
                            <span>
                                <mat-form-field>
                                    <input matInput placeholder="{{lang.contactsParameters_address_street}}">
                                </mat-form-field>
                            </span>
                        </p>
                        <p mat-line class="contact-content">
                            <mat-form-field>
                                <input matInput placeholder="{{lang.contactsParameters_address_additional2}}">
                            </mat-form-field>
                        </p>
                        <p mat-line class="contact-content addressLine_1">
                            <span>
                                <mat-form-field>
                                    <input matInput placeholder="{{lang.contactsParameters_address_postcode}}">
                                </mat-form-field>
                            </span>
                            <span>
                                <mat-form-field>
                                    <input matInput placeholder="{{lang.contactsParameters_address_town}}">
                                </mat-form-field>
                            </span>
                        </p>
                        <p mat-line class="contact-content">
                            <mat-form-field>
                                <input matInput placeholder="{{lang.contactsParameters_address_country}}">
                            </mat-form-field>
                        </p>
                    </mat-list-item>
                </mat-list>-->
            </div>
        </div>
    </mat-sidenav-content>
    <mat-sidenav #snav2 [mode]="appService.getViewMode() ? 'over' : 'side'" [fixedInViewport]="appService.getViewMode()"
        fixedTopGap="56" position='end' [opened]="appService.getViewMode() ? false : false">
    </mat-sidenav>
</mat-sidenav-container>