<mat-sidenav-container autosize class="maarch-container">
    <mat-sidenav #snav [mode]="appService.getViewMode() ? 'over' : 'side'" [fixedInViewport]="appService.getViewMode()"
        fixedTopGap="56" [opened]="appService.getViewMode() ? false : true">
        <header-panel [snavLeft]="snav"></header-panel>
        <menu-shortcut></menu-shortcut>
        <menu-nav></menu-nav>
        <mat-nav-list>
            <a mat-list-item *ngFor="let menu of subMenus | sortBy : 'label'" [routerLink]="menu.route">
                <mat-icon color="primary" mat-list-icon [class]="menu.icon"></mat-icon>
                <p mat-line>
                    {{menu.label}}
                </p>
            </a>
        </mat-nav-list>
    </mat-sidenav>
    <mat-sidenav-content>
        <div class="bg-head">
            <div class="bg-head-title" [class.customContainerRight]="appService.getViewMode()">
                <div class="bg-head-title-label">
                    <header-left [snavLeft]="snav"></header-left>
                </div>
                <div class="bg-head-title-tool">
                    <header-right></header-right>
                </div>
            </div>
            <div class="bg-head-content" [class.fullContainer]="appService.getViewMode()">
            </div>
        </div>
        <div class="container" [class.fullContainer]="appService.getViewMode()">
            <div class="container-content">
                <div class="loading" *ngIf="loading; else elseTemplate">
                    <mat-spinner style="margin:auto;"></mat-spinner>
                </div>
                <ng-template #elseTemplate>
                    <mat-menu #menu="matMenu">
                        <button mat-menu-item [matMenuTriggerFor]="mainInfo"
                            [disabled]="noField('mainInfo')">{{lang.denomination}}</button>
                        <button mat-menu-item [matMenuTriggerFor]="address"
                            [disabled]="noField('address')">{{lang.address}}</button>
                        <button mat-menu-item [matMenuTriggerFor]="complement"
                            [disabled]="noField('complement')">{{lang.additionals}}</button>
                    </mat-menu>

                    <mat-menu #mainInfo="matMenu">
                        <button mat-menu-item (click)="toogleAllFieldsUnit('mainInfo')"
                            style="text-align: center;">{{lang.addAll}}</button>
                        <mat-divider></mat-divider>
                        <ng-container *ngFor="let field of contactForm">
                            <button mat-menu-item *ngIf="!field.default && field.unit === 'mainInfo'"
                                (click)="field.default=!field.default">{{field.label}}</button>
                        </ng-container>
                    </mat-menu>

                    <mat-menu #address="matMenu">
                        <button mat-menu-item (click)="toogleAllFieldsUnit('address')"
                            style="text-align: center;">{{lang.addAll}}</button>
                        <mat-divider></mat-divider>
                        <ng-container *ngFor="let field of contactForm">
                            <button mat-menu-item *ngIf="!field.default && field.unit === 'address'"
                                (click)="field.default=!field.default">{{field.label}}</button>
                        </ng-container>
                    </mat-menu>
                    <mat-menu #complement="matMenu">
                        <button mat-menu-item (click)="toogleAllFieldsUnit('complement')"
                            style="text-align: center;">{{lang.addAll}}</button>
                        <mat-divider></mat-divider>
                        <ng-container *ngFor="let field of contactForm">
                            <button mat-menu-item *ngIf="!field.default && field.unit === 'complement'"
                                (click)="field.default=!field.default">{{field.label}}</button>
                        </ng-container>
                    </mat-menu>
                    <div [class.multipleUnits]="!isEmptyUnit('address') || !isEmptyUnit('complement')">
                        <ng-container *ngFor="let unit of contactUnit">
                            <div *ngIf="!isEmptyUnit(unit.id)">
                                <mat-list>
                                    <h3 mat-subheader class="unitTitle"><span style="flex:1">{{unit.label}}</span><a
                                            *ngIf="unit.id === 'address'" (click)="addressBANMode=!addressBANMode"
                                            style="cursor: pointer;">{{addressBANMode ? lang.switchManualAddress : lang.searchAddressDb}}</a>
                                    </h3>
                                    <ng-container *ngFor="let field of contactForm;let i=index">
                                        <mat-list-item class="contact-item"
                                            *ngIf="(field.unit === unit.id && unit.id !== 'address') || (field.unit === unit.id && unit.id === 'address' && !addressBANMode)">
                                            <p mat-line class="contact-content" *ngIf="field.default">
                                                <ng-container *ngIf="field.type === 'string'">
                                                    <mat-form-field>
                                                        <input matInput [formControl]="field.control"
                                                            [placeholder]="field.label" (blur)="checkCompany(field)"
                                                            [required]="field.required">
                                                        <mat-hint
                                                            *ngIf="companyFound !== null && field.id === 'company'"
                                                            align="end">{{lang.company}} <b>{{companyFound.company}}</b>
                                                            {{lang.found}}
                                                            !
                                                            cliquez <a (click)="setAddress(companyFound)"
                                                                style="cursor: pointer;font-weight:bold;">{{lang.here}}</a>
                                                            {{lang.toCopyAddress}}</mat-hint>
                                                        <mat-error *ngIf="field.control.hasError('required')">
                                                            {{lang.requiredField}}</mat-error>
                                                    </mat-form-field>
                                                </ng-container>
                                                <ng-container *ngIf="field.type === 'integer'">
                                                    <mat-form-field>
                                                        <input type="text" matInput [formControl]="field.control"
                                                            [placeholder]="field.label" min="0" step="0.1"
                                                            [required]="field.required">
                                                        <mat-error *ngIf="field.control.status!=='VALID'">
                                                            {{lang.onlyNumber}}</mat-error>
                                                    </mat-form-field>
                                                </ng-container>
                                                <ng-container *ngIf="field.type === 'select'">
                                                    <plugin-select-search [label]="field.label" [showLabel]="true"
                                                        [formControlSelect]="field.control"
                                                        [placeholderLabel]="field.label" [datas]="field.values"
                                                        [class]="''">
                                                    </plugin-select-search>
                                                </ng-container>
                                                <ng-container *ngIf="field.type === 'date'">
                                                    <mat-form-field (click)="picker.open()" style="cursor:pointer;">
                                                        <mat-label>{{field.label}}
                                                        </mat-label>
                                                        <input [formControl]="field.control" matInput
                                                            [matDatepicker]="picker" [placeholder]="field.label"
                                                            readonly style="cursor:pointer;">
                                                        <mat-datepicker-toggle matSuffix [for]="picker"
                                                            *ngIf="!field.control.value">
                                                        </mat-datepicker-toggle>
                                                        <mat-datepicker [touchUi]="appService.getViewMode()" #picker>
                                                        </mat-datepicker>
                                                        <button mat-button color="warn" matSuffix mat-icon-button
                                                            *ngIf="field.control.value && !field.control.disabled"
                                                            (click)="$event.stopPropagation();field.control.reset();"
                                                            [title]="lang.eraseValue">
                                                            <mat-icon color="warn" class="fa fa-calendar-times">
                                                            </mat-icon>
                                                        </button>
                                                    </mat-form-field>
                                                </ng-container>
                                                <ng-container *ngIf="field.type === 'radio'">
                                                    <mat-radio-group class="radio-form" color="primary"
                                                        [formControl]="field.control">
                                                        <mat-radio-button *ngFor="let value of field.values"
                                                            [value]="value.id">
                                                            {{value.label}}
                                                        </mat-radio-button>
                                                    </mat-radio-group>
                                                </ng-container>
                                                <ng-container *ngIf="field.type === 'checkbox'">
                                                    <mat-selection-list #shoes class="checkbox-form"
                                                        [formControl]="field.control">
                                                        <mat-list-option *ngFor="let value of field.values"
                                                            [value]="value.id" color="primary"
                                                            checkboxPosition="before">
                                                            {{value.label}}
                                                        </mat-list-option>
                                                    </mat-selection-list>
                                                </ng-container>
                                            </p>
                                            <button *ngIf="field.default && canDelete(field)" mat-icon-button matSuffix
                                                color="warn" (click)="field.default = !field.default">
                                                <mat-icon class="fa fa-trash"></mat-icon>
                                            </button>
                                        </mat-list-item>
                                        <ng-container
                                            *ngIf="unit.id === 'address' && addressBANMode && ['addressAdditional1', 'addressAdditional2'].indexOf(field.id) > -1">
                                            <mat-list-item class="contact-item">
                                                <p mat-line class="contact-content" *ngIf="field.default">
                                                    <mat-form-field>
                                                        <input matInput [formControl]="field.control"
                                                            [placeholder]="field.label" [required]="field.required">
                                                        <mat-error *ngIf="field.control.hasError('required')">
                                                            {{lang.requiredField}}</mat-error>
                                                    </mat-form-field>
                                                </p>
                                                <button *ngIf="field.default && canDelete(field)" mat-icon-button
                                                    matSuffix color="warn" (click)="field.default = !field.default">
                                                    <mat-icon class="fa fa-trash"></mat-icon>
                                                </button>
                                            </mat-list-item>
                                        </ng-container>
                                        <ng-container *ngIf="unit.id === 'address' && addressBANMode && i === 0">
                                            <mat-list-item>
                                                <p mat-line class="contact-content">
                                                    <mat-form-field appearance='outline' class="smallInput">
                                                        <button mat-button matSuffix [matMenuTriggerFor]="menuDep"
                                                            (click)="$event.stopPropagation();"
                                                            [title]="lang.targetDepartment">
                                                            {{addressBANCurrentDepartment}}&nbsp;<i
                                                                class="fa fa-chevron-down"></i>
                                                        </button>
                                                        <mat-menu #menuDep="matMenu">
                                                            <button mat-menu-item *ngFor="let dep of departmentList"
                                                                (click)="addressBANCurrentDepartment = dep">{{dep}}</button>
                                                        </mat-menu>
                                                        <mat-icon color="primary" class="fa fa-search" matPrefix
                                                            style="font-size: 15px;"></mat-icon>
                                                        <input type="text" #autoCompleteInput
                                                            [placeholder]="lang.searchAddressBan" matInput
                                                            [formControl]="addressBANControl" [matAutocomplete]="auto"
                                                            (click)="$event.stopPropagation()"
                                                            (focus)="resetAutocompleteAddressBan()" maxlength="128">
                                                        <mat-autocomplete #auto="matAutocomplete"
                                                            (optionSelected)="selectAddressBan($event)">
                                                            <ng-container
                                                                *ngIf="addressBANResult.length > 0 && !addressBANLoading">
                                                                <mat-option
                                                                    *ngFor="let addressBANResult of addressBANFilteredResult | async"
                                                                    [value]="addressBANResult">
                                                                    {{addressBANResult.address}}
                                                                </mat-option>
                                                            </ng-container>
                                                            <mat-option class="autoCompleteInfoResult smallInputInfo"
                                                                *ngIf="addressBANResult.length === 0 && !addressBANLoading"
                                                                disabled [innerHTML]="addressBANInfo">
                                                            </mat-option>
                                                            <mat-option *ngIf="addressBANLoading" disabled>
                                                                <mat-spinner diameter="20"></mat-spinner>
                                                            </mat-option>
                                                        </mat-autocomplete>
                                                    </mat-form-field>
                                                    <mat-card style="margin:10px;" *ngIf="!emptyAddress()">
                                                        <mat-list-item class="contact-address" (click)="goTo(contact)"
                                                            [title]="lang.address">
                                                            <mat-icon mat-list-icon color="primary"
                                                                class="contact-group fas fa-map-marker-alt"></mat-icon>
                                                            <p mat-line class="contact-content">
                                                                {{getValue('addressNumber')}}
                                                                {{getValue('addressStreet')}}
                                                            </p>
                                                            <p mat-line class="contact-content">
                                                                {{getValue('addressPostcode')}}
                                                                {{getValue('addressTown')}}
                                                            </p>
                                                            <p mat-line class="contact-content">
                                                                {{getValue('addressCountry')}} </p>
                                                        </mat-list-item>
                                                    </mat-card>
                                                </p>
                                            </mat-list-item>
                                        </ng-container>
                                    </ng-container>
                                </mat-list>
                            </div>
                        </ng-container>
                    </div>
                    <div style="text-align:center;">
                        <button mat-raised-button color="default" type="button"
                            [matMenuTriggerFor]="menu">{{lang.moreInfos}}...</button>

                        <button mat-raised-button color="primary" type="button"
                            (click)="onSubmit()">{{lang.validate}}</button>
                    </div>
                </ng-template>
            </div>
        </div>
    </mat-sidenav-content>
    <mat-sidenav #snav2 [mode]="appService.getViewMode() ? 'over' : 'side'" [fixedInViewport]="appService.getViewMode()"
        fixedTopGap="56" position='end' [opened]="appService.getViewMode() ? false : false">
    </mat-sidenav>
</mat-sidenav-container>