
.active,
.active:hover,
.active:active,
.active:focus {
    color: var(--maarch-color-primary);
    border-left: solid 5px var(--maarch-color-primary);
    background: rgba(var(--maarch-color-primary), 0.14);
}