@import '../../../../css/vars.scss';

.active, .active:hover , .active:active, .active:focus {
    background-color: $secondary;
    color: white;
}

.contact-item {
    height: auto !important;
}

.multipleUnits div:nth-child(1) {
    display: inline-grid !important;
    width: 50%;
}

.multipleUnits div:nth-child(2) {
    display: inline-grid !important;
    width: 50%;
}

.unitTitle {
    display: flex;
    color: $primary;
}

.contact-address {
    cursor: pointer;
    color: #337ab7;

    &:hover {
        .contact-content {
            text-decoration: underline;
        }
    }
}

.smallInput {
    font-size: 11px;
    padding-left: 20px;
    padding-right: 20px;
    .mat-button {
        width: 30px;
        height: 25px;
        color: $primary;

        ::ng-deep.mat-button-wrapper {
            display: flex;
            line-height: initial;
            align-items: center;
        }
    }
    ::ng-deep.mat-form-field-infix {
        padding : 0px;
        padding-bottom: 5px;
    }
}
.radio-form {
    display: flex;

    .mat-radio-button {
        flex: 1;
    }
}

.checkbox-form {
    overflow: auto;
    max-height: 200px;
}

.loading {
    display: flex;
    height: 100%;
}

.fillingBar {
    ::ng-deep .mat-progress-bar-buffer {
        background: #E4E8EB;
    }
}

.rate_primary {
    font-size: 10px;
    text-align: right;
    color: orange;
}

.rate_warn {
    font-size: 10px;
    text-align: right;
    color: red;
}

.rate_accent {
    font-size: 10px;
    text-align: right;
    color: green;
}

.fillingBar.mat-warn {
    ::ng-deep.mat-progress-bar-fill::after {
        background-color: red;
    }
}

.fillingBar.mat-primary {
    ::ng-deep.mat-progress-bar-fill::after {
        background-color: orange;
    }
}

.fillingBar.mat-accent {
    ::ng-deep.mat-progress-bar-fill::after {
        background-color: green;
    }
}

.mat-error {
    font-size: 10px;
    text-align: right;
    font-weight: bold;
}