@import '../../../../css/vars.scss';

.contact-item {
    height: auto !important;
}

.multipleUnits div:nth-child(1) {
    display: inline-grid !important;
    width: 50%;
}

.multipleUnits div:nth-child(2) {
    display: inline-grid !important;
    width: 50%;
}

.unitTitle {
    color: $primary;
}