<div class="stepContent">
    <h2 class="stepContentTitle"><i class="fas fa-check-square"></i> {{lang.prerequisite}}</h2>
    <p>
        {{lang.stepPrerequisite_desc}} : <a href="{{docMaarchUrl}}" target="_blank" style="text-decoration: underline;color: white !important;">{{docMaarchUrl}}</a>
    </p>
    <mat-list style="background: white;" *ngFor="let groupPackage of packagesList | keyvalue">
        <div mat-subheader>{{lang[groupPackage.key]}}</div>
        <mat-list-item *ngFor="let package of packagesList[groupPackage.key]">
            <mat-icon mat-list-icon class="fa iconCheckPackage icon_{{package.state}}"></mat-icon>
            <div mat-line style="font-size: 120%;">{{lang['install_'+package.label]}}</div>
            <div mat-line style="color:#666;">{{lang['install_'+package.label+'_desc']}}</div>
        </mat-list-item>
    </mat-list>
</div>
