.adminTitle {
    text-align: center;
    font-weight: bold;
    opacity: 0.3;
}

.adminLoading {
    display: flex;
    height: 100%;

    .mat-spinner {
        margin: auto;
    }
}

mat-icon {
    height: auto;
}