<mat-form-field appearance="outline" class="noteEditorContent">
    <textarea matInput placeholder="{{title}}" [(ngModel)]="content"></textarea>
    <button matSuffix color="primary" mat-icon-button title="{{lang.noteTemplates}}" [matMenuTriggerFor]="menu"
        (click)="getTemplatesNote()">
        <mat-icon fontSet="fas" fontIcon="fa-file-alt fa-2x"></mat-icon>
    </button>
    <mat-menu #menu="matMenu" [class]="'templateNoteListMenu'">
        <div
            style="text-align: center;font-size: 10px;color: white;background: #135F7F;padding: 5px;font-weight: bold;">
            {{lang.noteTemplates}}
        </div>
        <button mat-menu-item *ngFor="let template of templatesNote" matTooltip="{{template.template_content}}"
            matTooltipPosition="left" (click)="selectTemplate(template)">
            <span>{{template.template_label}}</span>
        </button>
        <button mat-menu-item *ngIf="templatesNote.length == 0" disabled>
            <span>{{lang.noTemplate}}</span>
        </button>
    </mat-menu>
    <button *ngIf="addMode" color="primary" matSuffix mat-icon-button title="{{lang.add}}" (click)="addNote()"
        [disabled]="content.trim() == '' || loading">
        <mat-icon fontSet="far" fontIcon="fa-paper-plane fa-2x"></mat-icon>
    </button>
</mat-form-field>