.noteEditorContent {
    .mat-icon-button:disabled {
        opacity: 0.5;
    }

    ::ng-deep.mat-form-field-flex {
        align-items: flex-start;
    }
}

::ng-deep.templateNoteListMenu {
    .mat-menu-content {
        padding-top: 0;
        padding-bottom: 0;
    }
}

::ng-deep.mat-tooltip {
    font-size: 14px;
}

.noteRestriction {
    background-color: rgba(0, 0, 0, 0.4);
    white-space: normal;
    display: inline-block;
    margin: 5px !important;
    cursor: pointer;
}