<h2 class="stepContentTitle">Base de données</h2>
<mat-accordion>
    <mat-expansion-panel opened>
        <mat-expansion-panel-header>
            <mat-panel-title>
                Connexion à la base de données
            </mat-panel-title>
        </mat-expansion-panel-header>
        <mat-form-field appearance="outline" style="color: initial;">
            <mat-label>Serveur</mat-label>
            <input matInput>
        </mat-form-field>
        <mat-form-field appearance="outline" style="color: initial;">
            <mat-label>Port</mat-label>
            <input matInput>
        </mat-form-field>
        <mat-form-field appearance="outline" style="color: initial;">
            <mat-label>Utilisateur</mat-label>
            <input matInput>
        </mat-form-field>
        <mat-form-field appearance="outline" style="color: initial;">
            <mat-label>Mot de passe</mat-label>
            <input matInput>
        </mat-form-field>
        <div style="text-align: center;">
            <button mat-raised-button type="button" color="default">Tester la connexion</button>
        </div>
    </mat-expansion-panel>
    <mat-expansion-panel disabled>
        <mat-expansion-panel-header>
            <mat-panel-title>
                Base de donnée de l'application
            </mat-panel-title>
        </mat-expansion-panel-header>
        baba
    </mat-expansion-panel>
</mat-accordion>