<mat-form-field appearance='outline' class="smallInput">
    <button mat-button matSuffix [matMenuTriggerFor]="menuDep" (click)="$event.stopPropagation();"
        [title]="this.translate.instant('lang.targetDepartment')">
        {{addressBANCurrentDepartment}}&nbsp;<i class="fa fa-chevron-down"></i>
    </button>
    <mat-menu #menuDep="matMenu">
        <button mat-menu-item *ngFor="let dep of departmentList"
            (click)="addressBANCurrentDepartment = dep">{{dep}}</button>
    </mat-menu>
    <mat-icon color="primary" class="fa fa-search" matPrefix style="font-size: 15px;">
    </mat-icon>
    <input type="text" #autoCompleteInput [placeholder]="this.translate.instant('lang.searchAddressBan')" matInput
        [formControl]="addressBANControl" [matAutocomplete]="auto" (click)="$event.stopPropagation()"
        (focus)="resetAutocompleteAddressBan()" maxlength="128">
    <mat-autocomplete #auto="matAutocomplete" (optionSelected)="selectAddressBan($event)">
        <ng-container *ngIf="addressBANResult.length > 0 && !addressBANLoading">
            <mat-option *ngFor="let addressBANResult of addressBANFilteredResult | async" [value]="addressBANResult"
                [title]="addressBANResult.address">
                {{addressBANResult.address}}
            </mat-option>
        </ng-container>
        <mat-option class="autoCompleteInfoResult smallInputInfo"
            *ngIf="addressBANResult.length === 0 && !addressBANLoading" disabled [innerHTML]="addressBANInfo">
        </mat-option>
        <mat-option *ngIf="addressBANLoading" disabled>
            <mat-spinner diameter="20"></mat-spinner>
        </mat-option>
    </mat-autocomplete>
</mat-form-field>
<mat-card color="primary" *ngIf="manualAddress && !emptyAddress()">
    <button mat-icon-button class="address-icon" (click)="manualAddress=!manualAddress" [title]="'lang.showAddress' | translate">
        <mat-icon class="fa fa-eye"></mat-icon>
    </button>
    <form style="display: contents;" (ngSubmit)="onSubmit()" [formGroup]="adminFormGroup">
        <mat-form-field floatLabel="always">
            <mat-label>{{'lang.contactsParameters_company' | translate}}</mat-label>
            <input matInput formControlName="company" (ngModelChange)="toUpperCase('company', $event)">
        </mat-form-field>
        <mat-form-field floatLabel="always">
            <mat-label>{{'lang.contactsParameters_civility' | translate}}</mat-label>
            <mat-select formControlName="civility">
                <mat-option *ngFor="let civ of civilities | sortBy: 'label'" [value]="civ.label">
                    {{civ.label}}
                </mat-option>
            </mat-select>
        </mat-form-field>
        <mat-form-field floatLabel="always">
            <mat-label>{{'lang.contactsParameters_firstname' | translate}}</mat-label>
            <input matInput formControlName="firstname" (ngModelChange)="toUpperCase('firstname', $event)">
        </mat-form-field>
        <mat-form-field floatLabel="always">
            <mat-label>{{'lang.contactsParameters_lastname' | translate}}</mat-label>
            <input matInput formControlName="lastname" (ngModelChange)="toUpperCase('lastname', $event)">
        </mat-form-field>
        <mat-form-field floatLabel="always">
            <mat-label>{{'lang.contactsParameters_addressNumber' | translate}}</mat-label>
            <input matInput formControlName="addressNumber" (ngModelChange)="toUpperCase('addressNumber', $event)">
        </mat-form-field>
        <mat-form-field floatLabel="always">
            <mat-label>{{'lang.contactsParameters_addressStreet' | translate}}</mat-label>
            <input matInput formControlName="addressStreet" (ngModelChange)="toUpperCase('addressStreet', $event)">
        </mat-form-field>
        <mat-form-field floatLabel="always">
            <mat-label>{{'lang.contactsParameters_addressAdditional1' | translate}}</mat-label>
            <input matInput formControlName="addressAdditional1" (ngModelChange)="toUpperCase('addressAdditional1', $event)">
        </mat-form-field>
        <mat-form-field floatLabel="always">
            <mat-label>{{'lang.contactsParameters_addressAdditional2' | translate}}</mat-label>
            <input matInput formControlName="addressAdditional2" (ngModelChange)="toUpperCase('addressAdditional2', $event)">
        </mat-form-field>
        <mat-form-field floatLabel="always">
            <mat-label>{{'lang.contactsParameters_addressPostcode' | translate}}</mat-label>
            <input matInput formControlName="addressPostcode" (ngModelChange)="toUpperCase('addressPostcode', $event)">
        </mat-form-field>
        <mat-form-field floatLabel="always">
            <mat-label>{{'lang.contactsParameters_addressTown' | translate}}</mat-label>
            <input matInput formControlName="addressTown" (ngModelChange)="toUpperCase('addressTown', $event)">
        </mat-form-field>
        <mat-form-field floatLabel="always">
            <mat-label>{{'lang.contactsParameters_addressCountry' | translate}}</mat-label>
            <input matInput formControlName="addressCountry" (ngModelChange)="toUpperCase('addressCountry', $event)">
        </mat-form-field>
    </form>
</mat-card>
<mat-card color="primary" *ngIf="!manualAddress && !emptyAddress()">
    <button mat-icon-button class="address-icon" (click)="manualAddress=!manualAddress" [title]="'lang.update' | translate">
        <mat-icon class="fa fa-edit"></mat-icon>
    </button>
    <div>
        {{adminFormGroup.controls['company'].value}}
    </div>
    <div>
        {{adminFormGroup.controls['civility'].value}} {{adminFormGroup.controls['firstname'].value}} {{adminFormGroup.controls['lastname'].value}}
    </div>
    <div>
        {{adminFormGroup.controls['addressAdditional1'].value}}
    </div>
    <div>
        {{adminFormGroup.controls['addressNumber'].value}} {{adminFormGroup.controls['addressStreet'].value}}
    </div>
    <div>
        {{adminFormGroup.controls['addressAdditional2'].value}}
    </div>
    <div>
        {{adminFormGroup.controls['addressPostcode'].value}} {{adminFormGroup.controls['addressTown'].value}}
    </div>
    <div>
        {{adminFormGroup.controls['addressCountry'].value}}
    </div>
</mat-card>