<div *ngIf="loading" class="loading">
    <mat-spinner style="margin:auto;"></mat-spinner>
</div>
<div class="row" style="margin:0px;">
    <div class="col-md-12">
        <div *ngIf="!indexingInfo.canIndex" class="alert-message alert-message-danger" role="alert" style="margin-top: 30px;">{{lang.warnIndex}} 
            <button mat-raised-button (click)="toggleIndex(!indexingInfo.canIndex)">{{lang.enableIndex}}</button>
        </div>
        <button *ngIf="indexingInfo.canIndex" color="warn" mat-raised-button (click)="toggleIndex(!indexingInfo.canIndex)">{{lang.disableIndex}}</button>
    </div>
    <div class="col-md-8">
        <div class="formType">
            <div class="formType-title">
                {{lang.actionChosen}}
            </div>
            <plugin-autocomplete [labelPlaceholder]="'Associer une nouvelle action'" [labelList]="'Action(s) disponible(s)'"
                [datas]="actionList" [targetSearchKey]="'label_action'" (triggerEvent)="addAction($event)"></plugin-autocomplete>
            <mat-list class="selectedActionList" role="list">
                <mat-list-item class="selectedAction" role="listitem" *ngFor="let action of indexingInfo.actions;let i=index">
                    <div class="actionLabel">{{action.label_action}}</div>
                    <div>
                        <button mat-icon-button color="warn" (click)="removeAction(i)">
                            <mat-icon class="fa fa-trash"></mat-icon>
                        </button>
                    </div>
                    <mat-divider></mat-divider>
                </mat-list-item>
            </mat-list>
        </div>
    </div>
    <div class="col-md-4">
        <div class="formType">
            <div class="formType-title">
                {{lang.authorizedEntities}}
            </div>
            <div #jstree id="jstree"></div>
        </div>
    </div>
</div>