<!--<div class="login-container">
    <div class="login-content" [class.showForm]="showForm">
        <div class="login-form">
            <form (ngSubmit)="onSubmit()" [formGroup]="loginForm">
                <mat-icon svgIcon="maarchLogoFull" class="maarchLogo"></mat-icon>
                <p>MAARCH COURRIER {{environment.VERSION}}</p>
                <mat-form-field class="input-row">
                    <input id="login" name="login" matInput [placeholder]="lang.id" formControlName="login" type="text">
                </mat-form-field>
                <mat-form-field class="input-row">
                    <input id="password" name="password" matInput [placeholder]="lang.password" type="password" formControlName="password">
                    <mat-hint align="end" *ngIf="authService.authMode === 'default'"><a routerLink="/forgot-password" class="infoLogin">{{lang.forgotPassword}} ?</a></mat-hint>
                    <mat-hint align="end" *ngIf="authService.authMode === 'ldap'"><span class="infoLogin">lang.ldapEnabled</span></mat-hint>
                </mat-form-field>
                <button type="submit" mat-button [disabled]="loginForm.invalid || loading">{{lang.LOGIN}}</button>
            </form>
            <div class="blur"></div>
        </div>
        <footer>
            Maarch courrier {{environment.VERSION}} Powered by {{environment.AUTHOR}}
        </footer>
    </div>
</div>-->
<div class="login-container">
    <div class="login-content" [class.showForm]="showForm" [style.background-image]="'url(../rest/images?image=loginPage)'">
        <div class="login-form">
            <form (ngSubmit)="onSubmit()" [formGroup]="loginForm">
                <mat-icon svgIcon="maarchLogoFull" class="maarchLogo"></mat-icon>
                <div style="color: white;font-size: 14px;" [innerHTML]="loginMessage | safeHtml"></div>
                <p style="color: white;font-size: 14px;font-weight: bold;">{{applicationName}}</p>
                <div style="padding-left: 30px;padding-right: 30px;">
                    <mat-form-field class="input-row login" appearance="outline" style="padding-bottom: 0px;">
                        <input id="login" name="login" matInput [placeholder]="lang.id" formControlName="login"
                            type="text">
                    </mat-form-field>
                    <mat-form-field class="input-row" appearance="outline">
                        <input id="password" name="password" matInput [placeholder]="lang.password" type="password"
                            formControlName="password">
                        <mat-hint align="end" *ngIf="authService.authMode === 'default'"><a
                                routerLink="/forgot-password" class="infoLogin">{{lang.forgotPassword}} ?</a></mat-hint>
                        <mat-hint align="end" *ngIf="authService.authMode === 'ldap'"><span
                                class="infoLogin">lang.ldapEnabled</span></mat-hint>
                    </mat-form-field>
                </div>

                <button type="submit" mat-stroked-button [disabled]="loginForm.invalid || loading"
                    style="color: white;border-color: #24b0ed;background: #24b0ed;">{{lang.LOGIN}}</button>
            </form>
        </div>
        <footer>
            Maarch courrier {{environment.VERSION}} Powered by {{environment.AUTHOR}}
        </footer>
    </div>
</div>