<?xml version="1.0" encoding="utf-8"?>
<root>
	<CONFIG>
		<name>life_cycle</name>
		<comment>_LIFE_CYCLE_COMMENT</comment>
		<file_prefix>lc</file_prefix>
		<loaded>true</loaded>
	</CONFIG>
	<TABLENAME>
		<lc_cycle>lc_cycle</lc_cycle>
		<lc_cycle_seq>lc_cycle_seq</lc_cycle_seq>
		<lc_stack>lc_stack</lc_stack>
		<docserver_locations>docserver_locations</docserver_locations>
	</TABLENAME>
	<HISTORY>
		<lcadd>true</lcadd>
		<lcup>true</lcup>
		<lcdel>true</lcdel>
		<docserversadd>true</docserversadd>
		<docserversdel>true</docserversdel>
		<docserversban>true</docserversban>
		<!--<docserversclose>true</docserversclose>-->
		<docserverslocationsadd>true</docserverslocationsadd>
		<docserverslocationsdel>true</docserverslocationsdel>
		<docserverslocationsban>true</docserverslocationsban>
	</HISTORY>
</root>
