<div class="page-header">
    <h1 *ngIf="!actionCreation">{{lang.actionModification}} <small>{{action.label_action}}</small></h1>
    <h1 *ngIf="actionCreation">{{lang.actionCreation}} <small>{{action.label_action}}</small></h1>
</div>
<div *ngIf="loading">
    <md-spinner style="margin:auto;"></md-spinner>
</div>
<div *ngIf="!loading" class="container-fluid">
    <div class="container-fluid">
        <div class="col-md-6 col-md-offset-3">
            <div *ngIf="action.is_system == true" class="alert alert-danger" role="alert"><b>{{lang.isSytemAction}} !</b> {{lang.doNotModifyUnlessExpert}}</div>
            <form class="form-horizontal" (ngSubmit)="onSubmit()" #actionsFormUp="ngForm">
                <div class="form-group">
                    <div class="col-sm-12">
                        <md-input-container>
                            <input mdInput [(ngModel)]="action.label_action" required name="action_name" id="action_name" title="{{lang.desc}}" type="text" placeholder="{{lang.desc}}" required>
                        </md-input-container>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-sm-12">
                        <md2-select 
                            id="status"
                            name="status"
                            placeholder="{{lang.associatedStatus}}"
                            [(ngModel)]="action.id_status"
                            required
                            #searchStatus="ngModel">
                            <md2-select-header>
                                <md-input-container>
                                <input mdInput name="search"
                                    type="text"
                                    placeholder="Filtre"
                                    [(ngModel)]="_search" 
                                    autocomplete="off"
                                    (focusout)="clearSearch()"/>
                                </md-input-container>
                            </md2-select-header>
                            <md2-option *ngFor="let statut of statusList | dataPipe : 'label_status' : _search" [value]="statut.id">{{statut.label_status}}</md2-option>
                         </md2-select>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-sm-12">
                        <md2-select 
                            id="action_page"
                            name="action_page"
                            placeholder="{{lang.actionPage}}"
                            [(ngModel)]="action.action_page"
                            #searchAction="ngModel">
                            <md2-select-header>
                                <md-input-container>
                                <input mdInput name="search"
                                    type="text"
                                    placeholder="Filtre"
                                    [(ngModel)]="_search" 
                                    autocomplete="off"
                                    (focusout)="clearSearch()"/>
                                </md-input-container>
                            </md2-select-header>
                            <md2-option *ngFor="let action of actionPagesList.actionsPageList | dataPipe : 'label' : _search" [value]="action.name">{{action.label}}</md2-option>
                         </md2-select>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-sm-12">
                        <md2-select 
                            id="keyword"
                            name="keyword"
                            placeholder="{{lang.keyword}}"
                            [(ngModel)]="action.keyword"
                            #searchAction="ngModel">
                            <!--<md2-select-header>
                                <md-input-container>
                                <input mdInput name="search"
                                    type="text"
                                    placeholder="Filtre"
                                    [(ngModel)]="_search" 
                                    autocomplete="off"
                                    (focusout)="clearSearch()"/>
                                </md-input-container>
                            </md2-select-header>-->
                            <md2-option *ngFor="let keyword of keywordsList | dataPipe : 'label' : _search" [value]="keyword.value">{{keyword.label}}</md2-option>
                         </md2-select>
                    </div>
                </div>
                <div class="form-group">
                    <div class="panel panel-default">
                        <div class="panel-body">
                            <div class="col-sm-6">
                                <md-slide-toggle name="history" title="{{lang.actionHistoryDesc}}" id="history" color="primary" [(ngModel)]="action.history" [checked]="action.history == 'Y'">{{lang.actionHistory}}</md-slide-toggle>                            
                            </div>
                            <div class="col-sm-6">
                                <md-slide-toggle name="is_folder_action" title="{{lang.isFolderActionDesc}}" id="is_folder_action" color="primary" [(ngModel)]="action.is_folder_action" [checked]="action.is_folder_action == 'Y'">{{lang.isFolderAction}}</md-slide-toggle>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-sm-12">
                        <md2-select 
                            id="categorieslist"
                            name="categorieslist"
                            placeholder="{{lang.chooseCategoryAssociation}}"
                            [(ngModel)]="this.action.actionCategories"
                            required
                            multiple
                            #searchCat="ngModel">
                            <!--<md2-select-header>
                                <md-input-container>
                                <input mdInput name="search"
                                    type="text"
                                    placeholder="Filtre"
                                    [(ngModel)]="_search" 
                                    autocomplete="off"
                                    (focusout)="clearSearch()"/>
                                </md-input-container>
                            </md2-select-header>-->
                            <md2-option *ngFor="let category of categoriesList | dataPipe : 'label' : _search" [value]="category.id">{{category.label}}</md2-option>
                        </md2-select>
                    </div>
                </div>
                <div class="col-sm-12 panel-body" style="text-align:center;">
                    <button class="btn btn-default" type="submit" [disabled]="!actionsFormUp.form.valid" >{{lang.validate}}</button>
                    <button class="btn btn-default" routerLink='/administration/actions'>{{lang.cancel}}</button>
                </div>
            </form>
        </div>
    </div>
</div>