<div id="resultInfo" class="fade" style="display:none;">
    {{resultInfo}}
</div>
<div class="clearfix" align="center">
    <div class="block">
        <div id="create-action">
            <form name="frmaction" id="frmaction" method="post" action="https://demo.maarchcourrier.com/apps/maarch_entreprise/index.php?page=action_management_controler&amp;admin=action&amp;mode=up&amp;id=1" class="addforms">
                <input type="hidden" name="display" value="true">
                <input type="hidden" name="admin" value="action">
                <input type="hidden" name="page" value="action_management_controler">
                <input type="hidden" name="mode" value="up">

                <input type="hidden" name="order" id="order" value="asc">
                <input type="hidden" name="order_field" id="order_field" value="">
                <input type="hidden" name="what" id="what" value="">
                <input type="hidden" name="start" id="start" value="0">

                <p>
                    <label class="forms_label" for="label">{{lang.desc}} : </label>
                    <input [(ngModel)]="actions.label_action" class="forms-input form-control ng-untouched ng-pristine ng-valid" name="label" type="text" id="label">
                </p>
                <div class="error">{{lang.do_not_modify_unless_expert}}</div><br>
                <p>
                    <label class="forms_label">{{lang.associated_status}} : </label>
                    <select  [(ngModel)]="actions.id_status" class="forms-select form-control ng-untouched ng-pristine ng-valid" name="status" id="status">
                        <option *ngFor="let statut of statuts" value="{{statut.id}}">{{statut.label_status}}</option>
                    </select>
                </p>
                <p>
                    <label class="forms_label">{{lang.action_page}} : </label>
                    <select  [(ngModel)]="actions.action_page" class="forms-select form-control ng-untouched ng-pristine ng-valid" name="action_page" id="action_page">
                        <option *ngFor="let action of tabAction_page.actions" value="{{action.name}}">{{action.label}}</option>
                    </select>
                </p>
                <p>
                    <label class="forms_label">{{lang.keyword}} ({{lang.system_parameters}}):</label>
                    <select  [(ngModel)]="actions.keyword" class="forms-select form-control ng-untouched ng-pristine ng-valid" name="keyword" id="keyword">
                        <option *ngFor="let keyword of keywords" value="{{keyword.value}}">{{keyword.label}}</option>
                    </select>
                </p>
                <p>
                    <label class="forms_label" for="history">{{lang.action_history}} : </label>
                    <input type="radio" [(ngModel)]="actions.history" class="check" name="history" value="Y" checked="checked">Oui                <input type="radio"  [(ngModel)]="history" class="check" name="history" value="N">Non            </p>
                <p>
                    <label class="forms_label">{{lang.is_folder_action }} : </label>
                    <input [(ngModel)]="actions.is_folder_action" type="radio" class="check" name="is_folder_action" value="Y">Oui                    <input type="radio"  [(ngModel)]="is_folder_action"name="is_folder_action" class="check" value="N" checked="checked">Non                </p>
                <table align="center" width="100%" id="categories_association">
                    <tbody>
                    <tr>
                        <td colspan="3">{{lang.choose_category_association }} : <br>
                            <small>({{lang.choose_category_association_help}} )
                                <small>

                                </small>
                            </small>
                        </td>
                    </tr>
                    <tr>
                        <td width="40%" align="center">
                            <select name="categorieslist[]" id="categorieslist" size="7" (dblclick)="moveClick('categorieslist','add');" multiple="multiple">
                                <option *ngFor="let action of leftCategories" value="{{action.id}}">{{action.label}}</option>
                            </select>


                            <br>
                        </td>
                        <td width="20%" align="center">
                            <input type="button" class="btn btn-default" value="{{lang.add}} >>" onclick="Move($(categorieslist), $(categories_chosen));">
                            <br>
                            <br>
                            <input type="button" class="btn btn-default" value="<< {{lang.remove}}" onclick="Move($(categories_chosen), $(categorieslist));">
                        </td>
                        <td width="40%" align="center">
                            <select name="categories_chosen[]" id="categories_chosen" size="7" (dblclick)="moveClick('categories_chosen','remove');" multiple="multiple">
                                <option *ngFor="let action of rightCategories" value="{{action.id}}">{{action.label}}</option>
                            </select>
                            <br>
                        </td>
                    </tr>
                    </tbody></table>

                <p class="buttons">
                    <input type="submit" class="btn btn-default" name="action_submit" (click)="createAction()" value="{{this.lang.validate}}">
                    <input type="button" class="btn btn-default" name="cancel" value="{{this.lang.cancel}}" routerLink="/administration/actions">
                </p>
                <div class="infos">{{lang.infos_actions}}</div>
            </form>
        </div>
        <div id="update-action">
            <form name="frmaction" id="frmaction" method="post" action="https://demo.maarchcourrier.com/apps/maarch_entreprise/index.php?page=action_management_controler&amp;admin=action&amp;mode=up&amp;id=1" class="addforms">
                <input type="hidden" name="display" value="true">
                <input type="hidden" name="admin" value="action">
                <input type="hidden" name="page" value="action_management_controler">
                <input type="hidden" name="mode" value="up">

                <input type="hidden" name="order" id="order" value="asc">
                <input type="hidden" name="order_field" id="order_field" value="">
                <input type="hidden" name="what" id="what" value="">
                <input type="hidden" name="start" id="start" value="0">

                <p>
                    <label class="forms_label" for="label">{{lang.desc}} : </label>
                    <input [(ngModel)]="actions.label_action" class="forms-input form-control ng-untouched ng-pristine ng-valid" name="label" type="text" id="label">
                </p>
                <div class="error"> {{lang.do_not_modify_unless_expert}}</div><br>
                <p>
                    <label class="forms_label">{{lang.associated_status}} : </label>
                    <select  [(ngModel)]="actions.id_status" class="forms-select form-control ng-untouched ng-pristine ng-valid" name="status" id="status">
                        <option *ngFor="let statut of statuts" value="{{statut.id}}">{{statut.label_status}}</option>
                    </select>
                </p>
                <p>
                    <label class="forms_label">{{lang.action_page}} : </label>
                    <select  [(ngModel)]="actions.action_page" class="forms-select form-control ng-untouched ng-pristine ng-valid" name="action_page" id="action_page">
                        <option *ngFor="let action of tabAction_page.actions" value="{{action.name}}">{{action.label}}</option>
                    </select>
                </p>
                <p>
                    <label class="forms_label">{{lang.keyword}} ({{lang.system_parameters}}):</label>
                    <select  [(ngModel)]="actions.keyword" class="forms-select form-control ng-untouched ng-pristine ng-valid" name="keyword" id="keyword">
                        <option *ngFor="let keyword of keywords" value="{{keyword.value}}">{{keyword.label}}</option>
                    </select>
                </p>
                <p>
                    <label class="forms_label" >{{lang.action_history}} : </label>
                    <input type="radio" [(ngModel)]="actions.history" class="check" name="history" value="Y" checked="checked">Oui                <input type="radio"  [(ngModel)]="history" class="check" name="history" value="N">Non            </p>
                <p>
                    <label class="forms_label">{{lang.is_folder_action }} : </label>
                    <input [(ngModel)]="actions.is_folder_action" type="radio" class="check" name="is_folder_action" value="Y">Oui                    <input type="radio"  [(ngModel)]="is_folder_action"name="is_folder_action" class="check" value="N" checked="checked">Non                </p>
                <table align="center" width="100%" id="categories_association">
                    <tbody>
                    <tr>
                        <td colspan="3">{{lang.choose_category_association }} : <br>
                            <small>({{lang.choose_category_association_help}} )
                                <small>
                                </small>
                            </small>
                        </td>
                    </tr>
                    <tr>
                        <td width="40%" align="center">
                            <select name="categorieslist[]" id="categorieslist_updt" size="7" (dblclick)="moveClick('categorieslist_updt','add');" multiple="multiple">
                                <option *ngFor="let action of leftCategories" value="{{action.id}}">{{action.label}}</option>
                            </select>


                            <br>
                        </td>
                        <td width="20%" align="center">
                            <input type="button" class="btn btn-default" value="{{lang.add}} >>" (click)="move('categorieslist_updt','add')" >
                            <br>
                            <br>
                            <input type="button" class="btn btn-default" value="<< {{lang.remove}}" (click)="move('categories_chosen_updt','remove')">
                        </td>
                        <td width="40%" align="center">
                            <select name="categories_chosen[]" id="categories_chosen_updt" size="7" (dblclick)="moveClick('categories_chosen_updt','remove');" multiple="multiple">
                                <option *ngFor="let action of rightCategories" value="{{action.id}}">{{action.label}}</option>
                            </select>
                            <br>
                        </td>
                    </tr>
                    </tbody></table>

                <p class="buttons">
                    <input type="submit" class="btn btn-default" name="action_submit" (click)="updateAction()" value="{{this.lang.validate}}">

                    <input type="button" class="btn btn-default" name="cancel" routerLink="/administration/actions" value="{{this.lang.cancel}}">
                </p>
                <div class="infos">{{lang.infos_actions}}</div>
            </form>
        </div>
    </div>
</div>
