<div class="page-header">
    <h1>{{lang.administration}} {{lang.actions}} <small>{{data.length}} {{lang.actions}}</small></h1>
</div>
<div *ngIf="loading">
    <md-spinner style="margin:auto;"></md-spinner>
</div>
<div *ngIf="!loading" class="container-fluid">
    <div class="col-md-12">
        <table id ="actionsTable" class="table table-hover table-condensed" [md2Data]="data | dataPipe : 'label_action' : search" #md2="md2DataTable" [sortBy]='id' [rowsPerPage]="10">
            <thead>
            <tr>
                <td colspan="4">
                    <md2-pagination></md2-pagination>
                </td>
                <td style="text-align:right;">
                    <md-input-container>
                            <input mdInput placeholder="{{lang.filterBy}} : {{lang.desc}}" class="md2-input" [(ngModel)]="search" />
                    </md-input-container>
                    &nbsp;
                    <a class="text-primary" style="cursor: pointer" routerLink="/administration/actions/new" title="{{lang.new_action}}"><i class="fa fa-exchange fa-2x"></i><sup><i class="fa fa-plus"></i></sup></a>
                </td>
            </tr>
            <tr>
                <th style="width:5%;"  md2SortBy="id"><span>{{lang.id}}</span></th>
                <th style="width:45%;" md2SortBy="label_action"><span>{{lang.desc}}</span></th>
                <th style="width:15%;" md2SortBy="history"><span>{{lang.actionHistory}}</span></th>
                <th style="width:15%;" md2SortBy="is_folder_action"><span>{{lang.isFolderAction}}</span></th>
                <th style="width:30%;"><span>&nbsp;</span></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let action of md2.data">
                <td style="width:5%;vertical-align:middle;"> {{action.id}} </td>
                <td style="width:45%;vertical-align:middle;"> {{action.label_action}} </td>
                <td style="width:15%;vertical-align:middle;" *ngIf="action.history == 'N'"> {{lang.no}} </td>
                <td style="width:15%;vertical-align:middle;" *ngIf="action.history == 'Y'"> {{lang.yes}}  </td>
                <td style="width:15%;vertical-align:middle;" *ngIf="action.is_folder_action == 'Y'"> {{lang.yes}}  </td>
                <td style="width:15%;vertical-align:middle;" *ngIf="action.is_folder_action == 'N'"> {{lang.no}}  </td>
                <td style="width:30%;vertical-align:middle;" style="text-align:right;">
                    <div class="btn-group" role="group" aria-label="...">
                        <button routerLink="/administration/actions/{{action.id}}" type="button" class="btn btn-default" title="{{lang.update}}">
                            <a><i style="cursor:pointer" class="fa fa-edit"></i></a>
                        </button>
                        <button [disabled]="action.is_system == 'Y'" type="button" class="btn btn-default" title="{{lang.delete}}" (click)="deleteAction(action.id)">
                            <a><i style="cursor:pointer;color: #D9534F" class="fa fa-trash"></i></a>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
