<div id="resultInfo" class="fade" style="display:none;">
    {{resultInfo}}
</div>
<div *ngIf="loading">
    <i class="fa fa-spinner fa-spin fa-5x" style="margin-left: 50%;margin-top: 16%;font-size: 8em"></i>
</div>
<div *ngIf="!loading" class="container-fluid">
    <h1 style="margin-top: 0"><i class="fa fa-exchange fa-2x"></i> {{lang.admin}} {{lang.actions}} : {{actions.length}} {{lang.actions}}</h1>
    <nav class="navbar navbar-default" style="font-size:17px !important;" id="toolBox">
        <div class="container-fluid">
            <div class="navbar-header">
                <a class="navbar-brand" routerLink="/administration" style="cursor: pointer">
                    <i class="fa fa-arrow-circle-left" title="{{lang.back}}"></i>
                </a>
            </div>
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav navbar-right">
                    <li style="cursor: pointer" routerLink="/administration/actions/create">
                        <a data-toggle="modal" data-target="#manageSign" title="{{lang.new_action}}"><i class="fa fa-exchange"></i><sup><i class="fa fa-plus"></i></sup></a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
    <div class="col-md-12">
        <table id ="actionsTable" class="display">
            <thead>
            <tr>
                <th style="width:50px;"><span>{{lang.id}}</span></th>
                <th><span>{{lang.desc}}</span></th>
                <th><span>{{lang.is_folder_action}}</span></th>
                <th><span>{{lang.is_system}}</span></th>
                <th><span>&nbsp;</span></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let action of actions" id="{{action.id}}">
                <td> {{action.id}} </td>
                <td> {{action.label_action}} </td>
                <td *ngIf="action.history == 'N'"> {{lang.no}} </td>
                <td *ngIf="action.history == 'Y'"> {{lang.yes}}  </td>
                <td *ngIf="action.is_system == 'Y'"> {{lang.yes}}  </td>
                <td *ngIf="action.is_system == 'N'"> {{lang.no}}  </td>
                <td style="text-align:right;">
                    <div class="btn-group" role="group" aria-label="...">
                        <button routerLink="/administration/actions/{{action.id}}" type="button" class="btn btn-default" title="{{lang.modify}}">
                            <a><i style="cursor:pointer" class="fa fa-edit"></i></a>
                        </button>
                        <button [disabled]="action.is_system == 'Y'" type="button" class="btn btn-default" title="{{lang.delete}}" (click)="deleteAction(action.id)">
                            <a><i style="cursor:pointer;color: #D9534F" class="fa fa-trash"></i></a>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
