<div class="admin-container" [class.admin-is-mobile]="mobileQuery.matches">
    <mat-sidenav-container autosize class="admin-sidenav-container" >
        <mat-sidenav #snav [mode]="mobileQuery.matches ? 'over' : 'side'" [fixedInViewport]="mobileQuery.matches" fixedTopGap="56"
            [opened]="mobileQuery.matches ? false : true">
            <menu-shortcut></menu-shortcut>
            <menu-nav></menu-nav>
        </mat-sidenav>
        <mat-sidenav-content>
            <div *ngIf="loading" style="display:flex;height:100%;">
                <mat-spinner style="margin:auto;"></mat-spinner>
            </div>
            <mat-card *ngIf="!loading" class="card-app-content">
                <div *ngIf="action.is_system == true" class="alert alert-danger" role="alert">
                    <b>{{lang.isSytemAction}} !</b> {{lang.doNotModifyUnlessExpert}}</div>
                <form class="form-horizontal" (ngSubmit)="onSubmit()" #actionsFormUp="ngForm">
                    <div class="form-group">
                        <div class="col-sm-12">
                            <mat-form-field>
                                <input matInput [(ngModel)]="action.label_action" required name="action_name" id="action_name" title="{{lang.label}}"
                                    type="text" placeholder="{{lang.label}}" maxlength="255">
                            </mat-form-field>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-sm-12">
                            <mat-form-field>
                                <mat-select id="status" name="status" title="{{lang.associatedStatus}}" placeholder="{{lang.associatedStatus}}" [(ngModel)]="action.id_status"
                                    required>
                                    <mat-option *ngFor="let status of statuses" [value]="status.id">
                                        {{status.label_status}}
                                    </mat-option>
                                </mat-select>
                            </mat-form-field>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-sm-12">
                            <mat-form-field>
                                <mat-select id="action_page" name="action_page" title="{{lang.actionPage}}" placeholder="{{lang.actionPage}}" [(ngModel)]="action.action_page">
                                    <mat-option *ngFor="let action of actionPagesList.actionsPageList" [value]="action.name">
                                        {{action.label}}
                                    </mat-option>
                                </mat-select>
                            </mat-form-field>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-sm-12">
                            <mat-form-field>
                                <mat-select id="keyword" name="keyword" title="{{lang.keyword}}" placeholder="{{lang.keyword}}" [(ngModel)]="action.keyword">
                                    <mat-option *ngFor="let keyword of keywordsList" [value]="keyword.value">
                                        {{keyword.label}}
                                    </mat-option>
                                </mat-select>
                            </mat-form-field>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-sm-12" style="text-align:center;">
                            <mat-slide-toggle name="history" title="{{lang.actionHistoryDesc}}" id="history" color="primary" [(ngModel)]="action.history"
                                [checked]="action.history == 'Y'">{{lang.actionHistory}}</mat-slide-toggle>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-sm-12">
                            <mat-form-field>
                                <mat-select id="categorieslist" name="categorieslist" title="{{lang.chooseCategoryAssociation}}" placeholder="{{lang.chooseCategoryAssociation}}"
                                    [(ngModel)]="action.actionCategories" multiple required>
                                    <mat-option *ngFor="let category of categoriesList" [value]="category.id">
                                        {{category.label}}
                                    </mat-option>
                                </mat-select>
                            </mat-form-field>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-sm-12" style="text-align:center;">
                            <button mat-raised-button color="primary" type="submit" [disabled]="!actionsFormUp.form.valid">{{lang.save}}</button>
                        </div>
                    </div>
                </form>
            </mat-card>
        </mat-sidenav-content>
        <mat-sidenav #snav2 [mode]="mobileQuery.matches ? 'over' : 'side'" [fixedInViewport]="mobileQuery.matches" fixedTopGap="56"
            position='end' [opened]="mobileQuery.matches ? false : false" style="overflow-x:hidden;">
            <mat-list>
                <h3 mat-subheader>Action(s)</h3>
            </mat-list>
        </mat-sidenav>
    </mat-sidenav-container>
</div>