<div class="admin-container" [class.admin-is-mobile]="mobileQuery.matches">
    <mat-toolbar color="primary" class="admin-toolbar">
        <button mat-button (click)="snav.toggle()">
            <mat-icon class="maarchLogo" [svgIcon]="mobileQuery.matches ? 'maarchLogoOnly' : 'maarchLogo'"></mat-icon>
        </button>
        <h1 class="admin-toolbar-title">{{lang.administration}}
        </h1>
        <span style="flex: 1 1 auto;"></span>
    </mat-toolbar>
    <mat-sidenav-container class="admin-sidenav-container" [style.marginTop.px]="mobileQuery.matches ? 56 : 0">
        <mat-sidenav #snav [mode]="mobileQuery.matches ? 'over' : 'side'" [fixedInViewport]="mobileQuery.matches" fixedTopGap="56"
            [opened]="mobileQuery.matches ? false : true">
            <menu-nav></menu-nav>
            <mat-divider></mat-divider>
            <menu-app></menu-app>
        </mat-sidenav>
        <mat-sidenav-content>
            <div *ngIf="loading" style="display:flex;height:100%;">
                <mat-spinner style="margin:auto;"></mat-spinner>
            </div>
            <mat-card *ngIf="!loading" class="card-app-content">
                <div class="row adminArea">
                    <div class="col-md-6 adminArea_1">
                        <div style="font-size: 20px;
                        font-weight: bolder;
                        opacity: 0.09;
                        text-align: center">ORGANISATION</div>
                        <button class="col-md-4 col-xs-6" mat-button color="primary" matTooltip="{{modService.comment}}" *ngFor="let modService of organisationServices"
                            (click)="goToSpecifiedAdministration(modService)">
                            <i class="{{modService.style}} fa-4x"></i>
                            <br/>{{modService.name}}</button>
                    </div>

                    <div class="col-md-6 adminArea_2">
                        <div style="font-size: 20px;
                        font-weight: bolder;
                        opacity: 0.09;
                        text-align: center">PRODUCTION</div>
                        <button class="col-md-4 col-xs-6" mat-button color="primary" matTooltip="{{modService.comment}}" *ngFor="let modService of productionServices"
                            (click)="goToSpecifiedAdministration(modService)">
                            <i class="{{modService.style}} fa-4x"></i>
                            <br/>{{modService.name}}</button>
                    </div>
                    <div class="col-md-6 adminArea_3">
                        <div style="font-size: 20px;
                        font-weight: bolder;
                        opacity: 0.09;
                        text-align: center">CLASSEMENT</div>
                        <button class="col-md-4 col-xs-6" mat-button color="primary" matTooltip="{{modService.comment}}" *ngFor="let modService of classementServices"
                            (click)="goToSpecifiedAdministration(modService)">
                            <i class="{{modService.style}} fa-4x"></i>
                            <br/>{{modService.name}}</button>
                    </div>

                    <div class="col-md-6 adminArea_4">
                        <div style="font-size: 20px;
                        font-weight: bolder;
                        opacity: 0.09;
                        text-align: center">SUPERVISION</div>
                        <button class="col-md-4 col-xs-6" mat-button color="primary" matTooltip="{{modService.comment}}" *ngFor="let modService of supervisionServices"
                            (click)="goToSpecifiedAdministration(modService)">
                            <i class="{{modService.style}} fa-4x"></i>
                            <br/>{{modService.name}}</button>
                    </div>
                </div>
            </mat-card>
        </mat-sidenav-content>
        <mat-sidenav #snav2 [mode]="mobileQuery.matches ? 'over' : 'side'" [fixedInViewport]="mobileQuery.matches" fixedTopGap="56"
            position='end' [opened]="mobileQuery.matches ? false : false">
            <mat-nav-list>
            </mat-nav-list>
        </mat-sidenav>
    </mat-sidenav-container>
</div>