<div class="page-header">
    <h1 style="margin-top: 0">{{lang.administration}}</h1>
</div>
<div *ngIf="loading">
    <mat-spinner style="margin:auto;"></mat-spinner>
</div>
<div *ngIf="!loading" class="container-fluid" style="color:#666;">
    <div class="col-md-12">
        <mat-tab-group>
            <mat-tab label="{{lang.application}}">
                <mat-grid-list cols="6" rowHeight="2:1">
                    <mat-grid-tile *ngFor="let appService of applicationServices">
                        <button mat-button matTooltip="{{appService.comment}}" (click)="goToSpecifiedAdministration(appService)"><i class="{{appService.style}} fa-4x"></i><br/>{{appService.name}}</button>
                    </mat-grid-tile>
                </mat-grid-list>
            </mat-tab>
            <mat-tab label="{{lang.modules}}">
                <mat-grid-list cols="6" rowHeight="2:1">
                    <mat-grid-tile *ngFor="let modService of modulesServices">
                        <button mat-button matTooltip="{{modService.comment}}" (click)="goToSpecifiedAdministration(modService)"><i class="{{modService.style}} fa-4x"></i><br/>{{modService.name}}</button>
                    </mat-grid-tile>
                </mat-grid-list>
            </mat-tab>
        </mat-tab-group>           
    </div>
</div>
