<div *ngIf="loading">
    <i class="fa fa-spinner fa-spin fa-5x" style="margin-left: 50%;margin-top: 16%;font-size: 8em"></i>
</div>
<div *ngIf="!loading" class="container-fluid">
    <h1 style="margin-top: 0"><i class="fa fa-inbox fa-2x"></i> {{lang.administration}}</h1>
    <nav class="navbar navbar-default" style="font-size:17px !important;" id="toolBox">
        <div class="container-fluid">
            <div class="navbar-header">
                <a class="navbar-brand" routerLink="/administration" style="cursor: pointer">
                    <i class="fa fa-arrow-circle-left" title="{{lang.back}}"></i>
                </a>
            </div>
        </div>
    </nav>
    <div class="col-md-12" style="margin-top: 1%">
        <table id="usersTable" class="display" style="width: 100%" cellspacing="0" border="0">
            <thead>
                <tr>
                    <th style="width:15%;" valign="bottom" align="left"><span>{{lang.id}}</span></th>
                    <th style="width:20%;" valign="bottom" align="left"><span>{{lang.basket}}</span></th>
                    <th style="width:20%;" valign="bottom" align="left"><span>{{lang.description}}</span></th>
                    <th style="width:20%;"><span>&nbsp;</span></th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let basket of baskets; let i = index">
                    <td>{{basket.basket_id}}</td>
                    <td>{{basket.basket_name}}</td>
                    <td>{{basket.basket_desc}}</td>
                    <td style="text-align:right;">
                        <div class="btn-group" role="group" aria-label="...">
                            <button [disabled]="i == 0" (click)="updateOrder(basket['basket_id'], 'UP', 'ALL')" type="button" class="btn btn-default">
                                <a><i style="cursor:pointer" class="fa fa-angle-double-up"></i></a>
                            </button>
                            <button [disabled]="i == 0" (click)="updateOrder(basket['basket_id'], 'UP', 'ONE')" type="button" class="btn btn-default">
                                <a><i style="cursor:pointer" class="fa fa-angle-up"></i></a>
                            </button>
                            <button [disabled]="i >= (baskets.length - 1)" (click)="updateOrder(basket['basket_id'], 'DOWN', 'ONE')" type="button" class="btn btn-default">
                                <a><i style="cursor:pointer" class="fa fa-angle-down"></i></a>
                            </button>
                            <button [disabled]="i >= (baskets.length - 1)" (click)="updateOrder(basket['basket_id'], 'DOWN', 'ALL')" type="button" class="btn btn-default">
                                <a><i style="cursor:pointer" class="fa fa-angle-double-down"></i></a>
                            </button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
