<div class="admin-container" [class.admin-is-mobile]="mobileQuery.matches">
    <mat-toolbar color="primary" class="admin-toolbar">
        <button mat-button (click)="snav.toggle()">
            <mat-icon class="maarchLogo" [svgIcon]="mobileQuery.matches ? 'maarchLogoOnly' : 'maarchLogo'"></mat-icon>
        </button>
        <h1 class="admin-toolbar-title">{{lang.administration}} {{lang.doctypesAdmin}}
            <small [class.hide-for-mobile]="mobileQuery.matches">{{doctypes.length}} {{lang.doctypesAdmin}}</small>
        </h1>
        <span style="flex: 1 1 auto;"></span>
        <button mat-icon-button (click)="snav2.toggle()">
            <mat-icon class="fa fa-gear fa-2x"></mat-icon>
        </button>
    </mat-toolbar>
    <mat-sidenav-container class="admin-sidenav-container" [style.marginTop.px]="mobileQuery.matches ? 56 : 0">
        <mat-sidenav #snav [mode]="mobileQuery.matches ? 'over' : 'side'" [fixedInViewport]="mobileQuery.matches" fixedTopGap="56"
            [opened]="mobileQuery.matches ? false : true">
            <mat-nav-list>
                <a mat-list-item href="index.php">
                    <mat-icon color="primary" mat-list-icon class="fa fa-home"></mat-icon>
                    <p mat-line>
                        {{lang.home}}
                    </p>
                </a>
                <a mat-list-item routerLink="/administration">
                    <mat-icon color="primary" mat-list-icon class="fa fa-chevron-left"></mat-icon>
                    <p mat-line>
                        {{lang.back}}
                    </p>
                </a>
            </mat-nav-list>
            <mat-divider></mat-divider>
            <mat-nav-list>
                <h3 mat-subheader>{{lang.tools}}</h3>
                <a mat-list-item (click)="prepareEntityAdd()">
                    <mat-icon color="primary" mat-list-icon class="fa fa-plus"></mat-icon>
                    <p mat-line>
                        {{lang.add}}
                    </p>
                </a>
            </mat-nav-list>
        </mat-sidenav>
        <mat-sidenav-content>
            <div *ngIf="loading" style="display:flex;height:100%;">
                <mat-spinner style="margin:auto;"></mat-spinner>
            </div>
            <mat-card *ngIf="!loading">

                <mat-form-field>
                    <input matInput id="jstree_search" name="jstree_search" type="text" placeholder="{{lang.search}}">
                </mat-form-field>
                <div id="jstree"></div>

            </mat-card>
        </mat-sidenav-content>

        <mat-sidenav #snav2 [mode]="mobileQuery.matches ? 'over' : 'side'" [fixedInViewport]="mobileQuery.matches" fixedTopGap="56"
            position='end' [opened]="mobileQuery.matches ? false : true" class="col-md-4 col-sm-12">

            <mat-nav-list>
                <mat-tab-group>
                    <mat-tab label="{{lang.firstLevelDoctype}}" *ngIf="currentFirstLevel">
                        <form class="form-horizontal" #firstLevelForm="ngForm" style="overflow:hidden;">
                            <div class="form-group">
                                <div class="col-sm-12">
                                    <mat-form-field>
                                        <input matInput [(ngModel)]="currentFirstLevel.doctypes_first_level_id" required name="doctypes_first_level_id" id="doctypes_first_level_id" title="{{lang.id}}" type="text"
                                            placeholder="{{lang.id}}" maxlength="255" [disabled]="!creationMode">
                                    </mat-form-field>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-sm-12">
                                    <mat-form-field>
                                        <input matInput [(ngModel)]="currentFirstLevel.doctypes_first_level_label" required name="doctypes_first_level_label" id="doctypes_first_level_label" title="{{lang.label}}"
                                            type="text" placeholder="{{lang.label}}" maxlength="255">
                                    </mat-form-field>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-md-12 text-center" style="padding:10px;">
                                    <button mat-raised-button [disabled]="!firstLevelForm.form.valid" color="primary" (click)="saveEntity()">{{lang.save}}</button>
                                    <button mat-raised-button *ngIf="!creationMode" [disabled]="!firstLevelForm.form.valid"
                                        color="warn" (click)="removeEntity()">{{lang.delete}}</button>
                                    <button mat-raised-button *ngIf="creationMode" color="default" (click)="readMode()">{{lang.cancel}}</button>
                                </div>
                            </div>
                        </form>
                    </mat-tab>

                    <mat-tab label="{{lang.secondLevelDoctype}}" *ngIf="currentSecondLevel">
                        <form class="form-horizontal" #secondLevelForm="ngForm" style="overflow:hidden;">
                            <div class="form-group">
                                <div class="col-sm-12">
                                    <mat-form-field>
                                        <input matInput [(ngModel)]="currentSecondLevel.doctypes_second_level_id" required name="doctypes_second_level_id" id="doctypes_second_level_id" title="{{lang.id}}" type="text"
                                            placeholder="{{lang.id}}" maxlength="255" [disabled]="!creationMode">
                                    </mat-form-field>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-sm-12">
                                    <mat-form-field>
                                        <input matInput [(ngModel)]="currentSecondLevel.doctypes_second_level_label" required name="doctypes_second_level_label" id="doctypes_second_level_label" title="{{lang.label}}" type="text"
                                            placeholder="{{lang.label}}" maxlength="255" [disabled]="!creationMode">
                                    </mat-form-field>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-sm-12">
                                    <mat-form-field>
                                        <input matInput [(ngModel)]="currentSecondLevel.doctypes_first_level_id" required name="doctypes_first_level_id" id="doctypes_first_level_id" title="{{lang.label}}"
                                            type="text" placeholder="{{lang.label}}" maxlength="255">
                                    </mat-form-field>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-md-12 text-center" style="padding:10px;">
                                    <button mat-raised-button [disabled]="!secondLevelForm.form.valid" color="primary" (click)="saveEntity()">{{lang.save}}</button>
                                    <button mat-raised-button *ngIf="!creationMode" [disabled]="!secondLevelForm.form.valid"
                                        color="warn" (click)="removeEntity()">{{lang.delete}}</button>
                                    <button mat-raised-button *ngIf="creationMode" color="default" (click)="readMode()">{{lang.cancel}}</button>
                                </div>
                            </div>
                        </form>
                    </mat-tab>

                    <mat-tab label="{{lang.doctype}}" *ngIf="currentType">
                        <form class="form-horizontal" #typeForm="ngForm" style="overflow:hidden;">
                            <div class="form-group">
                                <div class="col-sm-12">
                                    <mat-form-field>
                                        <input matInput [(ngModel)]="currentType.type_id" required name="type_id" id="type_id" title="{{lang.id}}" type="text"
                                            placeholder="{{lang.id}}" maxlength="255" [disabled]="!creationMode">
                                    </mat-form-field>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-sm-12">
                                    <mat-form-field>
                                        <input matInput [(ngModel)]="currentType.description" required name="description" id="description" title="{{lang.label}}"
                                            type="text" placeholder="{{lang.label}}" maxlength="255">
                                    </mat-form-field>
                                </div>
                            </div>
<!--                             <div class="form-group">
                                <div class="col-sm-12">
                                    <mat-form-field>
                                        <mat-select id="entity_type" name="entity_type" title="{{lang.entityType}}" placeholder="{{lang.entityType}}" [(ngModel)]="currentType.entity_type">
                                            <mat-option *ngFor="let entity_type of currentType.types" [value]="entity_type.id">
                                                {{entity_type.label}}
                                            </mat-option>
                                        </mat-select>
                                    </mat-form-field>
                                </div>
                            </div> -->
                            <div class="form-group">
                                <div class="col-md-12 text-center" style="padding:10px;">
                                    <button mat-raised-button [disabled]="!typeForm.form.valid" color="primary" (click)="saveEntity()">{{lang.save}}</button>
                                    <button mat-raised-button *ngIf="!creationMode" [disabled]="!typeForm.form.valid"
                                        color="warn" (click)="removeEntity()">{{lang.delete}}</button>
                                    <button mat-raised-button *ngIf="creationMode" color="default" (click)="readMode()">{{lang.cancel}}</button>
                                </div>
                            </div>
                        </form>
                    </mat-tab>
                </mat-tab-group>
            </mat-nav-list>
        </mat-sidenav>
    </mat-sidenav-container>
</div>