<md-toolbar color="primary">
    <button tooltip="Menu" tooltip-delay="1000" md-button mdInput [mdMenuTriggerFor]="mySetting">{{applicationName}}</button>
    <span id="globalSearch">
        <form class="example-form">
            <md-input-container>
                <button md-button mdPrefix [mdMenuTriggerFor]="searchTarget"><i class="fa fa-bars fa-2x"></i></button>                
                <input type="tel" mdInput placeholder="Rechercher dans : global">
            </md-input-container>   
        </form>
    </span>
    <span style="flex: 1 1 auto;"></span>
    <button tooltip="Administration" tooltip-delay="1000" md-icon-button [mdMenuTriggerFor]="myAdmin">
        <i class="fa fa-cogs fa-2x"></i>
    </button>
    <button tooltip="Mes notifications" tooltip-delay="1000" md-icon-button [mdMenuTriggerFor]="myNotif">
            <i class="fa fa-bell fa-2x"></i>
            <sub class="badge text-warning">0</sub>
    </button>
    <button tooltip="Mes paramètres" tooltip-delay="1000" md-icon-button [mdMenuTriggerFor]="myProfil">
            <i class="fa fa-user fa-2x"></i>
    </button>
    <md-menu #mySetting="mdMenu">
        <button *ngFor="let menu of menuList" routerLink="{{menu.link}}" md-menu-item>
            <span><i class="fa {{menu.icon}}"></i> {{menu.label}}</span>
        </button>
    </md-menu>
    <md-menu #myNotif="mdMenu">
        <button md-menu-item disabled>
            <span style="opacity:0.5;"><i class="fa fa-times"></i> Aucune notification</span>
        </button>
    </md-menu>
    <md-menu #myProfil="mdMenu">
        <button *ngFor="let profil of profilList" routerLink="{{profil.link}}" md-menu-item>
            <span><i class="fa {{profil.style}}"></i> {{profil.label}}</span>
        </button>
    </md-menu>
    <md-menu #myAdmin="mdMenu">
        <button *ngFor="let admin of adminList" routerLink="{{admin.servicepage}}" tooltip="{{admin.comment}}" tooltip-position="before" tooltip-delay="1000" md-menu-item [disabled]="admin.angular == 'false'">
            <span><i class="fa {{admin.style}}"></i> {{admin.name}}</span>
        </button>
        <button *ngFor="let adminMod of adminListModule" routerLink="{{adminMod.servicepage}}" tooltip="{{adminMod.comment}}" tooltip-position="before" tooltip-delay="1000" md-menu-item [disabled]="adminMod.angular == 'false'">
            <span><i class="fa {{adminMod.style}}"></i> {{adminMod.name}}</span>
        </button>
    </md-menu>
    <md-menu #searchTarget="mdMenu">
        <button md-menu-item>
                <span>Courriers</span>
            </button>
        <button md-menu-item>
                <span>Contacts</span>
            </button>
    </md-menu>
</md-toolbar>
