<nav id="headerV2" class="navbar navbar-default">
    <div class="container-fluid" style="height: 100%;margin-top:0px;">
        <ol class="breadcrumb">
            <li id="ariane"></li>
        </ol>
        <div class="navbar-header" id="headerPos">

            <ul class="nav navbar-nav">

                <li class="dropdown" id="menuList">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><i class="fa fa-dropbox" aria-hidden="true"></i> Menu <span class="caret"></span></a>
                    <ul id="menuListContent" class="dropdown-menu">
                        <li><a href="#"><i class="fa fa-cogs" aria-hidden="true"></i> Administration</a></li>
                        <li role="separator" class="divider"></li>
                        <li><a href="#"><i class="fa fa-folder-open-o" aria-hidden="true"></i><sup><i class="fa fa-eye" aria-hidden="true"></i></sup> Consulter un dossier</a></li>
                        <li role="separator" class="divider"></li>
                        <li><a href="#"><i class="fa fa-file-text-o" aria-hidden="true"></i><sup><i class="fa fa-plus" aria-hidden="true"></i></sup> Enregistrer un document</a></li>
                        <li role="separator" class="divider"></li>
                        <li><a href="#"><i class="fa fa-area-chart" aria-hidden="true"></i>  Statistiques</a></li>
                        <li role="separator" class="divider"></li>
                        <li><a href="#"><i class="fa fa-address-book-o" aria-hidden="true"></i>  Mes contacts</a></li>
                        <li role="separator" class="divider"></li>
                        <li><a href="#"><i class="fa fa-file-text-o" aria-hidden="true"></i><sup><i class="fa fa-search" aria-hidden="true"></i></sup> Rechercher un document</a></li>
                        <li><a href="#"><i class="fa fa-address-book-o" aria-hidden="true"></i><sup><i class="fa fa-search" aria-hidden="true"></i></sup> Rechercher un contact</a></li>
                        <li><a href="#"><i class="fa fa-folder-open-o" aria-hidden="true"></i><sup><i class="fa fa-search" aria-hidden="true"></i></sup> Rechercher un dossier</a></li>
                        <li role="separator" class="divider"></li>
                        <li><a href="#"><i class="fa fa-user" aria-hidden="true"></i>  Mon profile</a></li>
                        <li><a href="#"><i class="fa fa-power-off" aria-hidden="true"></i>  Déconnexion</a></li>
                        <li id="menuListContentInfoUser"><span>superadmin</span><a href="#">A propos de Maarch</a></li>
                    </ul>
                </li>
                <p class="navbar-text"></p>
            </ul>

        </div>
        <div class="collapse navbar-collapse" id="headerLogo">
            <div class="navbar-header navbar-right" id="headerLogoPos">
                <a class="navbar-brand" href="#"></a>
            </div>
        </div>
    </div>
</nav>
<router-outlet></router-outlet>