<div class="page-header">
    <h1>{{lang.administration}} {{lang.history}}
        <small>{{data.length}} {{lang.entries}}</small>
    </h1>
</div>
<div *ngIf="loading">
    <mat-spinner style="margin:auto;"></mat-spinner>
</div>
<div *ngIf="!loading" class="container-fluid">
    <div class="col-md-12">
        <div class="example-container">
            <mat-grid-list cols="3" rowHeight="100px">
                <mat-grid-tile>
                    <mat-paginator #paginator [length]="100" [pageSize]="10" [pageSizeOptions]="[10, 25, 50, 100]">
                    </mat-paginator>
                </mat-grid-tile>
                <mat-grid-tile>
                </mat-grid-tile>
                <mat-grid-tile>
                    <mat-form-field>
                        <input matInput (keyup)="applyFilter($event.target.value)" placeholder="{{lang.filterBy}}">
                    </mat-form-field>
                </mat-grid-tile>
            </mat-grid-list>
            <mat-table #table [dataSource]="dataSource" matSort matSortActive="event_date" matSortDirection="desc">
                <ng-container matColumnDef="event_date">
                    <mat-header-cell *matHeaderCellDef mat-sort-header>{{lang.date}}</mat-header-cell>
                    <mat-cell *matCellDef="let element">{{element.event_date | date : "dd/MM/y HH:mm"}}</mat-cell>
                </ng-container>
                <ng-container matColumnDef="event_type">
                    <mat-header-cell *matHeaderCellDef mat-sort-header>{{lang.event}}</mat-header-cell>
                    <mat-cell *matCellDef="let element"> {{element.event_type}} </mat-cell>
                </ng-container>
                <ng-container matColumnDef="user_id">
                    <mat-header-cell *matHeaderCellDef mat-sort-header>{{lang.user}}</mat-header-cell>
                    <mat-cell *matCellDef="let element"> {{element.user_id}} </mat-cell>
                </ng-container>
                <ng-container matColumnDef="info">
                    <mat-header-cell *matHeaderCellDef mat-sort-header>{{lang.description}}</mat-header-cell>
                    <mat-cell *matCellDef="let element"> {{element.info}} </mat-cell>
                </ng-container>
                <ng-container matColumnDef="remote_ip">
                    <mat-header-cell *matHeaderCellDef mat-sort-header>{{lang.ip}}</mat-header-cell>
                    <mat-cell *matCellDef="let element"> {{element.remote_ip}} </mat-cell>
                </ng-container>
                <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
                <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
            </mat-table>

            <mat-grid-list cols="3" rowHeight="100px">
                <mat-grid-tile>
                </mat-grid-tile>
                <mat-grid-tile>
                </mat-grid-tile>
                <mat-grid-tile>
                    <mat-form-field>
                        <input matInput [(ngModel)]="minDate" [matDatepicker]="picker" placeholder="Depuis" (dateChange)="refreshHistory($event)">
                        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                        <mat-datepicker #picker startView="month" [startAt]="minDate"></mat-datepicker>
                    </mat-form-field>
                </mat-grid-tile>
            </mat-grid-list>
        </div>
    </div>
</div>