<button mat-button [matMenuTriggerFor]="lastresource" *ngIf="!mobileMode && homeData" style="min-width: unset" matTooltip="{{lang.myLastResources}}">
    <mat-icon mat-list-icon class="fa fa-list-ul fa-lg" style="color:white; margin:0px 0px -11px 0px;"></mat-icon></button>
<mat-menu #lastresource="matMenu" class="headerMaarchShortcut">
    <mat-nav-list *ngIf="homeData">
        <mat-list-item *ngFor="let resource of homeData.lastResources">
            <a matLine href="index.php?page=details&dir=indexing_searching&id={{resource.res_id}}" matTooltip="{{resource.subject}}" style="color:#135F7F">{{resource.alt_identifier}}<br>{{resource.subject}}</a>
            <mat-divider></mat-divider>
        </mat-list-item>   
    </mat-nav-list>
</mat-menu>
<button mat-button [matMenuTriggerFor]="applications" *ngIf="!mobileMode && homeData" style="min-width: unset" matTooltip="{{lang.shortcut}}">
    <mat-icon mat-list-icon class="fa fa-th fa-lg" style="color:white; margin:0px 0px -11px 0px;"></mat-icon></button>
<mat-menu #applications="matMenu" class="headerMaarchShortcut">
    <!-- TODO -->
    <button style="white-space:inherit;height: 100px;line-height:20px;" class="col-md-4 col-xs-6" mat-button color="primary">
        <i class="fa fa-users fa-2x"></i>
        <br/>Utilisateurs
    </button>
    <button style="white-space:inherit;height: 100px;line-height:20px;" class="col-md-4 col-xs-6" mat-button color="primary">
        <i class="fa fa-users fa-2x"></i>
        <br/>Utilisateurs
    </button>
    <button style="white-space:inherit;height: 100px;line-height:20px;" class="col-md-4 col-xs-6" mat-button color="primary">
        <i class="fa fa-users fa-2x"></i>
        <br/>Utilisateurs
    </button>
    <button style="white-space:inherit;height: 100px;line-height:20px;" class="col-md-4 col-xs-6" mat-button color="primary">
        <i class="fa fa-users fa-2x"></i>
        <br/>Utilisateurs
    </button>
</mat-menu>
<button mat-button [matMenuTriggerFor]="menu" *ngIf="!mobileMode">
    <mat-icon mat-list-icon class="fa fa-user fa-2x" style="color:white; margin:0px 12px 8px 0px;"></mat-icon>{{user.firstname.charAt(0) | uppercase}}. {{user.lastname | uppercase}}</button>
<mat-menu #menu="matMenu" class="headerMaarch">
    <canvas class="header-bg" width="250" height="70" style="margin-top:-8px;background-image: url('static.php?filename=login-banner.jpg');background-size:cover;border-bottom: solid 1px white;"></canvas>
    <i title="{{lang.myProfileAccess}}" routerLink="/profile" style="cursor:pointer;z-index:1;color:white;position: absolute;left: 85px;top: 17px;background-image: url('static.php?filename=logo_only.svg');width: 70px;height: 70px;background-size: cover;background-position: top center;border-radius: 50%;border: solid white;background-color:white;"></i>
    <div class="content" style="padding-top:10px;color:white;max-height:250px;overflow-y:auto;overflow-x:hidden;">
        <p routerLink="/profile" class="text-center" style="cursor:pointer;">{{user.firstname}} {{user.lastname | uppercase}}</p>
        <mat-list>
            <h3 mat-subheader style="color:white;">{{lang.groups}}</h3>
            <mat-divider></mat-divider>
            <mat-list-item *ngFor="let group of user.groups">
                <p mat-line style="color:white;opacity:0.5;"> {{group.group_desc}} </p>
            </mat-list-item>
            <h3 mat-subheader style="color:white;">{{lang.entities}}</h3>
            <mat-divider></mat-divider>
            <mat-list-item *ngFor="let entity of user.entities">
                <p mat-line style="color:white;opacity:0.5;"> {{entity.entity_label}} </p>
            </mat-list-item>
        </mat-list>
    </div>
    <div style="display:flex;padding: 5px 5px 0 5px;">
        <div style="text-align:left;flex:1">
            <a routerLink="/profile" style="color: white;padding-left: 10px;"><span class="badge" style="background:white;" color="primary">{{lang.myProfile}}</span></a>
        </div>
        <div style="text-align:right;flex:2;">
            <a href="index.php?display=true&page=logout&logout=true" style="color: white;padding-right: 10px;"><span class="badge" style="background:white;" color="primary">{{lang.logout}}</span></a>
        </div>
    </div>

</mat-menu>
