<mat-nav-list>
    <h3 mat-subheader>{{lang.myMenu}}</h3>
    <a mat-list-item routerLink="/profile">
        <mat-icon color="primary" mat-list-icon class="fa fa-user-circle"></mat-icon>
        <p mat-line>
            {{lang.myProfile}}
        </p>
    </a>
    <a mat-list-item href="index.php?display=true&page=logout&logout=true">
        <mat-icon color="warn" mat-list-icon class="fa fa-sign-out-alt"></mat-icon>
        <p mat-line>
            {{lang.logout}}
        </p>
    </a>
</mat-nav-list>