<div class="page-header">
    <h1>{{lang.administration}} {{lang.parameters}}
        <small>{{data.length}} {{lang.parameters}}</small>
    </h1>
</div>
<div *ngIf="loading">
    <mat-spinner style="margin:auto;"></mat-spinner>
</div>
<div *ngIf="!loading" class="container-fluid">
    <div class="col-md-12">
        <div class="example-container">
            <mat-grid-list cols="3" rowHeight="100px">
                <mat-grid-tile>
                    <mat-paginator #paginator [length]="100" [pageSize]="10" [pageSizeOptions]="[10, 25, 50, 100]">
                    </mat-paginator>
                </mat-grid-tile>
                <mat-grid-tile></mat-grid-tile>
                <mat-grid-tile>
                    <mat-form-field>
                        <input matInput (keyup)="applyFilter($event.target.value)" placeholder="{{lang.filterBy}}">
                    </mat-form-field>
                    <button mat-mini-fab color="accent" matTooltip="{{lang.add}}" routerLink="/administration/parameters/new">
                        <mat-icon class="fa fa-plus" aria-hidden="true"></mat-icon>
                    </button>
                </mat-grid-tile>
            </mat-grid-list>
            <mat-table #table [dataSource]="dataSource" matSort matSortActive="id" matSortDirection="asc">
                <ng-container matColumnDef="id">
                    <mat-header-cell *matHeaderCellDef mat-sort-header>{{lang.id}}</mat-header-cell>
                    <mat-cell *matCellDef="let element"> {{element.id}} </mat-cell>
                </ng-container>
                <ng-container matColumnDef="description">
                    <mat-header-cell *matHeaderCellDef mat-sort-header>{{lang.description}}</mat-header-cell>
                    <mat-cell *matCellDef="let element"> {{element.description}} </mat-cell>
                </ng-container>
                <ng-container matColumnDef="param_value_string">
                    <mat-header-cell *matHeaderCellDef mat-sort-header>{{lang.value}}</mat-header-cell>
                    <mat-cell *matCellDef="let element"> {{element.param_value_string}} </mat-cell>
                </ng-container>
                <ng-container matColumnDef="param_value_int">
                    <mat-header-cell *matHeaderCellDef mat-sort-header>{{lang.value}}</mat-header-cell>
                    <mat-cell *matCellDef="let element"> {{element.param_value_int}} </mat-cell>
                </ng-container>
                <ng-container matColumnDef="param_value_date">
                    <mat-header-cell *matHeaderCellDef mat-sort-header>{{lang.value}}</mat-header-cell>
                    <mat-cell *matCellDef="let element"> {{element.param_value_date}} </mat-cell>
                </ng-container>
                <ng-container matColumnDef="actions">
                    <mat-header-cell *matHeaderCellDef></mat-header-cell>
                    <mat-cell *matCellDef="let element" style="text-align:right">
                        <button mat-icon-button color="primary" matTooltip="{{lang.update}}" routerLink="/administration/parameters/{{element.id}}">
                            <mat-icon class="fa fa-edit fa-2x" aria-hidden="true"></mat-icon>
                        </button>
                        <button mat-icon-button color="warn" matTooltip="{{lang.delete}}" (click)="deleteParameter(element.id)">
                            <mat-icon class="fa fa-trash fa-2x" aria-hidden="true"></mat-icon>
                        </button>
                    </mat-cell>
                </ng-container>
                <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
                <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
            </mat-table>
        </div>
    </div>
</div>