<div class="page-header">
    <h1>{{lang.administration}} {{lang.parameters}} <small>{{data.length}} {{lang.parameters}}</small></h1>
</div>
<div *ngIf="loading">
    <md-spinner style="margin:auto;"></md-spinner>
</div>
<div *ngIf="!loading" class="container-fluid">
    <div class="col-md-12">
        <table id ="paramsTable" class="table table-hover table-condensed" [md2Data]="data | dataPipe : 'id' : search" #md2="md2DataTable" [sortBy]='id' [rowsPerPage]="10">
            <thead>
                <tr>
                    <td colspan="5">
                        <md2-pagination></md2-pagination>
                    </td>
                    <td style="text-align:right;">
                        <md-input-container>
                                <input mdInput placeholder="{{lang.filterBy}} : {{lang.id}}" class="searchTable" [(ngModel)]="search" />
                        </md-input-container>
                        &nbsp;
                        <a class="text-primary" style="cursor: pointer" routerLink="/administration/parameters/new" title="{{lang.addUser}}"><i class="fa fa-wrench fa-2x"></i><sup><i class="fa fa-plus"></i></sup></a>
                    </td>
                </tr>
                <tr>
                    <th md2SortBy="id"style="width:10%;"><span>{{lang.id}}</span></th>
                    <th md2SortBy="description"style="width:30%;"><span>{{lang.desc}}</span></th>
                    <th md2SortBy="param_value_string"style="width:10%;"><span>{{lang.value}}</span></th>
                    <th md2SortBy="param_value_int"style="width:10%;"><span>{{lang.value}}</span></th>
                    <th md2SortBy="param_value_date"style="width:10%;"><span>{{lang.value}}</span></th>
                    <th style="width:30%;"><span>&nbsp;</span></th>
                </tr>
            </thead> 
            <tbody>
                <tr *ngFor="let parameter of md2.data">
                        <td style="width:10%;vertical-align:middle;">{{parameter.id}}</td>
                        <td style="width:30%;vertical-align:middle;">{{parameter.description}}</td>
                        <td style="width:10%;vertical-align:middle;">{{parameter.param_value_string}}</td>
                        <td style="width:10%;vertical-align:middle;">{{parameter.param_value_int}}</td>
                        <td style="width:10%;vertical-align:middle;">{{parameter.param_value_date}}</td>
                        <td style="text-align:right;width:30%;">
                            <div class="btn-group" role="group">
                                <button routerLink="/administration/parameters/{{parameter.id}}" type="button" class="btn btn-default" title="{{lang.modify}}">
                                    <a><i style="cursor:pointer" class="fa fa-edit"></i></a>
                                </button>
                                <button type="button" class="btn btn-default" title="{{lang.delete}}" (click)="deleteParameter(parameter.id)">
                                    <a><i style="cursor:pointer;color: #D9534F" class="fa fa-trash"></i></a>
                                </button>
                            </div>
                        </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>