<div class="page-header">
    <h1 *ngIf="!creationMode">{{lang.parameterModification}} <small>{{parameter.id}}</small></h1>
    <h1 *ngIf="creationMode">{{lang.parameterCreation}} <small>{{parameter.id}}</small></h1>
</div>
<div *ngIf="loading">
    <md-spinner style="margin:auto;"></md-spinner>
</div>
<div *ngIf="!loading" class="container-fluid">
    <div class="container-fluid">
        <div class="col-md-6 col-md-offset-3">
            <form class="form-horizontal" (ngSubmit)="onSubmit()" #parameterFormUp="ngForm">
                <div class="form-group">
                    <div class="col-sm-12">
                        <md-input-container>
                            <input mdInput [(ngModel)]="parameter.id" [disabled]="!creationMode" required  name="id" id="id" title="{{lang.id}}" type="text" placeholder="{{lang.id}}" required>                                
                        </md-input-container>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-sm-12">
                        <md-input-container>
                            <input mdInput [(ngModel)]="parameter.description" name="description" id="description" title="{{lang.desc}}" type="text" placeholder="{{lang.desc}}">                                
                        </md-input-container>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-sm-6">
                        <md2-select
                            style="margin-top:10px;" 
                            id="type"
                            name="type"
                            placeholder="{{lang.type}}"
                            [(ngModel)]="type"
                            required
                            [disabled]="!creationMode"
                            #selectType>
                            <md2-option value="string" >{{lang.string}}</md2-option>
                            <md2-option value="int">{{lang.integer}}</md2-option>
                            <md2-option value="date">{{lang.date}}</md2-option>
                        </md2-select>
                    </div>
                    <div class="col-sm-6">
                        
                        <md-input-container *ngIf = "type == 'string'">
                            <input mdInput [(ngModel)]="parameter.param_value_string" name="paramValue" id="paramValue" title="{{lang.value}}" type="text" placeholder="{{lang.value}}">                                
                        </md-input-container>
                        <md-input-container *ngIf = "type == 'int'">
                            <input mdInput [(ngModel)]="parameter.param_value_int" name="paramValue" id="paramValue" title="{{lang.value}}" type="text" placeholder="{{lang.value}}">                                
                        </md-input-container>
                        <md2-datepicker *ngIf = "type == 'date'"
                            name="paramValue"
                            placeholder="{{this.lang.value}}"
                            [(ngModel)]="parameter.param_value_date"
                            mode="auto"
                            format="dd-MM-y"
                            #minDateControl="ngModel" 
                            isOpenOnFocus>
                        </md2-datepicker>
                    </div>
                </div>
                <div class="col-sm-12" style="text-align:center;">
                    <button class="btn btn-default" type="submit" [disabled]="!parameterFormUp.form.valid" >{{lang.validate}}</button>
                    <button class="btn btn-default" routerLink='/administration/parameters'>{{lang.cancel}}</button>
                </div>
            </form>
        </div>
    </div>
</div>
