<div id="resultInfo" class="fade" style="display:none;">
    {{resultInfo}}
</div>
<div>
    <input style="margin : 10px" class="btn btn-default" value="{{lang.controlTechnicalParams}}" (click)="goUrl()" type="button">
    <table id ="paramsTable" class="display" style="width: 100%; min-width: 900px;" width="100%" cellspacing="0" border="0">
            <thead>
                <tr>
                    <th style="width:20%;" valign="bottom" align="left"><span> {{lang.identifier}}</span></th>
                    <th style="width:30%;" valign="bottom" align="left"><span> {{lang.description}} </span></th>
                    <th style="width:30%;" valign="bottom" align="left"><span> {{lang.value}} </span></th>
                    <th><span></span></th>
                    <th><span></span></th>
                </tr>
            </thead> 
            <tbody>
                <tr *ngFor="let parameter of parametersList" id="{{parameter.id}}">
                        <td> {{parameter.id}} </td>
                        <td> {{parameter.description}} </td>
                        <td> {{parameter.param_value_string || parameter.param_value_int || parameter.param_value_date}} </td>
                        <td><a routerLink="/administration/parameter/update/{{parameter.id}}"><i style ="cursor:pointer"  class="fa fa-edit fa-2x" title="{{lang.modifyParameter}}"></i></a></td>
                        <td><i (click)="deleteParameter(parameter.id)"  style ="cursor:pointer; color: #D9534F" class="fa fa-trash fa-2x" title="{{lang.deleteParameter}} {{parameter.id}}"></i></td>
                </tr>
            </tbody>
    </table>
    <i routerLink="/administration/parameter/create" class="fa fa-plus-square fa-3x" style="cursor:pointer; position: absolute; right: 25px; color : #337AB7" title="Nouveau paramètre"></i>
</div>