<div id="resultInfo" class="fade" style="display:none;">
    {{resultInfo}}
</div>
<h1>Priorité {{priority.label_priority}}</h1>
<div>
    <div class="block">
        <div class="forms" style="width:400px;margin:auto;">    
            <form (ngSubmit)="submitPriority()" #signatureForm="ngForm">
                <p>      
                    <label for="label" >Label</label>
                    <input name="label_priority" id="label_priority" type="text" [(ngModel)]="priority.label_priority" required><span class="red_asterisk"><i class="fa fa-star"></i></span>
                </p>
                <p>
                    <label for="color_priority">Couleur</label>
                    <input name="color_priority" style="background:none;border:none;width:45px;" id="color_priority" type="color" value="{{priority.color_priority}}" [(ngModel)]="priority.color_priority" >
                    <span class="red_asterisk"><i class="fa fa-star"></i></span>
                </p>

                <p>
                    <label for="working_days">Jours</label>
                    <select name="working_days" id="working_days" [(ngModel)]="priority.working_days">
                        <option value="Y" [(ngValue)]='Y' >Jours ouvrés</option>
                        <option value="N" [(ngValue)]='N' >Jours calendaires</option>
                    </select>
                    <span class="red_asterisk"><i class="fa fa-star"></i></span>
                </p>

                <p>
                    <label for="delays">Délai de traitement</label>
                    <input name="delays" id="delays" type="text" [(ngModel)]="priority.delays" >
                    <span class="red_asterisk"><i class="fa fa-star"></i></span>
                </p>
                
                <p class="button" style="text-align:center">
                    <button class="btn btn-success" type="submit">Valider</button>
                    <button class="btn btn-warning" routerLink='/administration/priorities'>Annuler</button>
                </p>
            
            </form>     
        </div>
    </div>
</div>