<div *ngIf="loading">
    <i class="fa fa-spinner fa-spin fa-5x" style="margin-left: 50%;margin-top: 16%;font-size: 8em"></i>
</div>
<div *ngIf="!loading" class="container-fluid">
    <h1 style="margin-top: 0"><i class="fa fa-user fa-2x"></i> Administration des priorités</h1>
    <nav class="navbar navbar-default" style="font-size:17px !important;" id="toolBox">
        <div class="container-fluid">
            <div class="navbar-header">
                <a class="navbar-brand" routerLink="/administration" style="cursor: pointer">
                    <i class="fa fa-arrow-circle-left" title="{{lang.back}}"></i>
                </a>
            </div>
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav navbar-right">
                    <li style="cursor: pointer" routerLink="/administration/priorities/new">
                        <a title="Créer une priorité"><i class="fa fa-user-plus"></i></a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
    <div class="col-md-12" style="margin-top: 1%">
        <table id="prioritiesTable" class="display" style="width: 100%" cellspacing="0" border="0">
            <thead>
            <tr>
                <th style="width:20%;" valign="bottom" align="left"><span>Label</span></th>
                <th style="width:20%;" valign="bottom" align="left"><span>Couleur</span></th>
                <th style="width:20%;" valign="bottom" align="left"><span>Délai de traitement</span></th>
                <th style="width:20%;" valign="bottom" align="left"><span>Méthode de calcul</span></th>
                <th style="width:20%;"><span>&nbsp;</span></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let priority of priorities" id="{{priority.id}}">
                <td>{{priority.label_priority}}</td>
                <td><input type="color" value="{{priority.color_priority}}" style="background:none;border:none;width:45px;" disabled></td>
                <td>{{priority.delays}}</td>
                <td *ngIf="priority.working_days =='Y'">Jours ouvrés</td>
                <td *ngIf="priority.working_days =='N'">Jours calendaires</td>
                <td style="text-align:right;">
                    <div class="btn-group" role="group" aria-label="...">
                        <button routerLink="/administration/priorities/{{priority.id}}" type="button" class="btn btn-default" title="{{lang.edit}}">
                            <a><i style="cursor:pointer" class="fa fa-edit"></i></a>
                        </button>
                        <button type="button" class="btn btn-default" title="{{lang.delete}}" (click)="deletePriority(priority)">
                            <a><i style="cursor:pointer;color: #D9534F" class="fa fa-trash"></i></a>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
