<div id="resultInfo" class="fade" style="display:none;">
    {{resultInfo}}
</div>

<div>
    <table id="prioritiesTable">
        <thead>
            <th style="width:20%;" valign="bottom" align="left">Label</th>
            <th style="width:20%;" valign="bottom" align="left">Couleur</th>
            <th style="width:20%;" valign="bottom" align="left">Délai de traitement</th>
            <th style="width:20%;" valign="bottom" align="left">Méthode de calcul</th>
            <th><span></span></th>
            <th><span></span></th>
        </thead>
            <tbody>
                <tr *ngFor="let priority of prioritiesList">
                        <td>{{priority.label_priority}}</td>
                        <td> {{priority.color_priority}} </td>
                        <td> {{priority.working_days}} </td>
                        <td> {{priority.delays}} </td>
                </tr>
            </tbody>
    </table>
</div>