<div class="page-header">
    <h1 *ngIf="!creationMode">{{lang.priorityModification}}
        <small>{{priority.label}}</small>
    </h1>
    <h1 *ngIf="creationMode">{{lang.priorityCreation}}
        <small>{{priority.label}}</small>
    </h1>
</div>
<div *ngIf="loading">
    <mat-spinner style="margin:auto;"></mat-spinner>
</div>
<div *ngIf="!loading" class="container-fluid">
    <div class="col-md-6 col-md-offset-3">
        <form class="form-horizontal" (ngSubmit)="onSubmit()" #priorityForm="ngForm">
            <div class="col-md-11">
                <mat-form-field>
                    <input matInput type="text" name="label" title="{{lang.label}}" placeholder="{{lang.label}}" [(ngModel)]="priority.label"
                        maxlength="128" required>
                </mat-form-field>
            </div>
            <div class="col-md-1">
                <mat-form-field>
                    <input matInput type="color" name="color" [(ngModel)]="priority.color" required>
                </mat-form-field>
            </div>
            <div class="col-md-3">
                <mat-form-field>
                    <span matPrefix><mat-checkbox color="primary" name="useDoctypeDelay"  [(ngModel)]="priority.useDoctypeDelay" matTooltip="Utiliser ce délai de traitement au lieu de celui définit dans le type document"></mat-checkbox>&nbsp;</span>
                    <input matInput [disabled]="!priority.useDoctypeDelay" type="number" name="delays" placeholder="{{lang.processDelay}}" [(ngModel)]="priority.delays" required pattern="^(?!0*(\.0+)?$)(\d+|\d*\.\d+)$">
                </mat-form-field>
            </div>
            <div class="col-md-6">
                <mat-slider [disabled]="!priority.useDoctypeDelay" style="width:100%" name="delays" color="primary" max="60" min="0" thumb-label="true" [(ngModel)]="priority.delays"></mat-slider>
            </div>
            <div class="col-md-3">
                <mat-form-field>
                    <mat-select [disabled]="!priority.useDoctypeDelay" name="processType" placeholder="Type de traitement" [(ngModel)]="priority.working_days">
                        <mat-option value="true">
                            {{lang.workingDays}}
                        </mat-option>
                        <mat-option value="false">
                            {{lang.calDays}}
                        </mat-option>
                    </mat-select>
                </mat-form-field>
            </div>
            <div class="col-md-12 text-center" style="padding:10px;">
                <button mat-raised-button [disabled]="!priorityForm.form.valid" color="primary">{{lang.save}}</button>
                <button mat-raised-button routerLink="/administration/priorities">{{lang.cancel}}</button>
            </div>
        </form>
    </div>
</div>