<div class="page-header">
    <h1>{{lang.administration}} {{lang.reports}}</h1>
</div>
<div *ngIf="loading">
    <mat-spinner style="margin:auto;"></mat-spinner>
</div>
<div *ngIf="!loading" class="container-fluid">
    <div>
        <mat-select placeholder="{{lang.chooseGroup}}" [(ngModel)]="selectedGroup" (change)="loadReports()" name="group">
            <mat-option *ngFor="let group of groups" [value]="group.group_id">
                {{group.group_desc}}
            </mat-option>
        </mat-select>
        <div *ngIf="reports.size() > 0">
            <form class="form-horizontal" (ngSubmit)="onSubmit()">
                {{lang.folders}}
                <div class="form-group">
                    <div *ngFor="let report of reports;let i = index">
                        <mat-checkbox *ngIf="report.module == 'folder'" [(ngModel)]="reports[i].checked" name="checked{{i}}">{{report.label}}</mat-checkbox>
                    </div>
                </div>
                {{lang.entities}}
                <div class="form-group">
                    <div *ngFor="let report of reports;let i = index">
                        <mat-checkbox *ngIf="report.module == 'entities'" [(ngModel)]="reports[i].checked" name="checked{{i}}">{{report.label}}</mat-checkbox>
                    </div>
                </div>
                {{lang.maarchApplication}}
                <div class="form-group">
                    <div *ngFor="let report of reports;let i = index">
                        <mat-checkbox *ngIf="report.module == 'application'" [(ngModel)]="reports[i].checked" name="checked{{i}}">{{report.label}}</mat-checkbox>
                    </div>
                </div>
                <div class="form-group">
                    <div style="text-align:center;">
                        <button type="submit" class="btn btn-success">{{lang.save}}</button>
                        <button mat-raised-button routerLink='/administration'>{{lang.cancel}}</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
