<div class="admin-container" [class.admin-is-mobile]="mobileQuery.matches">
    <mat-toolbar color="primary" class="admin-toolbar">
        <button mat-button (click)="snav.toggle()">
            <mat-icon class="maarchLogo" [svgIcon]="mobileQuery.matches ? 'maarchLogoOnly' : 'maarchLogo'"></mat-icon>
        </button>
        <h1 class="admin-toolbar-title">{{lang.administration}} {{lang.reports}}</h1>
        <span style="flex: 1 1 auto;"></span>
        <menu-top></menu-top>
    </mat-toolbar>
    <mat-sidenav-container class="admin-sidenav-container" [style.marginTop.px]="mobileQuery.matches ? 56 : 0">
        <mat-sidenav #snav [mode]="mobileQuery.matches ? 'over' : 'side'" [fixedInViewport]="mobileQuery.matches" fixedTopGap="56"
            [opened]="mobileQuery.matches ? false : true">
            <menu-nav></menu-nav>
            <mat-divider></mat-divider>
        </mat-sidenav>
        <mat-sidenav-content>
            <div *ngIf="loading" style="display:flex;height:100%;">
                <mat-spinner style="margin:auto;"></mat-spinner>
            </div>
            <mat-card *ngIf="!loading" class="card-app-content">
                <mat-tab-group [(selectedIndex)]="selectedTabIndex_2" *ngIf="!creationMode" (selectedTabChange)="loadReports($event.index)">
                    <mat-tab *ngFor="let group of groups" label="{{group.group_desc}">
                        <ng-template mat-tab-label>
                            {{group.group_desc}}
                        </ng-template>
                        <div *ngIf="loadingOptions">
                            <mat-spinner style="margin:auto;"></mat-spinner>
                        </div>
                        <form>
                            <mat-list *ngIf="reports.size() > 0 && !loadingOptions">
                                {{lang.folders}}
                                <mat-divider></mat-divider>
                                <span *ngFor="let report of reports;let i = index">
                                    <mat-list-item *ngIf="report.module == 'folder'">
                                        <mat-checkbox color="primary" [(ngModel)]="report.checked" (change)="saveReport()" name="report_{{report.module}}_{{i}}"
                                            matTooltip="{{report.desc}}">
                                            {{report.label}}
                                        </mat-checkbox>
                                    </mat-list-item>
                                </span>

                                {{lang.entities}}
                                <mat-divider></mat-divider>
                                <span *ngFor="let report of reports;let i = index">
                                    <mat-list-item *ngIf="report.module == 'entities'">
                                        <mat-checkbox color="primary" [(ngModel)]="report.checked" (change)="saveReport()" name="report_{{report.module}}_{{i}}"
                                            matTooltip="{{report.desc}}">
                                            {{report.label}}
                                        </mat-checkbox>
                                    </mat-list-item>
                                </span>


                                {{lang.maarchApplication}}
                                <mat-divider></mat-divider>
                                <span *ngFor="let report of reports;let i = index">
                                    <mat-list-item *ngIf="report.module == 'application'">
                                        <mat-checkbox color="primary" [(ngModel)]="report.checked" (change)="saveReport()" name="report_{{report.module}}_{{i}}"
                                            matTooltip="{{report.desc}}">
                                            {{report.label}}
                                        </mat-checkbox>
                                    </mat-list-item>
                                </span>
                            </mat-list>
                        </form>
                    </mat-tab>
                </mat-tab-group>
            </mat-card>
        </mat-sidenav-content>
        <mat-sidenav #snav2 [mode]="mobileQuery.matches ? 'over' : 'side'" [fixedInViewport]="mobileQuery.matches" fixedTopGap="56"
            position='end' [opened]="mobileQuery.matches ? false : false">

            <mat-nav-list>
                <h3 mat-subheader>Actions</h3>
            </mat-nav-list>
        </mat-sidenav>
    </mat-sidenav-container>
</div>