<div id="inner_content" class="clearfix">
    <div class="block"> 
          <h2>
            <form name="choose_a_group hide" class="listext_big" id="choose_a_group" method="post">
                    <label>{{lang.group}} :</label>
                    <select name="group_id" id="group_id" (change)="loadGroup();" class="listext_big selectSize form-control ng-untouched ng-pristine">
                        <option>{{lang.selectGroup}} </option>
                        <option class="list-group-item" *ngFor="let group of groups; let i = index;">
                            {{group.group_desc}}
                        </option>
                    </select>
                    <div class="block_end">&nbsp;</div>
            </form>
          </h2>
        <div id = "listReports">
            <div id = "group_box" class ="bloc"> </div>
                <div class="block">
                    <form class="forms hide" name="formgroupreport" id="formCategoryId" mmethod="post" action="http://127.0.0.1/MaarchCourrier/apps/maarch_entreprise/index.php?display=true&module=reports&page=groupreports_up_db">
                            <div (click)="clickOnCategory('folderCheckbox');">
                                <i class="fa fa-plus fa-2x"></i>
                                <b > {{lang.folder}} </b>
                            </div>
                            <div class="category hide" id = "folderCheckbox" >
                                <table> 
                                    <tr *ngFor= "let box of checkboxes;">
                                        <td  *ngIf="box.module == 'folder'">{{box.label}}
                                            <input [checked] ="box.checked" type = "checkbox">
                                        </td>
                                    </tr>
                                </table>
                            </div>
                            <div (click)="clickOnCategory('entitiesCheckbox');" >
                                <i class="fa fa-plus fa-2x"></i>
                                <b> {{lang.entities}} </b>   
                            </div>
                            <div class="category hide" id = "entitiesCheckbox">
                                <table> 
                                    <tr *ngFor= "let box of checkboxes;">
                                        <td  *ngIf="box.module == 'entities'">{{box.label}}
                                            <input [checked] ="box.checked" type = "checkbox"> 
                                        </td>
                                    </tr>
                                </table>
                            </div>
                        <div  (click)="clickOnCategory('applicationCheckbox');" >
                            <i class="fa fa-plus fa-2x"></i>
                                <b > {{lang.mappli}} </b>
                        </div>
                        <div class="category hide" id = "applicationCheckbox">
                            <table> 
                                <tr *ngFor= "let box of checkboxes;">
                                    <td  *ngIf="box.module == 'application'">{{box.label}}
                                        <input [checked] ="box.checked" type = "checkbox"> 
                                    </td>
                                </tr>
                            </table>    
                        </div>
                        <p class="buttons">
                            <input id="groupbutton" name="Submit" value="{{lang.validate}}" class="button" type="submit" (click)="updateDB();">
                            <input class="button" name="cancel" value="{{lang.cancel}}" (click)="window.location.href='http://127.0.0.1/MaarchCourrier/apps/maarch_entreprise/index.php?page=admin&amp;reinit=true';" type="button">
                        </p>
                    </form>
                </div>
            </div>

  