<div id="resultInfo" class="fade" style="display:none;">
    {{resultInfo}}
</div>
<div *ngIf="loading">
    <i class="fa fa-spinner fa-spin fa-5x" style="margin-left: 50%;margin-top: 16%;font-size: 8em"></i>
</div>
<div *ngIf="!loading" class="container-fluid">
    <h1 style="margin-top: 0"><i class="fa fa-file-archive-o fa-2x"></i> Enregistrer un pli numérique</h1>
    <nav class="navbar navbar-default">
        <div class="container-fluid">
            <div class="navbar-header">
                <a class="navbar-brand" href="index.php" style="cursor: pointer">
                    <i class="fa fa-arrow-circle-left" title="Retour"></i>
                </a>
            </div>
        </div>
    </nav>
    <div class="row row-eq-height">
        <div class="col-md-4 col-md-offset-4" style="background-color: #CEE9F1;padding:10px;">
            <h2>Enregistrer un pli numérique</h2>
            <form class="form-horizontal" (ngSubmit)="submitNumericPackage()" #saveNumericPackageForm="ngForm">
              <input id="numericPackageFilePath" type="file" name="files[]"(change)="uploadNumericPackage($event)">
              <br>
              <input type="submit" class="btn btn-success" [disabled]="!saveNumericPackageForm.form.valid" value="Enregistrer">
            </form>
        </div>
    </div>
</div>
