<div class="admin-container" [class.admin-is-mobile]="mobileQuery.matches">
    <mat-toolbar color="primary" class="admin-toolbar">
        <button mat-button (click)="snav.toggle()">
            <mat-icon class="maarchLogo" [svgIcon]="mobileQuery.matches ? 'maarchLogoOnly' : 'maarchLogo'"></mat-icon>
        </button>
        <h1 class="admin-toolbar-title">{{lang.securitiesAdministration}}
        </h1>
        <span style="flex: 1 1 auto;"></span>
        <menu-top></menu-top>
    </mat-toolbar>
    <mat-sidenav-container class="admin-sidenav-container" [style.marginTop.px]="mobileQuery.matches ? 56 : 0">
        <mat-sidenav #snav [mode]="mobileQuery.matches ? 'over' : 'side'" [fixedInViewport]="mobileQuery.matches" fixedTopGap="56"
            [opened]="mobileQuery.matches ? false : true">
            <menu-nav></menu-nav>
            <mat-divider></mat-divider>
        </mat-sidenav>
        <mat-sidenav-content>
            <div *ngIf="loading" style="display:flex;height:100%;">
                <mat-spinner style="margin:auto;"></mat-spinner>
            </div>
            <mat-card *ngIf="!loading" class="card-app-content">
                <mat-tab-group>
                    <mat-tab label="{{lang.password}}">
                        <form (ngSubmit)="onSubmit()" #passwordForm="ngForm">
                            <ng-container *ngFor="let rule of passwordRulesList">
                                <div class="row" style="min-height: 60px;">
                                        <div class="col-md-4" style="margin-top: 15px;">
                                                <mat-slide-toggle *ngIf="rule.label != 'lockTime'" [checked]="rule.enabled" color="primary" (change)="toggleRule(rule);">{{passwordRules[rule.label].label}}</mat-slide-toggle>
                                            </div>
                                            <div class="col-md-8">
                                                <mat-form-field style="padding:10px;" *ngIf="rule.enabled && (rule.label == 'minLength' || rule.label == 'historyLastUse' || rule.label == 'renewal')">
                                                    <input type="number" [name]="rule.label" [(ngModel)]="rule.value" min="1" pattern="^[1-9][0-9]*" matInput placeholder="{{passwordRules[rule.label].label}}"
                                                        required>
                                                    <span matSuffix *ngIf="rule.label == 'minLength'">&nbsp;{{lang.chars}}</span>
                                                    <span matSuffix *ngIf="rule.label == 'renewal'">&nbsp;{{lang.days}}</span>
                                                </mat-form-field>
                                                <div *ngIf="rule.enabled && rule.label == 'lockAttempts'">
                                                    <mat-form-field>
                                                        <input type="number" [name]="rule.label" [(ngModel)]="rule.value" min="1" pattern="^[1-9][0-9]*" matInput placeholder="{{passwordRules[rule.label].label}}"
                                                            required>
                                                        <span matSuffix *ngIf="rule.label == 'minLength'">&nbsp;{{lang.chars}}</span>
                                                        <span matSuffix *ngIf="rule.label == 'renewal'">&nbsp;{{lang.days}}</span>
                                                    </mat-form-field>
                                                </div>
                                                <div *ngIf="rule.enabled && rule.label == 'lockTime'">
                                                    <mat-form-field>
                                                        <input type="number" [name]="rule.label" [(ngModel)]="rule.value" min="1" pattern="^[1-9][0-9]*" matInput placeholder="{{passwordRules[rule.label].label}}"
                                                            required>
                                                        <span matSuffix>&nbsp;{{lang.minutes}}</span>
                                                    </mat-form-field>
                                                </div>
                                            </div>
                                </div>
                                

                            </ng-container>
                            <div class="col-md-12 text-center" style="padding:10px;">
                                <button mat-raised-button type="submit" color="primary" [disabled]="!passwordForm.valid || checkModif()">{{lang.validate}}</button>
                                <button mat-raised-button type="button" color="default" [disabled]="checkModif()" (click)="cancelModification()">{{lang.cancel}}</button>
                            </div>
                        </form>
                    </mat-tab>
                </mat-tab-group>
            </mat-card>
        </mat-sidenav-content>
        <mat-sidenav #snav2 [mode]="mobileQuery.matches ? 'over' : 'side'" [fixedInViewport]="mobileQuery.matches" fixedTopGap="56"
            position='end' [opened]="mobileQuery.matches ? false : false" style="overflow-x:hidden;max-width:500px;">
            <mat-list>
            </mat-list>
        </mat-sidenav>
    </mat-sidenav-container>
</div>