<div id="resultInfo" class="fade" style="display:none;">
    {{resultInfo}}
</div>
<div *ngIf="loading">
    <i class="fa fa-spinner fa-spin fa-5x" style="margin-left: 50%;margin-top: 16%;font-size: 8em"></i>
</div>
<nav class="navbar navbar-default" style="font-size:17px !important;" id="toolBox">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand" routerLink="/administration/status" style="cursor: pointer">
                <i class="fa fa-arrow-circle-left" title="{{lang.back}}"></i>
            </a>
        </div>
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav navbar-right">
                
            </ul>
        </div>
    </div>
</nav>
<h1 style="margin-top: 0"><i class="fa fa-check-circle fa-2x"></i> {{pageTitle}}</h1>
<div class="container-fluid" style="border-left:solid 1px white;border-right:solid 1px white;background-color: #CEE9F1;border-top: solid 2px #FDD16C;border-bottom: solid 2px #FDD16C;padding:10px;">
<div class="col-md-6 col-md-offset-3">
    <form class="form-horizontal" (ngSubmit)="submitStatus()" #statusFormUp="ngForm">
        <div class="form-group">
            <div class="col-sm-12">
                <div class="input-group">
                    <span class="input-group-addon"><i aria-hidden="true" class="fa fa-hashtag" title="{{lang.identifier}}"></i><sup class="mandatory" title="champ requis"><i class="fa fa-asterisk" aria-hidden="true"></i></sup></span>
                    <input [(ngModel)]="status.id" required class="form-control" [disabled]="mode == 'update'" name="id" id="id" title="{{lang.identifier}}" type="text" required>
                </div>
            </div>
        </div>
        <div class="form-group">
            <div class="col-sm-12">
                <div class="input-group">
                    <span class="input-group-addon"><i aria-hidden="true" class="fa fa-tag" title="{{lang.description}}"></i><sup class="mandatory" title="champ requis"><i class="fa fa-asterisk" aria-hidden="true"></i></sup></span>
                    <input class="form-control" name="label_status" id="label_status" [(ngModel)]="status.label_status" title="{{lang.description}}" type="text" required>
                </div>
            </div>
        </div>
        <div class="form-group">
            <div class="col-sm-4">
                <div class="input-group">
                    <span class="input-group-btn">
                        <button data-tooltip-content="#infoSearchableTooltip" class="btn btn-default help" type="button"><i class="fa fa-question-circle"></i></button>
                    </span>
                    <label class="form-control" for="can_be_searched">{{lang.can_be_searched}}</label>
                    <span class="input-group-addon">
                        <input [(ngModel)]="status.can_be_searched" [checked]="status.can_be_searched == 'Y'" name="can_be_searched" id="can_be_searched" type="checkbox">
                    </span>
                </div>
            </div>
            <div class="col-sm-4">
                <div class="input-group">
                    <span class="input-group-btn">
                        <button data-tooltip-content="#infoCanBeModifiedTooltip" class="btn btn-default help" type="button"><i class="fa fa-question-circle"></i></button>
                    </span>
                    <label class="form-control" for="can_be_modified">{{lang.can_be_modified}}</label>
                    <span class="input-group-addon">
                        <input [(ngModel)]="status.can_be_modified" [checked]="status.can_be_modified == 'Y'" type="checkbox" name="can_be_modified" id="can_be_modified">
                    </span>
                </div>
            </div>
            <div class="col-sm-4">
                <div class="input-group">
                    <span class="input-group-btn">
                        <button data-tooltip-content="#infoIsFolderStatusTooltip" class="btn btn-default help" type="button"><i class="fa fa-question-circle"></i></button>
                    </span>
                    <label class="form-control" for="is_folder_status">{{lang.is_folder_status}}</label>
                    <span class="input-group-addon">
                        <input [(ngModel)]="status.is_folder_status" type="checkbox" name="is_folder_status" id="is_folder_status">
                    </span>
                </div>
            </div>
        </div>
        <div id="statusIconList" class="form-group panel panel-default">
            <div class="col-sm-12 panel-heading" style="font-size: 14px;text-align:center;">
                <i class="fa fa-picture-o" aria-hidden="true"></i> {{lang.img_related}}
            </div>
            <div class="col-sm-12 panel-body">
                <button type="button" class="btn btn-default btn-group-lg"><i id="img_0" class="fm fm-letter-status-new"></i></button> 
                <button type="button" class="btn btn-default btn-group-lg"><i id="img_0" class="fm fm-letter-status-inprogress"></i></button> 
                <button type="button" class="btn btn-default btn-group-lg"><i id="img_0" class="fm fm-letter-status-info"></i></button> 
                <button type="button" class="btn btn-default btn-group-lg"><i id="img_0" class="fm fm-letter-status-wait"></i></button> 
                <button type="button" class="btn btn-default btn-group-lg"><i id="img_0" class="fm fm-letter-status-validated"></i></button> 
                <button type="button" class="btn btn-default btn-group-lg"><i id="img_0" class="fm fm-letter-status-rejected"></i></button> 
                <button type="button" class="btn btn-default btn-group-lg"><i id="img_0" class="fm fm-letter-status-end"></i></button> 
                <button type="button" class="btn btn-default btn-group-lg"><i id="img_0" class="fm fm-letter-status-newmail"></i></button> 
                <button type="button" class="btn btn-default btn-group-lg"><i id="img_0" class="fm fm-letter-status-attr"></i></button> 
                <button type="button" class="btn btn-default btn-group-lg"><i id="img_0" class="fm fm-letter-status-arev"></i></button> 
                <button type="button" class="btn btn-default btn-group-lg"><i id="img_0" class="fm fm-letter-status-aval"></i></button> 
                <button type="button" class="btn btn-default btn-group-lg"><i id="img_0" class="fm fm-letter-status-aimp"></i></button> 
                <button type="button" class="btn btn-default btn-group-lg"><i id="img_0" class="fm fm-letter-status-imp"></i></button> 
                <button type="button" class="btn btn-default btn-group-lg"><i id="img_0" class="fm fm-letter-status-aenv"></i></button> 
                <button [ngClass]="[status.img_filename == 'fm-letter-status-acla' ? 'btn-primary' : 'btn-default']" type="button" class="btn btn-group-lg"><i id="img_0" class="fm fm-letter-status-acla"></i></button> 
                <button type="button" class="btn btn-default btn-group-lg"><i id="img_0" class="fm fm-letter-status-aarch"></i></button> 
                <button type="button" class="btn btn-default btn-group-lg"><i id="img_0" class="fm fm-letter"></i></button> 
                <button type="button" class="btn btn-default btn-group-lg"><i id="img_0" class="fm fm-letter-add"></i></button> 
                <button type="button" class="btn btn-default btn-group-lg"><i id="img_0" class="fm fm-letter-search"></i></button> 
                <button type="button" class="btn btn-default btn-group-lg"><i id="img_0" class="fm fm-letter-del"></i></button> 
                <button type="button" class="btn btn-default btn-group-lg"><i id="img_0" class="fm fm-letter-incoming"></i></button> 
                <button type="button" class="btn btn-default btn-group-lg"><i id="img_0" class="fm fm-letter-outgoing"></i></button> 
                <button type="button" class="btn btn-default btn-group-lg"><i id="img_0" class="fm fm-letter-internal"></i></button> 
                <button type="button" class="btn btn-default btn-group-lg"><i id="img_0" class="fm fm-file-fingerprint"></i></button> 
            </div>
        </div>
        <div class="col-sm-12 panel-body" style="text-align:center;">
            <button class="btn btn-default" type="submit" [disabled]="!statusFormUp.form.valid">{{lang.validate}}</button>
            <button class="btn btn-default" routerLink='/administration/status'>{{lang.cancel}}</button>
        </div>
    </form>
</div>
</div>

<div class="tooltip_templates" style="display: none">
    <span id="infoSearchableTooltip">
        Si <b>NON coché</b>,<br/>
        le statut <b>{{status.id}}</b> ne vous sera <b>PAS proposé</b> pour le critère de recherche STATUS de la recherche avancée de documents.
    </span>
    <span id="infoCanBeModifiedTooltip">
        si <b>NON coché</b>,<br/>
        vous ne pourrez <b>PAS modifier</b> les meta-données des documents ayant le statut <b>{{status.id}}</b>.
   </span>
   <span id="infoIsFolderStatusTooltip">
        si <b>coché</b>,<br/>
        Le statut <b>{{status.id}}</b> pourra être utilisé pour des <b>bannettes de dossiers</b>.
   </span>
</div>