<div id="resultInfo" class="fade" style="display:none;">
    {{resultInfo}}
</div>
<div>
    <table id ="statusTable" class="display" style="width: 100%; min-width: 900px;" width="100%" cellspacing="0" border="0">
            <thead>
                <tr>
                    <th style="width:20%;" valign="bottom" align="left"><span> {{lang.identifier}}</span></th>
                    <th style="width:30%;" valign="bottom" align="left"><span> {{lang.description}} </span></th>
                    <th style="width:30%;" valign="bottom" align="left"><span> {{lang.value}} </span></th>
                    <th><span>&nbsp;                         </span></th>
                    <th><span>&nbsp;                         </span></th>
                </tr>
            </thead> 
            <tbody>
                <tr *ngFor="let status of statusList" id="{{status.id}}">
                    <td> {{status.id}} </td>
                    <td> {{status.description}} </td>
                    <td> {{status.param_value_string || status.param_value_int || status.param_value_date}} </td>
                    <td>
                        <a routerLink="/administration/status/update/{{status.id}}"><i style ="cursor:pointer"  class="fa fa-edit fa-2x" title="{{lang.modifyParameter}}"></i></a>
                    </td>
                    <td>
                        <i (click)="deleteParameter(status.id)"  style ="cursor:pointer; color: #D9534F" class="fa fa-trash fa-2x" title="{{lang.deleteParameter}} {{status.id}}"></i>
                    </td>
                </tr>
            </tbody>
    </table>
    <i routerLink="/administration/status/create" class="fa fa-plus-square fa-3x" style="cursor:pointer; position: absolute; right: 25px; color : #337AB7" title="Nouveau statut"></i>
</div>