<div id="resultInfo" class="fade" style="display:none;">
    {{resultInfo}}
</div>

<h1 style="margin-top: 0"><i class="fa fa-check-circle fa-2x"></i> {{pageTitle}}</h1>

<div class="block">
    <div id="status" class="forms" style="width:40%;margin:auto;">    
        <form (ngSubmit)="submitStatus()" #signatureForm="ngForm">

            <div id="create" *ngIf="mode == 'create' ">
                <p>
                    <label for="id" >{{lang.identifier}}</label>
                    <input name="id" id="id" type="text" [(ngModel)]="status.id" required><span class="red_asterisk"><i class="fa fa-star"></i></span>
                </p>
            </div>
            <div id = "update" *ngIf = "mode == 'update'">
                <p>
                    <label for="id" >{{lang.identifier}}</label>
                    <input name="id" id="id" type="text" [(ngModel)]="status.id" required disabled><span class="red_asterisk"><i class="fa fa-star"></i></span>
                </p>
            </div>

            <p>
                <label for="label_status">{{lang.description}}</label>
                <textarea name="label_status" id="label_status" [(ngModel)]="status.label_status" ></textarea>
            </p>

            <p>
                <label for="can_be_searched">{{lang.can_be_searched}}</label>
                <input type="radio" name="can_be_searched" class="check" value="Y" [(ngModel)]="status.can_be_searched">Oui    
                <input type="radio" name="can_be_searched" class="check" value="N" [(ngModel)]="status.can_be_searched">Non
            </p>

            <p>
                <label for="can_be_modified">{{lang.can_be_modified}}</label>
                <input type="radio" name="can_be_modified" class="check" value="Y" [(ngModel)]="status.can_be_modified"checked="checked">Oui    
                <input type="radio" name="can_be_modified" class="check" value="N" [(ngModel)]="status.can_be_modified">Non 
            </p>

            <p>
                <label for="is_folder_status">{{lang.is_folder_status}}</label>
                <input type="radio" name="is_folder_status" class="check" value="Y" [(ngModel)]="status.is_folder_status">Oui                    
                <input type="radio" name="is_folder_status" class="check" value="N" [(ngModel)]="status.is_folder_status">Non
            </p>            

            <p>
                <label for="img_filename">{{lang.img_related}}</label>
                <textarea name="img_filename" id="img_filename" [(ngModel)]="status.img_filename" ></textarea>
            </p>

            <p class="button" style="text-align:center">
                <button class="btn btn-success" type="submit">{{lang.validate}}</button>
                <button class="btn btn-warning" routerLink='/administration/status'>{{lang.cancel}}</button>
            </p>
        
        </form>     
    </div>
</div>
