<div id="resultInfo" class="fade" style="display:none;">
    {{resultInfo}}
</div>

<h1 style="margin-top: 0"><i class="fa fa-check-circle fa-2x"></i> {{pageTitle}}</h1>

<div class="block">
    <div id="status" class="forms" style="width:40%;margin:auto;">    
        <form (ngSubmit)="submitStatus()" #signatureForm="ngForm">

            <div id="create" *ngIf="mode == 'create' ">
                <p>
                    <label for="id" >{{lang.identifier}}</label>
                    <input name="id" id="id" type="text" [(ngModel)]="status.id" required><span class="red_asterisk"><i class="fa fa-star"></i></span>
                </p>
            </div>
            <div id = "update" *ngIf = "mode == 'update'">
                <p>
                    <label for="id" >{{lang.identifier}}</label>
                    <input name="id" id="id" type="text" [(ngModel)]="status.id" required disabled><span class="red_asterisk"><i class="fa fa-star"></i></span>
                </p>
            </div>

            <p>
                <label for="label_status">{{lang.description}}</label>
                <textarea name="label_status" id="label_status" [(ngModel)]="status.label_status" ></textarea>
            </p>

            <p>
                <label for="can_be_searched">{{lang.can_be_searched}}</label>
                <textarea name="can_be_searched" id="can_be_searched" [(ngModel)]="status.can_be_searched" ></textarea>
            </p>

            <p>
                <label for="can_be_modified">{{lang.can_be_modified}}</label>
                <textarea name="can_be_modified" id="can_be_modified" [(ngModel)]="status.can_be_modified" ></textarea>
            </p>

            <p>
                <label for="is_folder_status">{{lang.is_folder_status}}</label>
                <textarea name="is_folder_status" id="is_folder_status" [(ngModel)]="status.is_folder_status" ></textarea>
            </p>            

            <p>
                <label for="img_related">{{lang.img_related}}</label>
                <textarea name="img_related" id="img_related" [(ngModel)]="status.img_related" ></textarea>
            </p>

            <p class="button" style="text-align:center">
                <button class="btn btn-success" type="submit">{{lang.validate}}</button>
                <button class="btn btn-warning" routerLink='/administration/status'>{{lang.cancel}}</button>
            </p>
        
        </form>     
    </div>
</div>
