
<div class="page-header">
    <h1>{{lang.administration}} {{lang.statuses}} <small>{{data.length}} {{lang.statuses}}</small></h1>
</div>
<div *ngIf="loading">
    <md-spinner style="margin:auto;"></md-spinner>
</div>
<div *ngIf="!loading" class="container-fluid">
    <div class="col-md-12">
        <table id="statusTable" class="table table-hover table-condensed" [md2Data]="data | dataPipe : 'label_status' : search" #md2="md2DataTable" [sortBy]='label_status' [rowsPerPage]="10">
            <thead>
                <tr>
                    <td colspan="3">
                        <md2-pagination></md2-pagination>
                    </td>
                    <td style="text-align:right;">
                        <md-input-container>
                                <input mdInput placeholder="{{lang.filterBy}} : {{lang.desc}}" class="searchTable" [(ngModel)]="search" />
                        </md-input-container>
                        &nbsp;
                        <a class="text-primary" style="cursor: pointer" routerLink="/administration/status/new" title="{{lang.addStatus}}"><i class="fa fa-check-circle fa-2x"></i><sup><i class="fa fa-plus"></i></sup></a>
                    </td>
                </tr>
                <tr>
                    <th md2SortBy="id" style="width:50px;"><span>{{lang.imgRelated}}</span></th>
                    <th md2SortBy="img_filename"><span>{{lang.id}}</span></th>
                    <th md2SortBy="label_status"><span>{{lang.desc}}</span></th>
                    <th>&nbsp;</th>
                </tr>
            </thead> 
            <tbody>
                <tr *ngFor="let status of md2.data">
                    <td style="text-align:center;vertical-align:middle;">
                        <i class="fm {{status.img_filename}} fm-2x text-primary" *ngIf="status.img_filename.indexOf('fm') == 0"></i>
                        <i class="fa {{status.img_filename}} fa-2x text-primary" *ngIf="status.img_filename.indexOf('fa') == 0"></i>
                    </td>
                    <td style="vertical-align:middle;">{{status.id}}</td>
                    <td style="vertical-align:middle;">{{status.label_status}}</td>
                    <td style="text-align:right;vertical-align:middle;">
                        <div class="btn-group" role="group" aria-label="...">
                            <button routerLink="/administration/status/{{status.identifier}}" type="button" class="btn btn-default" title="{{lang.edit}}">
                                <a><i style="cursor:pointer" class="fa fa-edit"></i></a>
                            </button>
                            <button type="button" class="btn btn-default" title="{{lang.delete}}" (click)="deleteStatus(status)">
                                <a><i style="cursor:pointer;color: #D9534F" class="fa fa-trash"></i></a>
                            </button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>