<div class="admin-container" [class.admin-is-mobile]="mobileQuery.matches">
    <mat-toolbar color="primary" class="admin-toolbar">
        <button mat-button (click)="snav.toggle()">
            <mat-icon class="maarchLogo" [svgIcon]="mobileQuery.matches ? 'maarchLogoOnly' : 'maarchLogo'"></mat-icon>
        </button>
        <h1 class="admin-toolbar-title">{{lang.updateStatus}}
        </h1>
        <span style="flex: 1 1 auto;"></span>
        <menu-top></menu-top>
    </mat-toolbar>
    <mat-sidenav-container class="admin-sidenav-container" [style.marginTop.px]="mobileQuery.matches ? 56 : 0">
        <mat-sidenav #snav [mode]="mobileQuery.matches ? 'over' : 'side'" [fixedInViewport]="mobileQuery.matches" fixedTopGap="56"
            [opened]="mobileQuery.matches ? false : true">
            <menu-nav></menu-nav>
            <mat-divider></mat-divider>
            <menu-app></menu-app>
        </mat-sidenav>
        <mat-sidenav-content>
            <div *ngIf="loading" style="display:flex;height:100%;">
                <mat-spinner style="margin:auto;"></mat-spinner>
            </div>
            <mat-card *ngIf="!loading" class="card-app-content">
                <form class="form-horizontal" (ngSubmit)="onSubmit()" #updateStatusForm="ngForm">
                    <mat-tab-group (selectedTabChange)="resetInput($event)">
                        <mat-tab label="{{lang.chronoNumber}}">
                            <div class="alert alert-info" role="alert">
                                {{lang.updateStatusInformationsChrono}}
                            </div>
                            <mat-form-field>
                                <input matInput name="chrono" title="{{lang.chronoNumber}}" placeholder="{{lang.chronoNumber}}" [(ngModel)]="chrono">
                            </mat-form-field>
                        </mat-tab>
                        <mat-tab label="{{lang.resId}}">
                            <div class="alert alert-info" role="alert">
                                {{lang.updateStatusInformationsGed}}
                            </div>
                            <mat-form-field>
                                <input type="number" matInput name="resId" title="{{lang.resId}}" placeholder="{{lang.resId}}" [(ngModel)]="resId">
                            </mat-form-field>
                        </mat-tab>
                    </mat-tab-group>
                    <mat-form-field>
                        <input matInput [formControl]="statusCtrl" name="statusesList" placeholder="{{lang.availableStatuses}}" [(ngModel)]="this.statusId"
                            [matAutocomplete]="auto" required>
                        <mat-autocomplete #auto="matAutocomplete">
                            <mat-option *ngFor="let status of filteredStatuses | async" [value]="status.id">
                                {{status.idToDisplay}}
                                <small style="opacity:0.3;">{{status.id}}</small>
                            </mat-option>
                        </mat-autocomplete>

                    </mat-form-field>
                    <div class="form-group">
                        <div class="col-md-12 text-center" style="padding:10px;">
                            <button mat-raised-button [disabled]="(!resId && !chrono) || (resId && chrono) || !statusId" color="primary">{{lang.save}}</button>
                        </div>
                    </div>

                </form>
            </mat-card>
        </mat-sidenav-content>
        <mat-sidenav #snav2 [mode]="mobileQuery.matches ? 'over' : 'side'" [fixedInViewport]="mobileQuery.matches" fixedTopGap="56"
            position='end' [opened]="mobileQuery.matches ? false : false">

            <mat-nav-list>
                <h3 mat-subheader>Actions</h3>
            </mat-nav-list>
        </mat-sidenav>
    </mat-sidenav-container>
</div>