<div id="resultInfo" class="fade" style="display:none;">
    {{resultInfo}}
</div>
<div *ngIf="loading">
    <i class="fa fa-spinner fa-spin fa-5x" style="margin-left: 50%;margin-top: 16%;font-size: 8em"></i>
</div>
<div *ngIf="!loading" class="container-fluid">
    <h1 style="margin-top: 0"><i class="fa fa-user fa-2x"></i> {{lang.admin}} {{lang.users}} : {{users.length}} {{lang.users}}</h1>
    <nav class="navbar navbar-default" style="font-size:17px !important;" id="toolBox">
        <div class="container-fluid">
            <div class="navbar-header">
                <a class="navbar-brand" href="index.php#/administration" style="cursor: pointer">
                    <i class="fa fa-arrow-circle-left" title="{{lang.back}}"></i>
                </a>
            </div>
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav navbar-right">
                    <li style="cursor: pointer" routerLink="/administration">
                        <a data-toggle="modal" data-target="#manageSign" title="{{lang.addUser}}"><i class="fa fa-user-plus"></i></a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
    <div class="col-md-12" style="margin-top: 1%">
        <table id="usersTable" class="display toto" style="width: 100%" cellspacing="0" border="0">
            <thead>
                <tr>
                    <th style="width:15%;" valign="bottom" align="left"><span>{{lang.identifier}}</span></th>
                    <th style="width:20%;" valign="bottom" align="left"><span>{{lang.lastname}}</span></th>
                    <th style="width:20%;" valign="bottom" align="left"><span>{{lang.firstname}}</span></th>
                    <th style="width:5%;" valign="bottom" align="left"><span>{{lang.status}}</span></th>
                    <th style="width:20%;" valign="bottom" align="left"><span>{{lang.mail}}</span></th>
                    <th style="width:20%;"><span>&nbsp;</span></th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let user of users" id="{{user.user_id}}">
                    <td>{{user.user_id}}</td>
                    <td>{{user.lastname}}</td>
                    <td>{{user.firstname}}</td>
                    <td>
                        <span *ngIf="user.status == 'OK' && user.enabled == 'Y'" class="label label-primary">{{lang.enabled}}</span>
                        <span *ngIf="user.status == 'ABS'" class="label label-warning">{{lang.absent}}</span>
                        <span *ngIf="user.enabled == 'N'" class="label label-danger">{{lang.disabled}}</span>
                    </td>
                    <td>{{user.mail}}</td>
                    <td style="text-align:right;">
                        <div class="btn-group" role="group" aria-label="...">
                            <button routerLink="/administration/users/{{user.user_id}}" type="button" class="btn btn-default" title="{{lang.edit}}">
                                <a><i style="cursor:pointer" class="fa fa-edit"></i></a>
                            </button>

                            <button *ngIf="user.enabled == 'Y' && user.inDiffListDest == 'Y'" data-toggle="modal" data-target="#changeDiffListDest" type="button" class="btn btn-default" title="{{lang.suspend}}" (click)="suspendUser(user)">
                                <a><i style="cursor:pointer;color:#f0ad4e;" class="fa fa-pause"></i></a>
                            </button>
                            <button *ngIf="user.enabled == 'Y' && user.inDiffListDest == 'N'" type="button" class="btn btn-default" title="{{lang.suspend}}" (click)="suspendUser(user)">
                                <a><i style="cursor:pointer;color:#f0ad4e;" class="fa fa-pause"></i></a>
                            </button>

                            <button *ngIf="user.enabled == 'N'" type="button" class="btn btn-default" title="{{lang.authorize}}" (click)="activateUser(user)">
                                <a><i style="cursor:pointer;color:#5cb85c;" class="fa fa-check"></i></a>
                            </button>
                            <button *ngIf="user.inDiffListDest == 'Y'" type="button" class="btn btn-default" title="{{lang.delete}}" data-toggle="modal" data-target="#changeDiffListDest" (click)="deleteUser(user)">
                                <a><i style="cursor:pointer;color: #D9534F" class="fa fa-trash"></i></a>
                            </button>
                            <button *ngIf="user.inDiffListDest == 'N'" type="button" class="btn btn-default" title="{{lang.delete}}" (click)="deleteUser(user)">
                                <a><i style="cursor:pointer;color: #D9534F" class="fa fa-trash"></i></a>
                            </button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>

<div class="modal fade" id="changeDiffListDest" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myModalLabel">Changement de destinataire des modèles de liste de diffusion</h4>
            </div>
            <form (ngSubmit)="onSubmit()" #changeDiffListDestForm="ngForm">
                <div class="modal-body">
                    <div class="alert alert-warning" role="alert">
                        <b>{{this.userDestRedirect.firstname}} {{this.userDestRedirect.lastname}}</b> est en <b>destinataire</b> des modèles liste de difffusion suivante, veuillez choisir un utilisateur de <b>remplacement</b> :
                    </div>
                    <div *ngFor="let userDestRedirectModel of userDestRedirectModels" id="{{userDestRedirectModel.object_id}}" class="form-group">
                        <div class="input-group input-group-sm">
                            <span class="input-group-addon" id="sizing-addon1"><i class="fa fa-share-alt-square"></i> {{userDestRedirectModel.object_id}} - {{userDestRedirectModel.description}}</span>
                            <div class="form-group typeahead__container" style="margin-bottom:0px;">
                                <div class="typeahead__field">
                                    <input name="redirectDest_{{userDestRedirectModel.object_id}}" [(ngModel)]="userDestRedirectModel.redirectUserId"  type="text" class="form-control redirectDest" placeholder="Utilisateur" autocomplete="off" aria-describedby="sizing-addon1" required>
                                </div>
                            </div>
                        </div>
                    </div>
                    
                </div>
                <div class="modal-footer">
                    <button *ngIf="userDestRedirect.mode == 'del'" type="button" class="btn btn-danger" (click)="deleteUserModal(userDestRedirect)" [disabled]="!changeDiffListDestForm.form.valid">{{lang.delete}} {{lang.user}}</button>
                    <button *ngIf="userDestRedirect.mode == 'up'" type="button" class="btn btn-warning" (click)="suspendUserModal(userDestRedirect)" [disabled]="!changeDiffListDestForm.form.valid">{{lang.suspend}} {{lang.user}}</button>
                </div>
            </form>
        </div>
    </div>
</div>
