<h2 mat-dialog-title>Administrer les courriers confidentiels</h2>
<mat-dialog-content>
    <form #redirectConfForm="ngForm">
        <div class="modal-body">
            <div class="alert alert-warning" role="alert">
                <p>Cet utilisateur à des <b>courriers confidentiels</b> associés à ce service.</p>
                <p>Il est préférable de les affecter à un autre utilisateur du service.</p>
            </div>
        </div>
        <mat-dialog-actions>
            toto
        </mat-dialog-actions>
    </form>
</mat-dialog-content>