<!--<div class="admin-container" [class.admin-is-mobile]="mobileQuery.matches">
    <mat-toolbar color="primary" class="admin-toolbar">
        <button mat-button (click)="snav.toggle()">
            <mat-icon class="maarchLogo" [svgIcon]="mobileQuery.matches ? 'maarchLogoOnly' : 'maarchLogo'"></mat-icon>
        </button>
        <h1 class="admin-toolbar-title">{{lang.updateVersionControl}}
        </h1>
        <span style="flex: 1 1 auto;"></span>
        <menu-top></menu-top>
    </mat-toolbar>
    <mat-sidenav-container autosize class="admin-sidenav-container" >
        <mat-sidenav #snav [mode]="mobileQuery.matches ? 'over' : 'side'" [fixedInViewport]="mobileQuery.matches" fixedTopGap="56"
            [opened]="mobileQuery.matches ? false : true" style="width:300px;">
            <menu-nav></menu-nav>
            <mat-divider></mat-divider>
        </mat-sidenav>
        <mat-sidenav-content>
            <div>
                Votre version : {{versions.currentVersion}}
                <mat-form-field>
                    <mat-select id="entity_type" name="minorVersions" title="{{lang.availableMinorVersions}}" placeholder="{{lang.entityType}}" maxlength="32" required>
                        <mat-option *ngFor="let minorVersion of versions.currentMinorVersions" [value]="minorVersion.name">
                            {{minorVersion.name}}
                        </mat-option>
                    </mat-select>
                </mat-form-field>
            </div>
        </mat-sidenav-content>
    </mat-sidenav-container>   
</div>-->
<div class="admin-container" [class.admin-is-mobile]="mobileQuery.matches">
    <mat-sidenav-container autosize class="admin-sidenav-container" >
        <mat-sidenav #snav [mode]="mobileQuery.matches ? 'over' : 'side'" [fixedInViewport]="mobileQuery.matches" fixedTopGap="56"
            [opened]="mobileQuery.matches ? false : true">
            <menu-shortcut></menu-shortcut>
            <menu-nav></menu-nav>
        </mat-sidenav>
        <mat-sidenav-content>
            <div *ngIf="loading" style="display:flex;height:100%;">
                <mat-spinner style="margin:auto;"></mat-spinner>
            </div>
            <mat-card *ngIf="!loading" class="card-app-content">
                <div class="alert alert-info" *ngIf="versions.currentMinorVersions.length == 0" style="display: flex;">
                    <mat-icon class="fa fa-check fa-2x" style="flex: 1;text-align: left;"></mat-icon> 
                    <span style="flex: 1;text-align: center;">{{lang.appUpToDate}} !</span>
                    <mat-icon class="fa fa-check fa-2x" style="flex: 1;text-align: right;"></mat-icon>
                </div>
                <div class="alert alert-success" *ngIf="versions.currentMinorVersions.length > 0" style="display: flex;">
                    <mat-icon class="fa fa-info-circle fa-2x" style="flex: 1;text-align: left;"></mat-icon> 
                    <span style="flex: 1;text-align: center;">
                        {{lang.newVersionAvailable}} ! <a style="font-weight: bold;" href="https://labs.maarch.org/maarch/MaarchCourrier/tags/{{versions.currentMinorVersions[versions.currentMinorVersions.length-1]}}" target="_blank">{{versions.currentMinorVersions[versions.currentMinorVersions.length-1]}}</a>
                    </span>
                    <mat-icon class="fa fa-info-circle fa-2x" style="flex: 1;text-align: right;"></mat-icon>
                </div>
                <div class="col-sm-12" style="text-align:center;" *ngIf="versions.currentMinorVersions.length > 0">
                    <button mat-raised-button color="primary" (click)="updateVersionAccess();">{{lang.accessUpdateWizard}}</button>
                </div>
            </mat-card>
        </mat-sidenav-content>
        <mat-sidenav #snav2 [mode]="mobileQuery.matches ? 'over' : 'side'" [fixedInViewport]="mobileQuery.matches" fixedTopGap="56"
            position='end' [opened]="mobileQuery.matches ? false : true" style="overflow-x:hidden;">
            <mat-list>
                <h3 mat-subheader>{{lang.currentVersion}}</h3>
                <mat-list-item>
                        <b>{{versions.currentVersion}}</b>
                    </mat-list-item>
            </mat-list>
        </mat-sidenav>
    </mat-sidenav-container>
</div>
