<div class="admin-container" [class.admin-is-mobile]="mobileQuery.matches">
    <mat-toolbar color="primary" class="admin-toolbar">
        <button mat-button (click)="snav.toggle()">
            <mat-icon class="maarchLogo" [svgIcon]="mobileQuery.matches ? 'maarchLogoOnly' : 'maarchLogo'"></mat-icon>
        </button>
        <h1 class="admin-toolbar-title">{{lang.updateVersionControl}}
        </h1>
        <span style="flex: 1 1 auto;"></span>
        <menu-top></menu-top>
    </mat-toolbar>
    <mat-sidenav-container class="admin-sidenav-container" [style.marginTop.px]="mobileQuery.matches ? 56 : 0">
        <mat-sidenav #snav [mode]="mobileQuery.matches ? 'over' : 'side'" [fixedInViewport]="mobileQuery.matches" fixedTopGap="56"
            [opened]="mobileQuery.matches ? false : true" style="width:300px;">
            <menu-nav></menu-nav>
            <mat-divider></mat-divider>
        </mat-sidenav>
        <mat-sidenav-content>
            <div>
                <mat-form-field>
                        <mat-select id="entity_type" name="minorVersions" title="{{lang.availableMinorVersions}}" placeholder="{{lang.entityType}}"
                                                            maxlength="32" required>
                            <mat-option *ngFor="let minorVersion of versionsList.currentMinorVersions" [value]="minorVersion.name">
                                {{minorVersion.name}}
                            </mat-option>
                        </mat-select>
                    </mat-form-field>
            </div>
        </mat-sidenav-content>
    </mat-sidenav-container>   
</div>
