.mat-icon {
    height: auto;
}
.mat-mini-fab {
    background: white;
    border: solid 1px #280d43;
    color: #280d43;
    box-shadow: none;
    margin-left: 5px;
    margin-right: 5px;
}

.mat-mini-fab:disabled {
    border: solid 1px white;
}